{% load django_bootstrap5 %}
{% load exp_extras %}
{% load web_extras %}
{% button_secondary_classes as btn_secondary_classes %}
{% button_primary_classes as btn_primary_classes %}
<div class="modal modal-lg fade m-5"
     id="studyStateModal"
     tabindex="-1"
     aria-labelledby="studyStateModalLabel"
     aria-hidden="true"
     data-bs-backdrop="static"
     data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="studyStateModalLabel">
                    {% if state == "created" %}
                        This will notify Children Helping Science admins that your study is ready
                        for review. If you make additional changes, you will need to resubmit.
                    {% else %}
                        Are you sure you want to change the status of {{ study.name }}?
                    {% endif %}
                </h5>
            </div>
            <form id="studyStateModalForm"
                  action="{% url 'exp:change-study-status' study.id %}"
                  method="post">
                {% csrf_token %}
                <input type="hidden" name="trigger"/>
                <div class="modal-body">
                    <div id="study-comments-help-text" class="help-text"></div>
                    <textarea class="form-control"
                              rows="5"
                              name="comments-text"
                              placeholder="Please explain what changes need to be made here."></textarea>
                    <p>
                        <span id="study-status-additional-information"></span>
                    </p>
                    <div class="declarations"></div>
                    {% if study.study_type.is_external %}<div class="collecting-data"></div>{% endif %}
                </div>
                <div class="modal-footer">
                    {% url 'exp:study-detail' pk=study.id as url_study_detail %}
                    {% bootstrap_button "Close" href=url_study_detail button_class=btn_secondary_classes %}
                    {% bootstrap_button "Save" value="submit" button_class=btn_primary_classes %}
                </div>
            </form>
        </div>
    </div>
</div>
