{% load django_bootstrap5 %}
<div class="modal fade m-5"
     id="studyStateModal"
     tabindex="-1"
     aria-labelledby="studyStateModalLabel"
     aria-hidden="true"
     data-bs-backdrop="static"
     data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="studyStateModalLabel">Are you sure you want to change the status of {{ study.name }}?</h5>
            </div>
            <form id="studyStateModalForm"
                  action="{% url 'exp:change-study-status' study.id %}"
                  method="post">
                {% csrf_token %}
                <input type="hidden" name="trigger"/>
                <div class="modal-body">
                    <p class="help-text">
                        <span id="study-comments-help-text"></span>
                    </p>
                    <textarea class="form-control"
                              rows="5"
                              name="comments-text"
                              placeholder="Please explain what changes need to be made here."></textarea>
                    <p>
                        <span id="study-status-additional-information"></span>
                    </p>
                    <div class="declarations"></div>
                </div>
                <div class="modal-footer">
                    {% url 'exp:study-detail' pk=study.id as url_study_detail %}
                    {% bootstrap_button "Close" href=url_study_detail button_class="btn-secondary" %}
                    {% bootstrap_button "Save" value="submit" %}
                </div>
            </form>
        </div>
    </div>
</div>
