// Colors
$blue: #147899;
$yellow: #f6d00d;
$red: #ff5f5c;

// Font
$font-family-sans-serif: "Noto Sans", sans-serif;

// Custom color shift values for alert-warning class
$alert-bg-scale-warning: 0%;
$alert-border-scale-warning: -70%;
$alert-color-scale-warning: 100%;
