tr.preview-row {
    background: url('/static/images/preview.svg') repeat transparent;
}

.two-column-list {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}

.list-group-hover .list-group-item:hover:not(.active) {
    background-color: $hovergray;
}

input[type="checkbox"].input-checkbox-hidden {
    display: none;
}

.icon-star-filled {
    color: $yellow;
}

.icon-hidden {
    display: none;
}

select.researcher-editable:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

input[type="checkbox"].researcher-editable:disabled+label .icon-star {
    color: lightgray;
    cursor: not-allowed;
}

.truncate-parent-feedback {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}
