tr.preview-row {
    background: url('/static/images/preview.svg') repeat transparent;
}

.two-column-list {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}

.list-group-hover .list-group-item:hover:not(.active) {
    background-color: $hovergray;
}

input[type="checkbox"].input-checkbox-hidden {
    display: none;
}

.icon-star-filled {
    color: $yellow;
}

.icon-hidden {
    display: none;
}
