tr.preview-row {
    background: url('../images/preview.svg') repeat transparent;
}

.two-column-list {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}

.list-group-hover .list-group-item:hover:not(.active) {
    background-color: $hovergray;
}
