<script>
    function imgError(image, index) {
        image.style.display = 'none';
        var placeholder = document.getElementById('image-placeholder');
        placeholder.style.display = 'block';
    }
</script>

<p class="image-block">
    <img class="study-detail-thumbnail" onerror="imgError(this)" src="{{ object.image.url }}" width="300px">
    <div style="display:none;" class="study-list-placeholder" id="image-placeholder">
          <i aria-hidden="true" class="fa fa-picture-o {% if large %} fa-5x {% endif %}"></i>
    </div>
</p>
