{% load exp_extras %}
{% load bootstrap_icons %}
{% if page.has_previous %}
    <div class="d-flex flex-row mb-5">
        <a aria-label="Go to previous page"
           href="?{% query_transform request page=page.previous_page_number %}{% if anchor %}#{{ anchor }}{% endif %}">{% bs_icon "chevron-left" %}</a>
    {% endif %}
    <span class="current">&nbsp;Page {{ page.number }} of {{ page.paginator.num_pages }} &nbsp;</span>
    {% if page.has_next %}
        <a aria-label="Go to next page"
           href="?{% query_transform request page=page.next_page_number %}{% if anchor %}#{{ anchor }}{% endif %}">{% bs_icon "chevron-right" %}</a>
    {% endif %}
</div>
