{% load bootstrap3 %}
<script>

    // Show the generator function field only if use_generator is checked.
    function updateGeneratorDisplay() {
        if ($('#id_use_generator:checked').length) {
            $('#generator-container').show();
        } else {
            $('#generator-container').hide();
        }
    }

    // Display an error if generator is not a valid JS function. Returns 0 if no errors, 1 if errors.
    function validateGenerator(code) {

        const $errorToDisplay = $('<div id="clientside-generator-validation-message" class="help-block"></div>');
        const $generatorField = $('#id_generator').closest('.form-group');
        $generatorField.removeClass('has-error');
        $('#clientside-generator-validation-message').remove();

        try {
            Function(code)();
            try {
                const generatorFn = Function('return ' + code)();
                if (typeof generatorFn !== 'function') {
                    throw new Error();
                }
            } catch (error) {
                $errorToDisplay
                    .text('Warning: Generator function does not evaluate to a single function. Generator will be disabled if this value is saved.')
                    .insertBefore($generatorField.children().last());
                $generatorField.addClass('has-error');
                return 1;
            }
        } catch (error) {
            $errorToDisplay
                .text('Warning: Invalid Javascript. Generator will be disabled if this value is saved.')
                .insertBefore($generatorField.children().last());
            $generatorField.addClass('has-error');
            return 1;
        }
        return 0;
    }

    // Display an error if structure is not a valid JSON string. Returns 0 if no errors, 1 if errors.
    function validateStructure(code) {
        const $errorToDisplay = $('<div id="clientside-protocol-validation-message" class="help-block"></div>');
        const $protocolField = $('#id_structure').closest('.form-group');
        $protocolField.removeClass('has-error');
        $('#clientside-protocol-validation-message').remove();
        try {
            JSON.parse(code);
        } catch (error) {
            $errorToDisplay
                .text('Warning: Invalid JSON.')
                .insertBefore($protocolField.children().last());
            $protocolField.addClass('has-error');
            return 1;
        }
        return 0;
    }

    // Update a read-only field to display the calculated max age in days
    function updateMaxAgeDaysDisplay() {
        $("#max_age_in_days_val").text(Number($("#id_max_age_years").val()) * 365 + Number($("#id_max_age_months").val()) * 30 + Number($("#id_max_age_days").val()))
    }

    // Update a read-only field to display the calculated min age in days
    function updateMinAgeDaysDisplay() {
        $("#min_age_in_days_val").text(Number($("#id_min_age_years").val()) * 365 + Number($("#id_min_age_months").val()) * 30 + Number($("#id_min_age_days").val()))
    }

    function setExternal() {
            // hide frame player fields through css                
            document
                .querySelectorAll('#type-metadata-1, #structure-container, #generator-container, .use-generator.help-block')
                .forEach(e => e.classList.add('hidden'))
            // disable frame player metadata fields
            document
                .querySelectorAll("#type-metadata-1 input")
                .forEach(e => e.disabled=true)
            // enable external fields
            document
                .querySelectorAll("#type-metadata-2 input")
                .forEach(e => e.disabled=false)
            document
                .querySelector('#id_use_generator')
                .closest('.form-group').classList.add('hidden')
            document.querySelector('#type-metadata-2').classList.remove('hidden')
        }

    function setFramePlayer() {
            // hide external fields through css
            document
                .querySelectorAll('#type-metadata-1, #structure-container, #generator-container, .use-generator.help-block')
                .forEach(e => e.classList.remove('hidden'))
            // enable frame player metadata fields
            document
                .querySelectorAll("#type-metadata-1 input")
                .forEach(e => e.disabled=false)
            // disable external fields
            document
                .querySelectorAll("#type-metadata-2 input")
                .forEach(e => e.disabled=true)
            document.querySelector('#id_use_generator').closest('.form-group').classList.remove('hidden')
            document.querySelector('#type-metadata-2').classList.add('hidden')
        }

    function updateStudyType (externalCheckbox) {
        externalCheckbox.checked ? setExternal() : setFramePlayer()
        updateScheduled()
    }

    function updateScheduled(){
        const external = document.querySelector('#id_external')
        const scheduled = document.querySelector('#id_scheduled')
        scheduled.disabled = !external.checked
    }

    function updateScheduling (scheduledCheckBox) {            
        const scheduling = document.querySelector("#id_scheduling").closest('.form-group')
        if (!scheduledCheckBox.disabled && scheduledCheckBox.checked){
            scheduling.classList.remove("hidden")
        } else {
            scheduling.classList.add("hidden")
        }
    }

    $(document).ready(function() {
        // Do initial validation of structure, generator.
        validateStructure($('#id_structure').val());
        validateGenerator($('#id_generator').val());

        // When use_generator field changes, update whether generator field is displayed
        updateGeneratorDisplay();
        $('#id_use_generator').on('change', function() {
            updateGeneratorDisplay();
        });

        // Validate generator function upon closing its editor
        $("#generator-container .ace-overlay .save, #generator-container .ace-overlay .cancel").bind("click", function () {
            // data field 'editor' bound to editor but only while editor is open
            const code = $('#generator-container .ace-overlay').data('editor').getValue();
            validateGenerator(code);
        });

        // Validate structure function upon closing its editor
        $("#structure-container .ace-overlay .save, #generator-container .ace-overlay .cancel").bind("click", function () {
            // data field 'editor' bound to editor but only while editor is open
            const code = $('#structure-container .ace-overlay').data('editor').getValue();
            validateStructure(code);
        });

        // Use ctrl-S to close editor from either editor.
        $(".ace-overlay .edit").bind("click", function () {
            const $aceOverlay = $(this).closest('.ace-overlay')
            const editor = $aceOverlay.data('editor');
            editor.commands.addCommand({
                name: 'save',
                bindKey: {win: 'Ctrl-S', mac: 'Command-S'},
                exec: function() {
                    $aceOverlay.find('.save').click();
                    // Could also consider triggering save button on broader form
                },
                readOnly: false // should not apply in readOnly mode
            });
        });

        // Upon submit, unset use generator if generator function is invalid
        $("#create-study-button, #save-button").bind("click", function() {
            if (validateGenerator($('#id_generator').val())) {
                const $useGeneratorCheckbox = $('#id_use_generator');
                $useGeneratorCheckbox.prop("checked", false);
                $useGeneratorCheckbox[0].value = false;
            }
        });

        // Calculate the min/max age in day(s) upon page load & updates
        $("#id_min_age_years, #id_min_age_months, #id_min_age_days").change(updateMinAgeDaysDisplay);
        $("#id_max_age_years, #id_max_age_months, #id_max_age_days").change(updateMaxAgeDaysDisplay);
        updateMinAgeDaysDisplay();
        updateMaxAgeDaysDisplay();

        // Update study form based on study type
        const externalCheckbox = document.querySelector('#id_external')
        externalCheckbox.addEventListener('click', () => updateStudyType(externalCheckbox))
        updateStudyType(externalCheckbox)
        
        const scheduledCheckBox = document.querySelector("#id_scheduled")
        scheduledCheckBox.addEventListener('click', ()=>{
            updateScheduling(scheduledCheckBox)
        })
        updateScheduling(scheduledCheckBox)
    });
</script>
{% bootstrap_form_errors form %}
{% bootstrap_field form.name %}
{% bootstrap_field form.public %}
{% bootstrap_field form.shared_preview %}
{% bootstrap_field form.external %}
{% bootstrap_field form.scheduled %}
{% bootstrap_field form.image %}
{% bootstrap_field form.preview_summary %}
{% bootstrap_field form.short_description %}
{% bootstrap_field form.purpose %}
{% bootstrap_field form.compensation_description %}
{% bootstrap_field form.exit_url %}
{% bootstrap_field form.criteria %}
{% bootstrap_field form.criteria_expression %}
<div class="row">
    <div class="col-xs-12">
        <label class="control-label">Minimum Age Cutoff</label>
        <p class="help-block">
            This and the maximum age cutoff are used to check eligibility for studies; families who select a child outside the age range see a warning indicating that their data may not be used. The child's age in days is compared to these (inclusive) min and max ages (computed as years * 365 + months * 30 + days) to check eligibility.
        </p>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label class="control-label" for="id_min_age_years">
                <em>Years</em>
            </label>
            <select name="min_age_years"
                    class="form-control"
                    title=""
                    id="id_min_age_years">
                {% for x, y in form.fields.min_age_years.choices %}
                    <option value="{{ x }}" {% if study.min_age_years == x %} selected{% endif %}>
                        {{ y }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label class="control-label" for="id_min_age_months">
                <em>Months</em>
            </label>
            <select class="form-control"
                    id="id_min_age_months"
                    name="min_age_months"
                    title="">
                {% for x, y in form.fields.min_age_months.choices %}
                    <option value="{{ x }}"{% if study.min_age_months == x %} selected{% endif %}>
                        {{ y }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label class="control-label" for="id_min_age_days">
                <em>Days</em>
            </label>
            <select class="form-control"
                    id="id_min_age_days"
                    name="min_age_days"
                    title="">
                {% for x, y in form.fields.min_age_days.choices %}
                    <option value="{{ x }}" {% if study.min_age_days == x %} selected{% endif %}>
                        {{ y }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label class="control-label" for="min_age_in_days">
                <em>Age in Days</em>
            </label>
            <span class="help-block" id="min_age_in_days_val">0</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <label class="control-label">Maximum Age Cutoff</label>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label class="control-label" for="id_max_age_years">
                <em>Years</em>
            </label>
            <select name="max_age_years"
                    class="form-control"
                    title=""
                    id="id_max_age_years">
                {% for x, y in form.fields.max_age_years.choices %}
                    <option value="{{ x }}" {% if study.max_age_years == x %} selected{% endif %}>
                        {{ y }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label class="control-label" for="id_max_age_months">
                <em>Months</em>
            </label>
            <select class="form-control"
                    id="id_max_age_months"
                    name="max_age_months"
                    title="">
                {% for x, y in form.fields.max_age_months.choices %}
                    <option value="{{ x }}"
                            {% if study.max_age_months == x %} selected{% endif %}>
                        {{ y }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label class="control-label" for="id_max_age_days">
                <em>Days</em>
            </label>
            <select class="form-control"
                    id="id_max_age_days"
                    name="max_age_days"
                    title="">
                {% for x, y in form.fields.max_age_days.choices %}
                    <option value="{{ x }}" {% if study.max_age_days == x %} selected{% endif %}>
                        {{ y }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label class="control-label" for="max_age_in_days">
                <em>Age in Days</em>
            </label>
            <span class="help-block" id="max_age_in_days_val">0</span>
        </div>
    </div>
</div>
{% bootstrap_field form.duration %}
{% bootstrap_field form.contact_info %}
{% bootstrap_field form.lab %}
<div class="row">
    <div class="col-xs-12">
        <label class="control-label">Experiment Details</label>
    </div>
</div>
<div id="structure-container">{% bootstrap_field form.structure %}</div>
{% bootstrap_field form.use_generator %}
<div class="use-generator help-block">{{ form.generator.help_text|safe }}</div>
<div id="generator-container">{% bootstrap_field form.generator show_help=False %}</div>
