{% load django_bootstrap5 %}
{% load static %}
<script src="{% static 'js/study-fields.js' %}"></script>
{% bootstrap_form_errors form %}
{% bootstrap_field form.name label_class="form-label fw-bold" wrapper_class="mb-4" %}
{% bootstrap_field form.lab label_class="form-label fw-bold" wrapper_class="mb-4" %}
{% bootstrap_field form.priority label_class="form-label fw-bold" wrapper_class="mb-4" addon_before="" %}
<hr />
<div class="row">
    <div class="col-xs-12 mb-4">
        <label class="form-label fw-bold">"Studies" Card and Study Detail Page</label>
        <p>Add details about your study and how it should be displayed on Lookit</p>
        {% bootstrap_field form.public %}
        {% bootstrap_field form.shared_preview wrapper_class="" %}
    </div>
</div>
{% bootstrap_field form.image label_class="form-label fw-bold" wrapper_class="mb-4" %}
{% bootstrap_field form.preview_summary label_class="form-label fw-bold" wrapper_class="mb-4" %}
{% bootstrap_field form.short_description label_class="form-label fw-bold" wrapper_class="mb-4" %}
{% bootstrap_field form.purpose label_class="form-label fw-bold" wrapper_class="mb-4" %}
{% bootstrap_field form.compensation_description label_class="form-label fw-bold" wrapper_class="mb-4" %}
{% bootstrap_field form.exit_url label_class="form-label fw-bold" wrapper_class="mb-4" %}
{% bootstrap_field form.criteria label_class="form-label fw-bold" wrapper_class="mb-4" %}
{% bootstrap_field form.duration label_class="form-label fw-bold" wrapper_class="mb-4" %}
{% bootstrap_field form.contact_info label_class="form-label fw-bold" wrapper_class="mb-4" %}
<hr />
<div class="row">
    <div class="col-xs-12">
        <label class="form-label fw-bold">Eligibility</label>
        <p>
            Choose the criteria used to determine if a child is currently eligible for a study. First set the age range and any restrictions on previous studies. Then you can add any additional rules for eligibility. Please visit our
            <a href="https://lookit.readthedocs.io/en/develop/researchers-set-study-fields.html#criteria-expression">documentation</a>
            for more details on how study eligibility works.
        </p>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-xs-12">
        <label class="form-label fw-bold">Minimum Age Cutoff</label>
    </div>
    <div class="col-2">
        <div class="mb-4">
            <label class="form-label" for="id_min_age_years">
                <em>Years</em>
            </label>
            <select name="min_age_years"
                    class="form-control form-select"
                    title=""
                    id="id_min_age_years">
                {% for x, y in form.fields.min_age_years.choices %}
                    <option value="{{ x }}" {% if study.min_age_years == x %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-2">
        <div class="mb-4">
            <label class="form-label" for="id_min_age_months">
                <em>Months</em>
            </label>
            <select class="form-control form-select"
                    id="id_min_age_months"
                    name="min_age_months"
                    title="">
                {% for x, y in form.fields.min_age_months.choices %}
                    <option value="{{ x }}"{% if study.min_age_months == x %} selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-2">
        <div class="mb-4">
            <label class="form-label" for="id_min_age_days">
                <em>Days</em>
            </label>
            <select class="form-control form-select"
                    id="id_min_age_days"
                    name="min_age_days"
                    title="">
                {% for x, y in form.fields.min_age_days.choices %}
                    <option value="{{ x }}" {% if study.min_age_days == x %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-2">
        <label class="form-label" for="min_age_in_days">
            <em>Age in Days</em>
        </label>
        <div>
            <span class="text-muted" id="min_age_in_days_val">0</span>
        </div>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-xs-12">
        <label class="form-label fw-bold">Maximum Age Cutoff</label>
    </div>
    <div class="col-2">
        <div class="mb-4">
            <label class="form-label" for="id_max_age_years">
                <em>Years</em>
            </label>
            <select name="max_age_years"
                    class="form-control form-select"
                    title=""
                    id="id_max_age_years">
                {% for x, y in form.fields.max_age_years.choices %}
                    <option value="{{ x }}" {% if study.max_age_years == x %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-2">
        <div class="mb-4">
            <label class="form-label" for="id_max_age_months">
                <em>Months</em>
            </label>
            <select class="form-control form-select"
                    id="id_max_age_months"
                    name="max_age_months"
                    title="">
                {% for x, y in form.fields.max_age_months.choices %}
                    <option value="{{ x }}" {% if study.max_age_months == x %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-2">
        <div class="mb-4">
            <label class="form-label" for="id_max_age_days">
                <em>Days</em>
            </label>
            <select class="form-control form-select"
                    id="id_max_age_days"
                    name="max_age_days"
                    title="">
                {% for x, y in form.fields.max_age_days.choices %}
                    <option value="{{ x }}" {% if study.max_age_days == x %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-2">
        <label class="form-label" for="max_age_in_days">
            <em>Age in Days</em>
        </label>
        <div>
            <span class="text-muted" id="max_age_in_days_val">0</span>
        </div>
    </div>
</div>
<p class="form-text">
    Families who select a child outside the age range see a warning indicating that their data may not be used. The child's age in days is compared to these (inclusive) min and max ages (computed as years * 365 + months * 30 + days) to check eligibility.
</p>
{% bootstrap_field form.must_have_participated label_class="form-label fw-bold" wrapper_class="mb-4" %}
{% bootstrap_field form.must_not_have_participated label_class="form-label fw-bold" wrapper_class="mb-4" %}
{% bootstrap_field form.criteria_expression label_class="form-label fw-bold" wrapper_class="mb-4" %}
<hr />
<div class="mb-4">
    {% bootstrap_field form.set_response_limit label_class="form-label fw-bold" wrapper_class="mb-2" %}
    <div id="max-responses-container" class="ms-4 mb-0">
         {% bootstrap_label "Maximum Responses" label_class="form-label fw-bold" label_for="id_max_responses" %}
         {% bootstrap_field form.max_responses show_label=False show_help=False field_class="w-25" placeholder="Enter a number" %}
    </div>
</div>
<hr />
{% bootstrap_field form.study_type label_class="form-label fw-bold" wrapper_class="mb-4" %}
