{% load guardian_tags %}
<script>
    $.fn.editable.defaults.mode = 'inline';
    $(document).ready(function(){
        new Clipboard('#copy-link-button');
        $('#private-study-link').attr('readonly', 'readonly');
        $('#copy-link-button').tooltip({
            title: "Copied!",
            trigger: "click",
            placement: "bottom",
        });
        $('.question-icon').tooltip({
            placement: "top",
        });
        $('body').on('hidden.bs.tooltip', function (e) {
            $(e.target).data("bs.tooltip").inState.click = false;
        });

        removeTooltip = function() {
            $('[data-toggle="tooltip"]').tooltip('hide')
        }
    });
    function statusSelected(status) {
        document.getElementsByClassName('current-state')[0].innerHTML = status.value
        var commentsBlock = document.getElementById("rejectionComments");
        var labelBlock = document.getElementsByClassName('comments-block')[0];
        if (status.value === 'reject' && "{{ study_perms }}".indexOf('can_approve_study') !== -1) {
            rejectionComments.disabled = false;
            rejectionComments.classList.remove("comments-text");
            labelBlock.classList.remove("comments-label")

        } else {
            rejectionComments.disabled = true;
            rejectionComments.className += " comments-text";
            rejectionComments.value = "{{ study.comments }}";
            labelBlock.className += " comments-label"
        }
    }
</script>
<div class="well study-detail-block">
    <div class="row">
        <div class="col-xs-12">
            <div >
                <h2 class="study-status"> <span class="pr-sm"> Status:</span> </h2>
                <span style="white-space: nowrap;">
                    <h2 class="study-status"><em>{{study.get_state_display}}</em></h2>
                    <i aria-label="Status information: {{ status_tooltip }}"title="{{ status_tooltip }}" data-toggle="tooltip"  class="question-icon fa fa-question-circle-o"></i>
                 </span>
            </div>
            <div>
              <form class="change-status pt-sm" method="POST" action=""> {% csrf_token %}
                   {% if triggers %}
                        <div class="form-group mt-sm">
                          <select onchange="statusSelected(this)" name=trigger class="form-control" id="statusSelector">
                              <option value="" selected disabled>Change status ... </option>
                              {% for trigger in triggers %}
                                <option name="trigger" value="{{ trigger }}">{{ trigger|title }}</option>
                              {% endfor %}
                          </select>
                        </div>
                        <div class="pt-md">
                            <label class="comments-block comments-label"> Comments: </label>
                            {% get_obj_perms request.user for study as "study_perms" %}
                            <em><textarea id="rejectionComments" class="comments-text rejection-comments" name="comments-text" disabled rows="4" cols="34">{{study.comments}}</textarea></em>
                        </div>
                        <div class="submit-status-panel">
                            <a class="btn btn-default" href="{% url 'exp:study-detail' pk=study.id %}"> Cancel </a>
                            <a data-toggle="modal" class="deleteResearcher btn btn-success btn-sm" href="#statusModal">Save</a>
                        </div>
                    {% endif %}
                    <div class="modal fade" id="statusModal">
                        <form class="well" method="post">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    <h3>Are you sure you want to change the status of {{study.name}}? </h3>
                                </div>
                                <div class="modal-body">
                                   {% csrf_token %}
                                   <p> This will <span class="current-state"> change the status of </span> this study.</p>
                                </div>
                                <div class="modal-footer"> {% csrf_token %}
                                    <a class="btn btn-default" href="{% url 'exp:study-detail' pk=study.id %}"> Cancel </a>
                                   <button {% if 'can_edit_study' not in study_perms %}disabled{% endif %} name="submit" value="submit" class="btn btn-success" type="submit">Save</button>
                                </div>
                          </div>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
