{% extends "exp/base.html" %}
{% load django_bootstrap5 %}
{% load web_extras %}
{% block title %}
    {{ lab.name }}
{% endblock title %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="my-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'exp:lab-list' %}">Labs</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ lab.name }}</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
{% block content %}
    {% url 'exp:lab-edit' pk=lab.id as url_lab_edit %}
    {% url 'exp:lab-members' pk=lab.id as url_lab_members %}
    {% set_variable '<div><a href="'|add:url_lab_edit|add:'">Edit lab</a></div>' as link_edit_lab %}
    {% set_variable '<div><a href="'|add:url_lab_members|add:'">View/manage lab members</a></div>' as link_lab_members %}
    {% if in_this_lab %}
        {% set_variable "<div>You have joined this lab.</div>" as lab_join_message %}
    {% elif requested_this_lab %}
        {% set_variable "<div>You have requested to join this lab.</div>" as lab_join_message %}
    {% else %}
        {% set_variable "" as lab_join_message %}
    {% endif %}
    {% set_variable link_edit_lab|add:link_lab_members|add:lab_join_message as page_title_right_content %}
    {% page_title lab.name right_side_elements=page_title_right_content %}
    <div class="row">
        <div class="col-12">
            <strong>Institution</strong>
            <p>{{ lab.institution }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>Principal investigator</strong>
            <p>{{ lab.principal_investigator_name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>Contact email</strong>
            <p>{{ lab.contact_email }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>Contact phone</strong>
            <p>{{ lab.contact_phone }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>Lab website</strong>
            <p>
                <a href="{{ lab.lab_website }}"
                   target="_blank"
                   rel="noopener noreferrer">{{ lab.lab_website }}</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>Custom URL</strong>
            <p>
                <a href="{% url 'web:lab-studies-list' lab.slug %}"
                   target="_blank"
                   rel="noopener noreferrer">{{ custom_url }}</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>Lab description</strong>
            {{ lab.description|linebreaks }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>IRB contact info</strong>
            <p>{{ lab.irb_contact_info }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>Approved to test:</strong>
            {{ lab.approved_to_test|yesno:"Yes,No" }}
        </div>
    </div>
{% endblock content %}
