{% extends "exp/base.html" %}
{% load django_bootstrap5 %}
{% block title %}
    Update lab
{% endblock title %}
{% block content %}
    {% url 'exp:lab-edit' pk=lab.id as url_lab_edit %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'exp:lab-list' %}">Labs</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'exp:lab-detail' pk=lab.id %}">{{ lab.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Update Lab</li>
        </ol>
    </nav>
    <h1>Update Lab</h1>
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_form form %}
        {% bootstrap_button "Discard Changes" href=url_lab_edit button_class="btn-secondary" %}
        {% bootstrap_button "Save" type="submit" %}
    </form>
{% endblock content %}
