{% extends "exp/base.html" %}
{% load django_bootstrap5 %}
{% load exp_extras %}
{% load web_extras %}
{% block title %}
    Lab members
{% endblock title %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="my-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'exp:lab-list' %}">Labs</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'exp:lab-detail' pk=lab.id %}">{{ lab.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Lab members</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
{% block content %}
    <form method="get" class="search-bar my-5">
        <input id="search-researchers"
               class="form-control"
               name="match"
               placeholder="Filter by researcher name"
               size="50"
               type="text"
               value="{{ match }}" />
        <input type="hidden" name="sort" value="{{ sort }}" />
        <input type="hidden" name="page" value="1" />
    </form>
    <div class="row fw-bold border-bottom py-3 mb-3">
        <div class="col">Researcher Name</div>
        <div class="col">Lab permission group</div>
        {% if can_edit %}<div class="col">Actions</div>{% endif %}
    </div>
    {% for user_obj in lab_members %}
        <div class="card bg-light mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="fw-bold">{{ user_obj.user.identicon_small_html }} {{ user_obj.user.get_full_name }}</div>
                        <div class="small">{{ user_obj.user.username }}</div>
                    </div>
                    <div class="col">{{ user_obj.user_data.group_label }}</div>
                    {% if can_edit %}
                        <div class="col">
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{ user_obj.user.id }}" />
                                <select class="form-select mb-1"
                                        name="user_action"
                                        aria-label="lab memeber action">
                                    <option value="">---</option>
                                    {% if user_obj.user_data.group_label == "Requested to join" %}
                                        <option value="make_guest">Approve request</option>
                                    {% else %}
                                        {% if user_obj.user_data.group_label != "Guest" %}<option value="make_guest">Change to guest</option>{% endif %}
                                        {% if user_obj.user_data.group_label != "Member" %}
                                            <option value="make_member">Change to full lab member</option>
                                        {% endif %}
                                        {% if user_obj.user_data.group_label != "Admin" %}<option value="make_admin">Change to lab admin</option>{% endif %}
                                    {% endif %}
                                    <option value="remove_researcher">Remove from lab</option>
                                    <option value="reset_password">Send password reset email</option>
                                </select>
                                {% form_buttons %}
                                {% bootstrap_button "Submit" %}
                            {% endform_buttons %}
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% empty %}
    <div class="empty-text">No researchers found!</div>
{% endfor %}
{% include "studies/_paginator.html" with page=lab_members_qs %}
{% endblock content %}
