{% extends "exp/base.html" %}
{% load django_bootstrap5 %}
{% load web_extras %}
{% block title %}
    {{ lab.name }}
{% endblock title %}
{% block breadcrumb %}
    {% breadcrumb %}
    {% url 'exp:lab-list' %}Labs
    {{ lab.name }}
{% endbreadcrumb %}
{% endblock breadcrumb %}
{% block content %}
    <div class="d-flex justify-content-between">
        <h1>{{ lab.name }}</h1>
        <div class="d-flex flex-column justify-content-end">
            <a href="{% url 'exp:lab-edit' pk=lab.id %}">Edit lab</a>
            <a href="{% url 'exp:lab-members' pk=lab.id %}">View/Manage lab members</a>
            {% if in_this_lab %}
                You have joined this lab.
            {% elif requested_this_lab %}
                You have requested to join this lab.
            {% else %}
                <form action="{% url 'exp:lab-request' pk=lab.id %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_button "Request to join" %}
                </form>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>Institution</strong>
            <p>{{ lab.institution }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>Principal investigator</strong>
            <p>{{ lab.principal_investigator_name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>Contact email</strong>
            <p>{{ lab.contact_email }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>Contact phone</strong>
            <p>{{ lab.contact_phone }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>Lab website</strong>
            <p>
                <a href="{{ lab.lab_website }}"
                   target="_blank"
                   rel="noopener noreferrer">{{ lab.lab_website }}</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>Custom URL</strong>
            <p>
                <a href="{% url 'web:lab-studies-list' lab.slug %}"
                   target="_blank"
                   rel="noopener noreferrer">{{ custom_url }}</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>Lab description</strong>
            {{ lab.description|linebreaks }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>IRB contact info</strong>
            <p>{{ lab.irb_contact_info }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>Approved to test:</strong>
            {{ lab.approved_to_test|yesno:"Yes,No" }}
        </div>
    </div>
{% endblock content %}
