{% extends "exp/base.html" %}
{% load django_bootstrap5 %}
{% load web_extras %}
{% block title %}
    Create lab
{% endblock title %}
{% block breadcrumb %}
    {% breadcrumb %}
    {% url 'exp:lab-list' %} {{ "Labs" }}
    Create Lab
{% endbreadcrumb %}
{% endblock breadcrumb %}
{% block content %}
    <h1>Create Lab</h1>
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_form form %}
        {% bootstrap_button "Submit" %}
    </form>
{% endblock content %}
