{% extends "exp/base.html" %}
{% load django_bootstrap5 %}
{% load web_extras %}
{% block title %}
    Create lab
{% endblock title %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="my-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'exp:lab-list' %}">Labs</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Create Lab</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
{% block content %}
    {% page_title "Create Lab" %}
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% form_buttons %}
        {% bootstrap_button "Submit" %}
    {% endform_buttons %}
</form>
{% endblock content %}
