{% extends "exp/base.html" %}
{% load django_bootstrap5 %}
{% load web_extras %}
{% block title %}
    Update lab
{% endblock title %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="my-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'exp:lab-list' %}">Labs</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'exp:lab-detail' pk=lab.id %}">{{ lab.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Update Lab</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
{% block content %}
    {% url 'exp:lab-edit' pk=lab.id as url_lab_edit %}
    {% button_primary_classes as btn_primary_classes %}
    {% button_secondary_classes as btn_secondary_classes %}
    {% page_title "Update Lab" %}
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% form_buttons %}
        {% bootstrap_button "Discard Changes" href=url_lab_edit button_class=btn_secondary_classes %}
        {% bootstrap_button "Save" type="submit" button_class=btn_primary_classes %}
    {% endform_buttons %}
</form>
{% endblock content %}
