{% extends "exp/base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load exp_extras %}
{% block title %}
    Labs
{% endblock title %}
{% block content %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>View Labs</h1>
        <div>
            <a class="btn btn-success" href="{% url 'exp:lab-create' %}">{% bs_icon "plus" %} Create Lab</a>
        </div>
    </div>
    <div class="my-4">
        <form method="get">
            <input id="search-labs"
                   class="form-control"
                   name="match"
                   placeholder="Filter by name, PI, or institution"
                   size="50"
                   type="text"
                   value="{{ match }}"/>
            <input type="hidden" name="set" value="{{ set }}"/>
            <input type="hidden" name="page" value="1"/>
        </form>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link{% if set == 'myLabs' %} active{% endif %}"
               href="{% url 'exp:lab-list' %}?{% query_transform request page='1' set='myLabs' %}">
                My Labs
            </a>
        </li>
        {% if can_approve_labs %}
            <li class="nav-item">
                <a class="nav-link{% if set == 'unapproved' %} active{% endif %}"
                   href="{% url 'exp:lab-list' %}?{% query_transform request page='1' set='unapproved' %}">
                    Inactive
                </a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link{% if set == 'all' %} active{% endif %}"
               href="{% url 'exp:lab-list' %}?{% query_transform request page='1' set='all' %}">
                All
            </a>
        </li>
    </ul>
    <div class="row border-bottom py-3 fw-bold">
        <div class="col-3">Name</div>
        <div class="col-3">Institution</div>
        <div class="col-3">PI</div>
        <div class="col-3">Active</div>
    </div>
    {% for lab in object_list %}
        <div class="card bg-light my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <a href="{% url 'exp:lab-detail' pk=lab.id %}">{{ lab.name }}</a>
                    </div>
                    <div class="col-3">{{ lab.institution }}</div>
                    <div class="col-3">{{ lab.principal_investigator_name }}</div>
                    <div class="col-3">
                        <div>{{ lab.approved_to_test|yesno:"Yes,No" }}</div>
                        <div class="small text-muted">
                            {% if lab in user_labs %}
                                You have joined this lab.
                            {% elif lab in user_requested_labs %}
                                You have requested to join this lab.
                            {% else %}
                                <form action="{% url 'exp:lab-request' pk=lab.id %}" method="post">
                                    {% csrf_token %}
                                    {% bootstrap_button "Request to join" button_class="btn-sm btn-primary" %}
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
                <p class="my-3">
                    <em>No labs found!</em>
                </p>
            </div>
        </div>
    {% endfor %}
    {% if object_list %}
        <div class="row pb-lg">
            <div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
                {% include 'studies/_paginator.html' with page=page_obj %}
            </div>
        </div>
    {% endif %}
{% endblock content %}
