{% extends "exp/base.html" %}
{% load bootstrap3 %}
{% load exp_extras %}
{% block title %}
    Lab members
{% endblock title %}
{% block flash %}
    {% bootstrap_messages %}
    {% if form.non_field_errors %}<div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>{% endif %}
{% endblock flash %}
{% block content %}
    <script>
    $(document).ready(function () {
        if ("{{ match }}" !== '') {
            document.getElementById("search-researchers").value = "{{ match }}";
        }
    });
    </script>
    <div class="container mb-lg">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li>
                            <a href="{% url 'exp:lab-list' %}">Labs</a>
                        </li>
                        <li>
                            <a href="{% url 'exp:lab-detail' pk=lab.id %}">{{ lab.name }}</a>
                        </li>
                        <li class="active">Lab members</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row text-center mt-xl">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                <form method="get">
                    <input id="search-researchers"
                           class="form-control"
                           name="match"
                           placeholder="Filter by researcher name"
                           size="50"
                           type="text"/>
                    <input type="hidden" name="sort" value="{{ sort }}"/>
                    <input type="hidden" name="page" value="1"/>
                </form>
            </div>
        </div>
        <div class="row pt-xs">
            <div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-xs-4">
                        <strong>Researcher Name</strong>
                    </div>
                    <div class="col-xs-4">
                        <strong>Lab permission group</strong>
                    </div>
                    <div class="col-xs-4">
                        {% if can_edit %}<strong>Actions</strong>{% endif %}
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row results">
            {% for user_obj in lab_members %}
                <div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 well">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ user_obj.user.id }}" />
                        <div class="row table-block">
                            <div class="col-xs-4">
                                {{ user_obj.user.identicon_small_html }} <strong>{{ user_obj.user.get_full_name }}</strong>
                                {% if can_edit %}
                                    <p>
                                        <strong>Username:</strong> {{ user_obj.user.username }}
                                </p>
                            {% endif %}
                        </div>
                        <div class="col-xs-4 ">{{ user_obj.user_data.group_label }}</div>
                        <div class="col-xs-4">
                            {% if can_edit %}
                                <div class="form-group">
                                    <select class="form-control" name="user_action">
                                        <option value="">
                                            ---
                                        </option>
                                        {% if user_obj.user_data.group_label == "Requested to join" %}
                                            <option value="make_guest">
                                                Approve request
                                            </option>
                                        {% else %}
                                            {% if user_obj.user_data.group_label != "Guest" %}
                                                <option value="make_guest">
                                                    Change to guest
                                                </option>
                                            {% endif %}
                                            {% if user_obj.user_data.group_label != "Member" %}
                                                <option value="make_member">
                                                    Change to full lab member
                                                </option>
                                            {% endif %}
                                            {% if user_obj.user_data.group_label != "Admin" %}
                                                <option value="make_admin">
                                                    Change to lab admin
                                                </option>
                                            {% endif %}
                                        {% endif %}
                                        <option value="remove_researcher">
                                            Remove from lab
                                        </option>
                                        <option value="reset_password">
                                            Send password reset email
                                        </option>
                                    </select>
                                    <button type="submit" class="btn btn-default pull-right mt-sm">Submit</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        {% empty %}
            <div class="row">
                <div class="col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-1">
                    <p>
                        <em>No researchers found!</em>
                    </p>
                </div>
            </div>
        {% endfor %}
        <div class="paginator pt-lg">
            {% if lab_members_qs %}
                <div class="row pb-lg">
                    <div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
                        {% include 'studies/_paginator.html' with page=lab_members_qs %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
