{% extends 'exp/base.html' %}
{% load bootstrap3 %}
{% load exp_extras %}

{% block title %}Responses | {{ study.name }}{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="application/json" id="response-key-value-store">
        {% comment %}
            When we upgrade to django 2.x, please convert to json_script. Please see:
            https://docs.djangoproject.com/en/2.1/ref/templates/builtins/#json-script
        {% endcomment %}
        {{ response_key_value_store | safe }}
    </script>
    <script type="application/javascript">
        const RESET = "reset",
              CONSENT_PENDING = "pending",
              CONSENT_APPROVAL = "accepted",
              CONSENT_REJECTION = "rejected",
              RESPONSE_KEY_VALUE_STORE = JSON.parse(document.querySelector("#response-key-value-store").innerText),
              COMMENTS_CACHE = {};

        $(document).ready(function () {
            /*
             Initialize important elements. $-prepended elements indicate jQuery element.
             */
            // Element Members.
            const $videoElement = $("#video-under-consideration"),
                  $videoSource = $videoElement.find("source"),
                  $videoManager = $("#video-manager"),
                  $videoPreviousButton = $videoManager.find("#nav-video-previous"),
                  $videoNextButton = $videoManager.find("#nav-video-next"),
                  $currentVideoInfo = $("#current-video-information"),
                  $responseComments = $("#response-commentary"),
                  $responseFilterButtons = $("#response-filter-buttons"),
                  $listOfResponses = $("#list-of-responses"),
                  $consentRulingForm = $("#consent-ruling-form"),
                  $approvalsCountBadge = $consentRulingForm.find("#approvals-count"),
                  $rejectionsCountBadge = $consentRulingForm.find("#rejections-count"),
                  $pendingCountBadge = $consentRulingForm.find("#pending-count"),
                  $commentsHiddenInput = $consentRulingForm.find("input[name='comments']"),
                  $resetChoicesButton = $consentRulingForm.find("#reset-choices"),
                  $responseDataSection = $("#response-info-container"),
                  $generalRow = $responseDataSection.find("table#general tbody tr"),
                  $participantRow = $responseDataSection.find("table#participant tbody tr"),
                  $childRow = $responseDataSection.find("table#child tbody tr");

            // Lazily initialized closures (mutable members).
            var currentlyConsideredVideos,
                currentVideoListIndex,
                numberedVideoButtons,
                $currentlySelectedResponse; // jQuery container for response li.

            /*
             Call functions to set components to initial state.
            */
            applyFilterParametersToResponseList(CONSENT_PENDING, $("#filter-pending"));
            $('[data-toggle="tooltip"]').tooltip();

            /*
             "Controller methods" - using closures to mimic class-like behavior.
             */
            function updateBadges() {
                $approvalsCountBadge.text($(`.consent-ruling[name=${CONSENT_APPROVAL}]`).length);
                $rejectionsCountBadge.text($(`.consent-ruling[name=${CONSENT_REJECTION}]`).length);
                $pendingCountBadge.text($(`.consent-ruling[name=${CONSENT_PENDING}]`).length);
            }

            function saveComments() {
                let currentText = $responseComments.val();
                if (currentText) {
                    COMMENTS_CACHE[$currentlySelectedResponse.data("id")] = $responseComments.val();
                }
            }

            function retrieveComments() {
                $responseComments.val(COMMENTS_CACHE[$currentlySelectedResponse.data("id")] || "");
            }

            function applyFilterParametersToResponseList(stateToToggle, $filterButton) {

                let $responseOptions = $listOfResponses.find("a.response-option"),
                    $toShow = $responseOptions.filter(`.${stateToToggle}`),
                    $toHide = $responseOptions.not(`.${stateToToggle}`);

                $toShow.show();
                $toHide.hide();

                $filterButton.addClass("active");
                $filterButton.siblings().removeClass("active");
            }

            function handleRulingActions($button, $responseListItem, responseData) {
                let responseId = responseData["id"],
                    responseRulingHiddenInputId = "consent-ruling-" + responseId,
                    hiddenInputAttrs = {id: responseRulingHiddenInputId, type: "hidden"},
                    $hiddenInput = $consentRulingForm.find("#" + responseRulingHiddenInputId);

                // First, change the UI signaling in the pending list.
                switch ($button.val()) {
                    case RESET:
                        $responseListItem.removeClass(
                            "list-group-item-danger list-group-item-success list-group-item-warning");
                        // if already pending, just break out early after updating badges.
                        $hiddenInput.remove();
                        updateBadges();
                        return;
                    case CONSENT_APPROVAL:
                        $responseListItem.removeClass("list-group-item-danger list-group-item-warning");
                        $responseListItem.addClass("list-group-item-success");
                        hiddenInputAttrs["name"] = CONSENT_APPROVAL;
                        break;
                    case CONSENT_REJECTION:
                        $responseListItem.removeClass("list-group-item-success list-group-item-warning");
                        $responseListItem.addClass("list-group-item-danger");
                        hiddenInputAttrs["name"] = CONSENT_REJECTION;
                        break;
                    case CONSENT_PENDING:
                        $responseListItem.removeClass("list-group-item-danger list-group-item-success");
                        $responseListItem.addClass("list-group-item-warning");
                        hiddenInputAttrs["name"] = CONSENT_PENDING;
                        break;
                }

                // Now, either change or add the hidden form input.
                if ($hiddenInput.length) {
                    $hiddenInput.attr("name", hiddenInputAttrs["name"]);
                } else {  // If it's not there, create a new one...
                    hiddenInputAttrs["value"] = responseId;
                    $consentRulingForm.append($("<input/>", hiddenInputAttrs).addClass("consent-ruling"));
                }

                // ... Finally, update the UI with whatever approval state was changed.
                updateBadges();
            }


            function updateVideoContainer(responseData) {
                // 1) Clear the current container
                $videoPreviousButton.nextUntil($videoNextButton).remove();

                currentlyConsideredVideos = responseData["videos"];
                currentVideoListIndex = 0;

                // 2) Reset video buttons.
                numberedVideoButtons = []; // Empty out current set of buttons.
                currentlyConsideredVideos.forEach((videoObject, index) => {
                    videoObject["pointer"] = index;
                    let $numberedVideoButton = $("<li></li>").data(videoObject);
                    $numberedVideoButton.append(
                        $("<a></a>").text(index + 1)
                    );
                    numberedVideoButtons.push($numberedVideoButton);
                });
                $videoPreviousButton.after(numberedVideoButtons);

                if (currentlyConsideredVideos.length) { // Auto-set first video.
                    let awsUrl = currentlyConsideredVideos[0]["aws_url"];
                    $videoSource.attr("src", awsUrl);
                    numberedVideoButtons[0].addClass("active");
                    $videoElement.load().trigger("play");
                }
            }

            function updateResponseDataSection(responseData) {
                let details = responseData["details"];
                let expData = details["exp_data"];
                $responseDataSection.find("#exp-data").html(JSON.stringify(expData, undefined, 2));

                $generalRow.empty();
                $generalRow.append(Array.from(Object.values(details["general"]), val => $(`<td>${val}</td>`)));

                $participantRow.empty();
                $participantRow.append(Array.from(Object.values(details["participant"]), val => $(`<td>${val}</td>`)));

                $childRow.empty();
                $childRow.append(Array.from(Object.values(details["child"]), val => $(`<td>${val}</td>`)));
            }

            /*
             EVENT LISTENERS.
             XXX: Lots of manual event delegation, to account for constantly-updating elements.
             */
            $responseFilterButtons.on("click", "a[type=button]", function(event) {
                let $filterButton = $(this);

                applyFilterParametersToResponseList($filterButton.attr("id").split("-")[1], $filterButton);
            });

            $listOfResponses.on("click", "a.response-option", function (event) {

                // UI Signal - we're paying attention to this video.
                if ($currentlySelectedResponse) { // If we've got something, deselect it.
                    $currentlySelectedResponse.removeClass("active");
                }

                // Keep these in order for now, figure out a clean way to factor this out later.
                saveComments();
                $currentlySelectedResponse = $(this);
                retrieveComments();

                $currentlySelectedResponse.addClass("active");

                let $target = $(event.target);
                let responseData = $currentlySelectedResponse.data();

                // If it's consent or approval, deal with it.
                if ($target.is("button")) {
                    handleRulingActions($target, $currentlySelectedResponse, responseData);
                } else { // Update the video container with nav buttons.
                    let responseObjects = RESPONSE_KEY_VALUE_STORE[responseData["id"]];
                    updateVideoContainer(responseObjects);
                    updateResponseDataSection(responseObjects);
                }
            });

            $videoManager.on("click", "li", function(event) {
                // Early exit if there's less than two videos.
                if (!currentlyConsideredVideos || currentlyConsideredVideos.length < 2) { return; }

                // Otherwise, get started.
                let $videoNavButton = $(this),
                    navId = $videoNavButton.attr("id"),
                    length = currentlyConsideredVideos.length,
                    videoData, awsUrl;

                numberedVideoButtons.forEach($button => $button.removeClass("active"));

                if (navId === "nav-video-previous") {
                    currentVideoListIndex -= 1;
                    currentVideoListIndex %= length; // rotate backward,
                    videoData = currentlyConsideredVideos[currentVideoListIndex];
                } else if (navId === "nav-video-next") {
                    currentVideoListIndex += 1;
                    currentVideoListIndex %= length; // rotate forward,
                    videoData = currentlyConsideredVideos[currentVideoListIndex];
                } else {
                    videoData = $videoNavButton.data(); // or get the actual index from the element data.
                    currentVideoListIndex = videoData["pointer"];
                }

                // Mark currently active video.
                numberedVideoButtons[currentVideoListIndex].addClass("active");

                awsUrl = videoData["aws_url"];
                $videoSource.attr("src", awsUrl);
                $videoElement.load().trigger("play");
            });

            $consentRulingForm.submit(function(event) {
                // Create comments JSON and append to form.
                saveComments();
                $commentsHiddenInput.val(JSON.stringify(COMMENTS_CACHE));
            });

            $resetChoicesButton.on("click", function() {
                $listOfResponses.find(".response-option").removeClass(
                    "list-group-item-danger list-group-item-success list-group-item-warning");
                $consentRulingForm.find("input.consent-ruling").remove();
                updateBadges();
            });

            $videoSource.on("error", function() {
               $currentVideoInfo.addClass("bg-danger").text("Uh oh, we can't load the video.");
            });

            $videoElement.on("canplay", function() {
                let currentVideo = currentlyConsideredVideos[currentVideoListIndex],
                    timeString = new Date(parseInt(currentVideo["filename"].split("_")[4])).toLocaleString();
                $currentVideoInfo.removeClass("bg-danger").text("Processed: " + timeString);
            });
        });
    </script>

{% endblock %}

{% block flash %}
    {% bootstrap_messages %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class='container mb-lg'>
        <div class='row'>
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{% url 'exp:study-list' %}">Manage Studies</a></li>
                    <li><a href="{% url 'exp:study-detail' pk=study.id %}"> {{ study.name }}</a></li>
                    <li class="active">Consent Manager</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1>Consent Manager</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% include 'studies/_response_nav_tabs.html' with active="manage-consent" %}
            </div>
        </div>
        <div class="row pt-md">
            <section id="response-controls" class="col-md-4 col-xs-12">
                <span id="response-filter-buttons"
                     class="btn-group btn-group-justified"
                     role="group"
                     aria-label="Consent Type Filter">
                    <a id="filter-pending" type="button" class="btn btn-warning">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Pending
                    </a>
                    <a id="filter-accepted" type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Approved
                    </a>
                    <a id="filter-rejected" type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Rejected
                    </a>
                </span>
                <div id="list-of-responses" class="list-group">
                    {% for response in loaded_responses %}
                    <a id="response-option-{{ response.uuid }}"
                       class="response-option list-group-item {{ response.most_recent_ruling }}"
                       data-id="{{ response.uuid }}">
                        <span>
                            <strong>{{ response.date_created | date:"D F n, P e" }}</strong>
                            <p><em class="small">{{ response.comment_or_reason_for_absence }}</em></p>
                        </span>
                        <div class="btn-group-xs pull-right" role="group">
                            <button type="button" value="reset"
                                    class="btn btn-xs btn-default glyphicon glyphicon-repeat"
                                    data-toggle="tooltip" data-placement="left" title="Reset your ruling."></button>
                            {%  if not response.pending_consent_judgement %}
                                <button type="button" value="pending"
                                        class="btn btn-xs btn-warning glyphicon glyphicon-question-sign"></button>
                            {% endif %}
                            {% if not response.has_valid_consent %}
                                <button type="button" value="accepted"
                                    class="btn btn-xs btn-success glyphicon glyphicon-thumbs-up"></button>
                            {% endif %}
                            {% if not response.currently_rejected %}
                                <button type="button" value="rejected"
                                        class="btn btn-xs btn-danger glyphicon glyphicon-thumbs-down"></button>
                            {% endif %}
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </section>
            <section class="col-md-4 col-xs-12">
                <div class="video-container">
                    <section class="panel panel-default">
                        <div id="current-video-information" class="panel-body">
                          {# Basic video information/warnings go here. #}
                        </div>
                    </section>
                    <video controls id="video-under-consideration" height="270" width="360">
                        <source src="" type="video/mp4">
                    </video>
                    <textarea id="response-commentary"
                              class="form-control"
                              placeholder="Comment on session. These will be saved upon submit."></textarea>
                    <div class="btn-toolbar" id="video-manager">
                        <nav aria-label="Video navigation">
                            <ul class="pagination">
                                <li id="nav-video-previous">
                                    <a aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {# list items go here#}
                                <li id="nav-video-next">
                                    <a aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>
            <form id="consent-ruling-form" class="col-md-4 col-xs-12 well" method="POST">{% csrf_token %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">
                        Revert to Pending <span id="pending-count" class="badge">0</span>
                    </li>
                    <li class="list-group-item list-group-item-success">
                        Approvals <span id="approvals-count" class="badge">0</span>
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Rejections <span id="rejections-count" class="badge">0</span>
                    </li>
                </ul>
                <input name="comments" type="hidden" value="{}"/>
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                    Submit Rulings & Comments <span class="glyphicon glyphicon-send"></span>
                </button>
                <button id="reset-choices" type="button" class="btn btn-default btn-lg btn-block">
                    Reset Current Choices <span class="glyphicon glyphicon-repeat"></span>
                </button>
            </form>
        </div>
        <div id="response-info-container" class="row pt-md well">
            <h2>Session Data</h2>
            <h3>General Information</h3>
            <table id="general" class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>UUID</th>
                        <th>Sequence</th>
                        <th>Conditions</th>
                        <th>Global Event Timing</th>
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {# General data inserted here #}
                    </tr>
                </tbody>
            </table>
            <h3>Participant Information</h3>
            <table id="participant" class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>UUID</th>
                        <th>Nickname</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {# Participant data inserted here #}
                    </tr>
                </tbody>
            </table>
            <h3>Child Information</h3>
            <table id="child" class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>UUID</th>
                        <th>Name</th>
                        <th>Birthday</th>
                        <th>Gender</th>
                        <th>Age at Birth</th>
                        <th>Additional Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {# Child data inserted here #}
                    </tr>
                </tbody>
            </table>
            <h3>Full Session Data</h3>
            <pre class="center-block" id="exp-data">
                {# Experiment data appended here #}
            </pre>
        </div>
    </div>
{% endblock %}