{% extends 'exp/base.html' %}
{% load bootstrap3 %}
{% load exp_extras %}
{% load static %}

{% block title %}Responses | {{ study.name }}{% endblock %}
{% block head %}
    {{ block.super }}
    <style>
        tr.preview-row {
          background: url('{% static 'exp/img/preview.svg' %}') repeat transparent;
        }
    </style>
    <script type="application/javascript">
        $(document).ready(function(){
            hideResponses();
            $( ".selectable-participant").first().addClass('selected');
            let currentResponseId = $(".selectable-participant.selected").data("response-id");
            let currentResponseUuid = $(".selectable-participant.selected").data("response-uuid");
            showResponse('JSON', 1)
            console.log($(".selectable-participant.selected"));
            showFeedbackList(currentResponseId);
            $( ".response-data").first().show();
            $( ".response-attachments").first().show();

            $('.selectable-participant').click(function() {
                // Shows selected individual's response data
                var id = $(this)[0].id;
                var index = extractIdNumber(id);
                let responseId = $(this).data("response-id");
                $('.selectable-participant').removeClass('selected');
                $('#' + id).addClass('selected');
                hideResponses();
                showResponse($('#data-type-selector').val(), index);
                showAttachments(index);
                showFeedbackList(responseId);
            });

            $('#data-type-selector').on('change', function(){
                // Toggles individual responses between CSV and JSON format
                var selected = $(this).find("option:selected").val();
                var index = extractIdNumber($('.selectable-participant.selected')[0].id);
                hideResponses();
                showResponse(selected, index);
                $('#download-data-label').text(selected);
            });

            function prepareDataForDownload(dataClassOrId, buttonId, label, ext) {
                // Preps Download All button to download either all JSON or all CSV responses
                var data = "data:text/json;charset=utf-8," + encodeURIComponent($(dataClassOrId).html());
                var elem = $('#' + 'download-individual-data')[0];
                if (data && elem) {
                    elem.href = data;
                    let study_name_safe = '{{study.name}}'.replace(/[^a-z0-9]/gi, '-');
                    elem.download = study_name_safe + '_' + label + '.' + ext;
                }
            }
            function showAttachments(index) {
                $('.response-attachments').hide();
                $('#resp-attachment-' + index).show();
            }

            function showFeedbackList(responseId) {
                $('.feedback-list').hide();
                $('#response-id-for-feedback').val(responseId);
                $(`#feedback-list-for-${responseId}`).show();
            }

            function extractIdNumber(id) {
                return id.split('-').slice(-1)[0];
            }

            function showResponse(dataType, index) {
                // Shows individual response
                if (dataType === 'JSON') {
                    $('#response-data-' + index).show();
                    prepareDataForDownload('#json-data-' + index, 'download-individual-data', currentResponseUuid + '_data', 'json');
                } else if (dataType === 'CSV summary') {
                    $('#csv-response-data-' + index).show();
                    prepareDataForDownload('#csv-data-' + index, 'download-individual-data', currentResponseUuid + '_summary-data', 'csv');
                } else if (dataType === 'CSV frame data') {
                    $('#frame-response-data-' + index).show();
                    prepareDataForDownload('#frame-data-' + index, 'download-individual-data', currentResponseUuid + '_frames', 'csv');
                } else if (dataType === 'JSON with identifiable data') {
                    $('#response-data-full-' + index).show();
                    prepareDataForDownload('#json-data-full-' + index, 'download-individual-data', currentResponseUuid + '_data-identifiable', 'json');
                } else if (dataType === 'CSV summary with identifiable data') {
                    $('#csv-response-data-full-' + index).show();
                    prepareDataForDownload('#csv-data-full-' + index, 'download-individual-data', currentResponseUuid + '_summary-data-identifiable', 'csv');
                }
            }

            function hideResponses() {
                // Hides all responses
                $('.response-data').hide();
                $('.csv-response-data').hide();
                $('.frame-response-data').hide();
                $('.response-data-full').hide();
                $('.csv-response-data-full').hide();
            };
        });

    </script>
    {{ form.media }}
{% endblock %}

{% block flash %}
  {% bootstrap_messages %}
  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
      {{ form.non_field_errors }}
  </div>
  {% endif %}
{% endblock %}

{% block content %}
<div class='container mb-lg'>
    <div class='row'>
        <div class="col-xs-12">
            <ol class="breadcrumb">
              <li><a href="{% url 'exp:study-list' %}">Manage Studies</a></li>
              <li><a href="{% url 'exp:study-detail' pk=study.id %}"> {{ study.name }}</a></li>
              <li class="active"> Individual Responses </li>
            </ol>
        </div>
    </div>
    <div class='row'>
        <div class="col-xs-12">
            <h1>Individual Responses</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% include 'studies/_response_nav_tabs.html' with active="individual" %}
        </div>
    </div>
    {% if responses %}
        <div class="row pt-md">
            <div class="col-md-6 col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    
                                </th>
                                <th>
                                    Child ID
                                </th>
                                <th>
                                    Response UUID
                                </th>
                                <th>
                                    Status
                                    <a class="pl-md" href="{% url 'exp:study-responses-list' study.id %}?{% query_transform request sort='status' %}"><i class="fa fa-chevron-up" role="button"></i></a>
                                    <a href="{% url 'exp:study-responses-list' study.id %}?{% query_transform request sort='-status' %}"><i class="fa fa-chevron-down" role="button"></i></a>
                                </th>
                                <th>
                                    Date
                                    <a class="pl-sm" href="{% url 'exp:study-responses-list' study.id %}?{% query_transform request sort='date_created' %}"><i class="fa fa-chevron-up" role="button"></i></a>
                                    <a href="{% url 'exp:study-responses-list' study.id %}?{% query_transform request sort='-date_created' %}"><i class="fa fa-chevron-down" role="button"></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for response in response_data %}
                          <tr class='selectable-participant {% if response.response.is_preview %} preview-row {% endif %}' id='response-participant-{{ forloop.counter }}' data-response-id="{{ response.response.id }}" data-response-uuid="{{ response.response.uuid }}">
                            <td>{% if response.response.is_preview %}P{% endif %}</td>
                            <td>{{ response.child.hashed_id }}</td>
                            <td>{{ response.response.uuid|truncatechars:11 }} </td>
                            <td>{% if response.response.completed %} Complete {% else %} Incomplete {% endif %} </td>
                            <td>{{ response.response.date_created|date:"n/j/Y g:i A"|default:"N/A" }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if can_edit_feedback %}
                        <form method="POST" class="form-inline">{% csrf_token %}
                            <h4>New Feedback</h4>
                            <section class="form-group">
                                <label class="sr-only" for="response-feedback">
                                    Response feedback
                                </label>
                                <textarea
                                        id="response-feedback"
                                        class="form-control"
                                        name="comment"
                                        rows="4"
                                        cols="50"></textarea>
                                <input id="response-id-for-feedback" type="hidden" name="response_id" value=0 />
                                <button class="btn mt-sm btn-primary" type="submit">Create</button>
                            </section>
                        </form>
                    {% endif %}
                    <section class="mt-md">
                        <h4>Existing Feedback:</h4>
                        {% for response in responses %}
                            <div id="feedback-list-for-{{ response.id }}" class="feedback-list">
                            {% for feedback in response.feedback.all %}
                                {% if can_edit_feedback %}
                                <form method="POST" class="small form-inline">{% csrf_token %}
                                    <div class="form-group">
                                        <label class="sr-only"
                                               for="feedback-edit-{{ feedback.id }}">
                                            <strong>Edit Feedback</strong>
                                        </label>

                                        <textarea id="feedback-edit-{{ feedback.id }}"
                                                  class="form-control"
                                                  name="comment"
                                                  rows="2"
                                                  cols="50">{{ feedback.comment }}</textarea>
                                        <input type="hidden" name="feedback_id" value="{{ feedback.id }}" />
                                        <button type="submit" class="btn btn-xs btn-warning">Update</button>
                                        <footer class="pt-sm pb-sm">
                                            {{ feedback.researcher.get_full_name }}
                                        </footer>
                                    </div>
                                </form>
                                {% else %}
                                <p>{{ feedback.comment }}</p>
                                <footer class="pt-sm pb-sm">
                                    {{ feedback.researcher.get_full_name }}
                                </footer>
                                {% endif %}
                                {% empty %}
                                No feedback
                            {% endfor %}
                            </div>
                        {% endfor %}
                    </section>
                </div>
                {% include 'studies/_paginator.html' with page=responses %}
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group pt-xxxl">
                    <label for="data-type-selector">Data Type</label>
                    <select class="form-control" id="data-type-selector">
                        <option>JSON</option>
                        <option>JSON with identifiable data</option>
                        <option>CSV summary</option>
                        <option>CSV summary with identifiable data</option>
                        <option>CSV frame data</option>
                    </select>
                </div>
                <a id='download-individual-data' class='btn mb-sm btn-primary'>
                    Download individual response <span id="download-data-label">JSON </span>
                </a>
                {% for response in response_data %}
                    <div class='response-data' id='response-data-{{ forloop.counter }}' style="display:none">
                        <pre class='json-data individual-block' id='json-data-{{ forloop.counter }}'>{{ response | pretty_json }}</pre>
                    </div>
                {% endfor %}
                {% for csv in csv_data %}
                    <div class='csv-response-data' id='csv-response-data-{{ forloop.counter }}' style="display:none">
                        <pre class='csv-data individual-block' id='csv-data-{{ forloop.counter }}'>{{ csv }}</pre>
                    </div>
                {% endfor %}
                {% for csv in frame_data %}
                    <div class='frame-response-data' id='frame-response-data-{{ forloop.counter }}' style="display:none">
                        <pre class='frame-data individual-block' id='frame-data-{{ forloop.counter }}'>{{ csv }}</pre>
                    </div>
                {% endfor %}
                {% for csv in csv_data_full %}
                    <div class='csv-response-data-full' id='csv-response-data-full-{{ forloop.counter }}' style="display:none">
                        <pre class='csv-data-full individual-block' id='csv-data-full-{{ forloop.counter }}'>{{ csv }}</pre>
                    </div>
                {% endfor %}
                {% for response in response_data_full %}
                    <div class='response-data-full' id='response-data-full-{{ forloop.counter }}' style="display:none">
                        <pre class='json-data-full individual-block' id='json-data-full-{{ forloop.counter }}'>{{ response | pretty_json }}</pre>
                    </div>
                {% endfor %}

                <div class="pb-md">
                    <h2> Videos </h2>
                    {% for response in responses %}
                        <div class='response-attachments' id='resp-attachment-{{ forloop.counter }}' style="display:none">
                            {% for video in response.videos.all %}
                                <div class="row pt-xs">
                                    <form method="POST"> {% csrf_token %}
                                        <div class="col-xs-9">
                                            {{ video.full_name }}
                                        </div>
                                        <div class="col-xs-3">
                                            <button name="attachment" type="submit" value="{{video.id}}" class="btn btn-primary btn-sm"> Download </button>
                                        </div>
                                    </form>
                                </div>
                            {% empty %}
                                <p><em> Expect a delay of a few minutes for videos to be available for download. </em></p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
        	<div class="col-xs-12">
                <p class="pt-md"><em>No responses with confirmed consent.</em></p>
        	</div>
    	</div>
    {% endif %}
</div>
{% endblock %}
