{% extends "exp/base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load exp_extras %}
{% load web_extras %}
{% block title %}
    Studies
{% endblock title %}
{% block content %}
    {% bs_icon "plus" as bs_icon_plus %}
    {% url 'exp:study-create' as url_study_create %}
    {% button_primary_classes as btn_primary_classes %}
    {% bootstrap_button bs_icon_plus|add:"Create Study" href=url_study_create button_class=btn_primary_classes as btn_create_study %}
    {% if can_create_study %}
        {% page_title "Manage Studies" btn=btn_create_study %}
    {% else %}
        {% page_title "Manage Studies" %}
    {% endif %}
    <div class="row mx-5">
        <form method="get">
            <input id="search-studies"
                   class="form-control"
                   name="match"
                   placeholder="Filter name or description"
                   size="50"
                   type="text"
                   value="{{ match }}"/>
            <input type="hidden" name="sort" value="{{ sort }}"/>
            <input type="hidden" name="state" value="{{ state }}"/>
            <input type="hidden" name="page" value="1"/>
        </form>
    </div>
    <div class="row text-center mb-5 mt-2">
        <ul class="nav nav-pills justify-content-center">
            {% nav_link request 'exp:study-list-active' 'Active' %}
            {% nav_link request 'exp:study-list-paused' 'Paused' %}
            <li class="p-2">|</li>
            {% nav_link request 'exp:study-list-created' 'Created' %}
            {% nav_link request 'exp:study-list-submitted' 'Submitted' %}
            {% nav_link request 'exp:study-list-rejected' 'Rejected' %}
            {% nav_link request 'exp:study-list-approved' 'Approved' %}
            <li class="p-2">|</li>
            {% nav_link request 'exp:study-list-deactivated' 'Deactivated' %}
            <li class="p-2">|</li>
            {% nav_link request 'exp:study-list-mystudies' 'My Studies' %}
            {% nav_link request 'exp:study-list' 'All' %}
        </ul>
    </div>
    <div class="row mx-1 pb-3 border-bottom">
        <div class="col-6">
            <strong>Name</strong>
            <a class="text-decoration-none"
               aria-label="Sort studies by name"
               href="?{% query_transform request page='1' sort='name' %}">{% bs_icon "chevron-up" %}</a>
            <a class="text-decoration-none"
               aria-label="Reverse sort studies by name"
               href="?{% query_transform request page='1' sort='-name' %}">{% bs_icon "chevron-down" %}</a>
        </div>
        <div class="col-3 m">
            <strong>Last Edited</strong>
            <a class="text-decoration-none"
               aria-label="Sort studies by last edited date"
               href="?{% query_transform request page='1' sort='date_modified' %}">{% bs_icon "chevron-up" %}</a>
            <a class="text-decoration-none"
               aria-label="Reverse sort studies by last edited date"
               href="?{% query_transform request page='1' sort='-date_modified' %}">{% bs_icon "chevron-down" %}</a>
        </div>
        <div class="col-3">
            <strong>Last Status Change</strong>
            <a class="text-decoration-none"
               aria-label="Sort studies by end date"
               href="?{% query_transform request page='1' sort='status_change_date' %}">{% bs_icon "chevron-up" %}</a>
            <a class="text-decoration-none"
               aria-label="Reverse sort studies by end date"
               href="?{% query_transform request page='1' sort='-status_change_date' %}">{% bs_icon "chevron-down" %}</a>
        </div>
    </div>
    {% for study in object_list %}
        <div class="card bg-light my-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <a href="{% url 'exp:study-detail' pk=study.id %}">
                            <strong>{{ study.name }}</strong>
                        </a>
                    </div>
                    <div class="col-3">
                        <strong class="hidden-xs">{{ study.date_modified|date:"M d, Y"|default:"N/A" }}</strong>
                    </div>
                    <div class="col-3">
                        <strong>
                            {% block status_change_label %}
                                Last Status Change:
                            {% endblock status_change_label %}
                        </strong>
                        {% block status_change_date %}
                            {{ study.status_change_date|date:"M d, Y"|default:"N/A" }}
                        {% endblock status_change_date %}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-9">{{ study.short_description }}</div>
                    <div class="col-3">
                        {% if state in 'all,myStudies' %}
                            <div>
                                <strong>Status:</strong>
                                {{ study.state|title }}
                            </div>
                        {% endif %}
                        {% if state in 'submitted,' %}
                            <div>
                                <strong>Days In Queue:</strong>
                                {{ study.days_submitted }}
                            </div>
                        {% endif %}
                        {% if state in 'approved,' %}
                            <div>
                                <strong>Approved By:</strong>
                                {{ study.approved_by }}
                            </div>
                        {% endif %}
                        <div>
                            <strong>Type:</strong>
                            {{ study.study_type.display_name }}
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-6">
                        <strong>Study Creator:</strong>
                        {{ study.creator_name }}
                    </div>
                    {% if state not in 'created,' %}
                        <div class="col-3">
                            <strong>
                                Compl<span class="hidden-sm hidden-md">eted</span>
                                Responses:
                            </strong> {{ study.completed_responses_count }}
                        </div>
                        <div class="col-3">
                            <strong>
                                App<span class="hidden-sm hidden-md">roved</span>
                                Consent:
                            </strong> {{ study.valid_consent_count }}
                        </div>
                    {% endif %}
                </div>
                <div class="row ">
                    <div class="col-6">
                        <strong>Lab:</strong>
                        {{ study.lab_name }}
                    </div>
                    {% if state not in 'created,' %}
                        <div class="col-3">
                            <strong>
                                Inc<span class="hidden-sm hidden-md">omplete</span>
                                Responses:
                            </strong> {{ study.incomplete_responses_count }}
                        </div>
                        <div class="col-3">
                            <strong>
                                Pen<span class="hidden-sm hidden-md">ding</span>
                                Judgement:
                            </strong> {{ study.pending_consent_count }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
        <div class="row">
            <em class="my-5 text-center">No studies found!</em>
        </div>
    {% endfor %}
    {% if object_list %}
        {% include "studies/_paginator.html" with page=page_obj %}
    {% endif %}
{% endblock content %}
