{% extends "exp/base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}
{% load web_extras %}
{% block head %}
    {{ block.super }}
    <script src="{% static 'js/study-create.js' %}"></script>
    {{ form.media }}
{% endblock head %}
{% block title %}
    Create Study
{% endblock title %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="my-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'exp:study-list' %}">Manage Studies</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Create Study</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
{% block content %}
    {% bs_icon "plus" as bs_icon_plus %}
    {% url 'exp:study-list' as url_cancel %}
    {% button_primary_classes as btn_primary_classes %}
    {% button_secondary_classes as btn_secondary_classes %}
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card bg-light my-4">
                <div class="card-header">
                    <h3 class="card-subtitle my-1">Create Study</h3>
                </div>
                <div class="card-body">
                    <form id="study-details-form" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {% include "studies/_study_fields.html" with form=form %}
                        {% form_buttons %}
                        {% bootstrap_button "Cancel" button_class=btn_secondary_classes href=url_cancel %}
                        {% bootstrap_button bs_icon_plus|add:"Create Study" button_class=btn_primary_classes button_type="submit" id="create-study-button" %}
                    {% endform_buttons %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
