{% extends 'exp/base.html' %}
{% load bootstrap3 %}
{% load guardian_tags %}
{% load static %}
{% load tz %}
{% load exp_extras %}

{% block title %}{{ study.name }}{% endblock %}
{% block flash %}
    {% bootstrap_messages %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    <script>
        $.fn.editable.defaults.mode = 'inline';

        window.transitionHelpData = JSON.parse('{{ transition_help | escapejs }}');

        function cloneStudy() {
            document.getElementById('cloneForm').submit()
        }

        function buildStudy() {
            document.getElementById('buildForm').submit()
        }

        function onStateSelect(stateListItem) {
            let trigger = $(stateListItem).data()['trigger'],
                stateChangeForm = $('#study-state-modal'),
                rejectionCommentsInput = stateChangeForm.find('textarea[name=comments-text]'),
                infoText = transitionHelpData[trigger];

            rejectionCommentsInput.hide();
            let $additionalInfoSpan = stateChangeForm.find('#study-status-additional-information');

            if (trigger === 'reject') {
                rejectionCommentsInput.show();
            }

            $additionalInfoSpan.text(infoText);

            stateChangeForm.find('input[name=trigger]').val(trigger);
        }

        $(document).ready(function () {

            var origin = window.location.origin;
            var privateLink = document.getElementById('private-study-link');
            if (privateLink) {
                privateLink.value = origin + "/studies/" + "{{ study.uuid }}" + '/';
            }

            if ("{{ match }}" !== '') {
                document.getElementById("search-organization").value = "{{ match }}";
            }
            $('.researcher_permissions').editable({
                source: [
                    {value: 'study_read', text: 'Read'},
                    {value: 'study_admin', text: 'Admin'}
                ],
                error: function (response, newValue) {
                    // If removing own admin permissions, direct to study detail page.
                    if (response.status === 403) {
                        window.location = window.location.href.replace('edit/', '');
                    }
                },
                success: function (response, newValue) {
                    // On success, populate the success message with the permissions the user was given
                    // and reveal the permission edit alert message.

                    // This is necessary b/c we're using x-editable here. Page is not reloaded.
                    $('#add-researcher-messages').hide()
                    if (newValue === 'study_admin') {
                        $('#permission-edit-text').append(' given Admin Permissions to this study.');
                        // Another user given admin permissions so all users' permissions are editable.
                        $('.disabledPermissionDisplay').hide()
                        $('.permissionDisplay').show()
                    } else {
                        $('#permission-edit-text').append(' given Read Permissions to this study.');
                        var numAdmins = 0;
                        var adminStatus = [];
                        $('a.researcher_permissions').each(function (index) {
                            // Loops through current researchers to figure out current number of admins, and
                            // each researcher's current status
                            if (this.innerHTML.trim() === 'Admin') {
                                numAdmins++;
                                adminStatus.push(1);
                            } else {
                                adminStatus.push(0);
                            }
                            if (this.className.indexOf('editable-open') > -1) {
                                // Changed researcher was given read permissions
                                adminStatus[index] = 0;
                            }
                        });
                        $('.disabledPermissionDisplay').each(function (index) {
                            // Modifies display as to whether or not researcher's permissions can be edited
                            if (numAdmins - 1 - adminStatus[index] === 0) {
                                this.style.display = 'inline-block';
                                $('.permissionDisplay')[index].style.display = 'none';
                            } else {
                                this.style.display = 'none';
                                $('.permissionDisplay')[index].style.display = 'inline-block';
                            }
                        });
                    }
                    // Shows success message
                    $('#permission-edit').show();
                }
            }).on('click', function (e) {
                // When clicking on a researcher, prepopulate success message with researcher name.
                $('#permission-edit').hide();
                $('#permission-edit-text').text($(event.currentTarget).attr('data-id'));
            });

            new Clipboard('#copy-link-button');
            $('#private-study-link').attr('readonly', 'readonly');
            $('#copy-link-button').tooltip({
                title: "Copied!",
                trigger: "click",
                placement: "bottom",
            });
            $('.question-icon').tooltip({
                placement: "top",
            });
            $('body').on('hidden.bs.tooltip', function (e) {
                $(e.target).data("bs.tooltip").inState.click = false;
            });

            removeTooltip = function () {
                $('[data-toggle="tooltip"]').tooltip('hide');
            }
            $('form').submit(function () {
                $('#changeStatusButton').prop("disabled", "disabled");
            });
        });
    </script>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{% url 'exp:study-list' %}">Manage Studies</a></li>
                    <li class="active"> {{ study.name }}</li>
                </ol>
            </div>
            <h1 class="col-xs-6"> {{ study.name }} </h1>
            <div class="col-xs-6">
                {#                <div class="edit-study-button">#}
                {#                    {% get_obj_perms user for study as "study_perms" %}#}
                {#                    {% if "can_edit_study" in study_perms %}#}
                {#                        <a class="btn btn-default" href="{% url 'exp:study-participant-email' pk=study.id %}">#}
                {#                            <i class="fas fa-envelope-open" aria-hidden="true"></i> Email Participants#}
                {#                        </a>#}
                {#                        <a class="mr-md btn btn-primary" href="{% url 'exp:study-edit' pk=study.id %}">#}
                {#                            <i aria-hidden="true" class="fas fa-edit"></i> Edit Study#}
                {#                        </a>#}
                {#                    {% endif %}#}
                {#                </div>#}
                <div class="pull-right btn-group">
                    {% get_obj_perms user for study as "study_perms" %}
                    {% if "can_edit_study" in study_perms %}
                        <a type="button" class="btn btn-default" href="{% url 'exp:study-edit' pk=study.id %}">
                            <i aria-hidden="true" class="fas fa-edit"></i> Edit Study
                        </a>
                    {% endif %}
                    <a type="button" class="btn btn-default"
                       href="{% url 'exp:study-responses-list' pk=study.id %}?{% query_transform request sort='-date_modified' %}">
                        <i aria-hidden="true" class="fa fas fa-envelope"></i> View Responses
                        ({{ study.responses.count }})
                    </a>
                    <a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Take Action <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if "can_edit_study" in study_perms %}
                            <li>
                                <a href="{% url 'exp:study-participant-email' pk=study.id %}">
                                    <i class="fas fa-envelope-open" aria-hidden="true"></i> Email Participants
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            {#  Here we have a hidden clone form so we can maintain dropdown styling. #}
                            <form id="cloneForm" method="POST" style="display:none;">{% csrf_token %}
                                <input type="hidden" name="clone_study" value="{{ study.id }}"/>
                            </form>
                            <a role="button" onclick="cloneStudy()">
                                <i aria-hidden="true" class="fa fas fa-copy"></i> Clone Study
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-xs-4">
                        {% include "studies/_image_display.html" with object=study large=1 %}
                        <div class="row">
                            <div class="col-xs-12">
                                <p>
                                    <span class="pr-md"><label
                                            class='pr-xs'> Last edited: </label> {{ study.date_modified |date:"M d, Y" }} </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        {#  PUT THE DESCRIPTION STUFF HERE #}
                        <div class="row">
                            <div class="col-xs-12">
                                <p> {{ study.short_description }} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label> Purpose: </label>
                                <p> {{ study.long_description }} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p>
                                    <span class="pr-md"><label
                                            class='pr-xs'> Duration: </label> {{ study.duration }} </span>
                                    <span><label
                                            class='pr-xs'> Exit URL: </label> {{ study.exit_url | default:"None specified" }} </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p>
                                    <span class="pr-md">
                                        <label class='pr-xs'> Participant eligibility: </label> {{ study.criteria }}
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p>
                                    <span class="pr-md"><label
                                            class='pr-xs'> Minimum age cutoff: </label> {{ study.min_age_years }} year{{ study.min_age_years|pluralize }} {{ study.min_age_months }} month{{ study.min_age_months|pluralize }} {{ study.min_age_days }} day{{ study.min_age_days|pluralize }} </span>
                                    <span class="pr-md"><label
                                            class='pr-xs'> Maximum age cutoff: </label> {{ study.max_age_years }} year{{ study.max_age_years|pluralize }} {{ study.max_age_months }} month{{ study.max_age_months|pluralize }} {{ study.max_age_days }} day{{ study.max_age_days|pluralize }}</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p>
                                    <span class="pr-md"><label class='pr-xs'> UUID: </label></span>
                                    {{ study.uuid }}
                                </p>
                            </div>
                        </div>
                        <div class="row pb-lg">
                            <div class="col-xs-12">
                                <p>
                                 <span class="pr-md"><label class='pr-xs'> Discoverability: </label>
                                     <span>{{ discoverability_text | safe }}</span>
                                 </span>
                                </p>
                            </div>
                            <div class="col-xs-12">
                                {% if study.built %}
                                    <span><label>Study link: </label></span>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="private-study-link"
                                               value="{% url 'web:study-detail' study.uuid %}"
                                               aria-describedby="copy-link-button">
                                        <span onmouseout="removeTooltip(this)" data-toggle="tooltip"
                                              class="input-group-addon btn" id="copy-link-button"
                                              data-clipboard-target="#private-study-link">
                                        <img src="{% static 'exp/img/clippy.svg' %}" width="13"/>
                                    </span>
                                    </div>
                                {% else %}
                                    <span>Your study link will show up here when you have built it.</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {# -------- END STUDY INFO ------ #}
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-{{ state_ui_tag }}">
                                <div class="row">
                                    <div class="col-xs-2 btn-group">
                                        <a class="btn btn-default btn-sm dropdown-toggle" type="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Change State <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% for trigger in trigger_objs %}
                                                <li role="button" onclick="onStateSelect(this)" data-toggle="modal"
                                                    href="#study-state-modal" data-trigger="{{ trigger.name }}">
                                                    <a>{{ trigger.label }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-xs-6 col-xs-offset-4 text-right">
                                        {{ study.name }} is currently <em>{{ study.state }}</em>.
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <p>{{ status_tooltip }}</p>
                                {% if study.state == "rejected" %}
                                    <p><em>Rejection Reason: {{ study.comments }}</em></p>
                                {% endif %}
                            </li>
                            <li class="list-group-item list-group-item-{{ build_ui_tag }}">
                                <div class="row">
                                    <div class="col-xs-4">
                                        {# TODO - get rid of this hidden form pattern #}
                                        <form id="buildForm" method="POST" style="display:none">{% csrf_token %}
                                            <input type="hidden" name="build" value="{{ study.id }}"/>
                                        </form>
                                        <a class="btn btn-default btn-sm" onclick="buildStudy()">
                                            Build Dependencies
                                            <i aria-hidden="true">
                                                <div class="fas fa-hammer"></div>
                                            </i>
                                        </a>
                                    </div>
                                    <div class="col-xs-5 col-xs-offset-3 text-right">
                                        Study dependencies {% if not study.built %} not {% endif %}built.
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-{{ preview_ui_tag }}">
                                <div class="row">
                                    <form class="col-xs-4" action="{% url 'exp:study-preview-build' study.uuid %}"
                                          method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-default btn-sm">
                                            Build Preview Dependencies
                                            <div class="fas fa-eye"><i aria-hidden="true"></i></div>
                                        </button>
                                    </form>
                                    <div class="col-xs-5 col-xs-offset-3 text-right">
                                        Preview dependencies {% if not study.previewed %} not {% endif %}built.
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    {#  ------ BEGIN MANAGE RESEARCHERS ----- #}
                    <div class="col-lg-12">
                        <div class="mt-xs panel panel-default">
                            <div class="panel-heading">
                                <h1 id="manage-researchers" class="panel-title">Manage Researchers</h1>
                            </div>
                            <div class="panel-body">
                                {% if messages %}
                                    {% for message in messages %}
                                        {% if message.extra_tags == 'user_added' or message.extra_tags == 'user_removed' %}
                                            <div id="add-researcher-messages"
                                                 class="alert {{ message.tags }} alert-dismissable">
                                                <a href="#" class="close" data-dismiss="alert"
                                                   aria-label="close">&times;</a>
                                                {{ message }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <div id="permission-edit" class="alert alert-success alert-dismissable"
                                     style="display:none;">
                                    <a href="#manage-researchers" class="close" onclick="$('.alert').hide()">&times;</a>
                                    <div id="permission-edit-text"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <form method="GET" action="./#manage-researchers">
                                            <div class="input-group">
                                                <input id="search-organization" class="form-control" name="match"
                                                       placeholder="Search organization" type="text">
                                                <span class="input-group-btn">
                                                    <input type="hidden" name="page" value="1">
                                                        <button class="btn btn-default" type="submit"
                                                                aria-label="Search researchers">
                                                        <i aria-hidden="true" class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                        <div class="researcher-search-results">
                                            {% if users_result %}
                                                <h2 class="researchers-label"> Results </h2>
                                                {% for user in users_result %}
                                                    <div class="row pt-xs">
                                                        <div class="col-xs-8 col-xs-offset-1">
                                                            <a target="_blank"
                                                               href="{% url 'exp:researcher-detail' pk=user.id %}"> {{ user.identicon_small_html }} {{ user.get_short_name }} </a>
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <form method="POST"
                                                                  action="./#manage-researchers">{% csrf_token %}
                                                                <input type="hidden" name="add_user"
                                                                       value="{{ user.id }}"/>
                                                                <button aria-label="Add researcher to study"
                                                                        type="submit"
                                                                        value="{{ user.id }}"
                                                                        class="btn btn-success btn-sm"><i
                                                                        aria-hidden="true" class="fa fa-plus"></i>
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                <div class="pt-md">
                                                    {% include 'studies/_paginator.html' with items=users_result request=request %}
                                                </div>

                                            {% else %}
                                                {% if search_query %}
                                                    <p class="pt-md"><em> No results found! </em></p>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <h2 class="researchers-label"> Researchers </h2>
                                        <div class="row">
                                            <div class="col-xs-12 small pb-sm">
                                                <em>
                                                    Researchers belonging to this study's admin and read groups.
                                                    {{ study.organization.name }} Admins will automatically be
                                                    able to edit this study, regardless of study group.
                                                </em>
                                            </div>
                                        </div>
                                        <div class="row hidden-xs">
                                            <div class="col-xs-6">
                                                <label> Name </label>
                                            </div>
                                            <div class="col-xs-4">
                                                <label> Permissions </label>
                                            </div>
                                            <div class="col-xs-2">
                                            </div>
                                        </div>
                                        {% for researcher in current_researchers %}
                                            {% get_obj_perms researcher for study as "study_perms" %}
                                            <div class="row pt-xs">
                                                <div class="col-sm-6 researcher-name">
                                                    <a target="_blank"
                                                       href="{% url 'exp:researcher-detail' pk=researcher.id %}">
                                                        {{ researcher.identicon_small_html }} {{ researcher.get_short_name }} </a>
                                                    {% if researcher.is_org_admin %}
                                                        <span class="small"><em> * {{ study.organization.name }} Admin </em></span>
                                                    {% endif %}
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="disabledPermissionDisplay"
                                                         style="display:{% if researcher.id in study_admins and not multiple_admins %} inline-block; {% else %} none; {% endif %}">
                                                        Admin
                                                    </div>
                                                    <div class="permissionDisplay"
                                                         style="display:{% if researcher.id not in study_admins or multiple_admins %} inline-block; {% else %} none; {% endif %}">
                                                        <a href="#" data-name="update_user"
                                                           class="researcher_permissions"
                                                           data-type="select"
                                                           data-url="{% url 'exp:study-detail' pk=study.id %}"
                                                           data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                                                           data-id="{{ researcher.get_short_name }}"
                                                           data-pk="{{ researcher.id }}"
                                                           data-title="Select researcher permissions">
                                                            {% if researcher.id in study_admins %}
                                                                Admin
                                                            {% else %}
                                                                Read
                                                            {% endif %}
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 researcher-delete">
                                                    <form method="POST" action="./#manage-researchers">{% csrf_token %}
                                                        <input type="hidden" name="remove_user"
                                                               value="{{ researcher.id }}"/>
                                                        <button aria-label="Remove researcher from study" type="submit"
                                                                class="btn btn-danger btn-sm">
                                                <span class="hidden-xs"><i aria-hidden="true"
                                                                           class="fa fa-minus"></i></span>
                                                            <span class="visible-xs">Remove</span>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#  ------ END MANAGE RESEARCHERS ------- #}
                </div>
                {#                <div class="row">#}
                {#                    <div class="col-md-12">#}
                {#                        {% include 'studies/_study_status.html' with study=study %}#}
                {#                    </div>#}
                {#                    <div class="col-md-4">#}
                {#                        {% if "can_view_study_responses" in study_perms %}#}
                {#                            <a class="view-responses-link"#}
                {#                               href="{% url 'exp:study-responses-list' pk=study.id %}?{% query_transform request sort='-date_modified' %}">#}
                {#                                <div class="well view-response-block">#}
                {#                                    <center class="mt-sm">#}
                {#                                        <p><i aria-hidden="true" class="fa-2x fas fa-envelope"></i></p>#}
                {#                                        <h4> View <strong>{{ study.completed_responses_count|default:"0" }}</strong>#}
                {#                                            Response{{ study.completed_responses_count|pluralize }}</h4>#}
                {#                                        <p> (plus {{ study.incomplete_responses_count|default:"0" }} incomplete)</p>#}
                {#                                        <p> Inspect responses from study sessions </p>#}
                {#                                    </center>#}
                {#                                </div>#}
                {#                            </a>#}
                {#                        {% endif %}#}
                {#                        {% if perms.studies.can_create_study %}#}
                {#                            <form id="cloneForm" method="POST" style="display:inline">{% csrf_token %}#}
                {#                                <input type="hidden" name="clone_study" value="{{ study.id }}"/>#}
                {#                                <div onclick="cloneStudy()" class="view-responses-link" role="button" type="submit">#}
                {#                                    <div class="well view-response-block">#}
                {#                                        <center class="mt-sm">#}
                {#                                            <p><i aria-hidden="true" class="fa-2x fas fa-copy"></i></p>#}
                {#                                            <h4> Clone Study </h4>#}
                {#                                            <p> Copy study structure and details </p>#}
                {#                                        </center>#}
                {#                                    </div>#}
                {#                                </div>#}
                {#                            </form>#}
                {#                            <form id="buildForm" method="POST" style="display:inline">{% csrf_token %}#}
                {#                                <input type="hidden" name="build" value="{{ study.id }}"/>#}
                {#                                <div onclick="buildStudy()" class="view-responses-link" role="button" type="submit">#}
                {#                                    <div class="well view-response-block">#}
                {#                                        <center class="mt-sm">#}
                {#                                            <p>#}
                {#                                                <i aria-hidden="true" class="fa-2x fas fa-hammer"></i>#}
                {#                                            </p>#}
                {#                                            <h4>#}
                {#                                                Build Study#}
                {#                                            </h4>#}
                {#                                            <p> Build framework dependencies for your study </p>#}
                {#                                        </center>#}
                {#                                    </div>#}
                {#                                </div>#}
                {#                            </form>#}
                {#                        {% endif %}#}
                {#                    </div>#}
                {#                </div>#}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="well">
                            <h3 id="study-logs" class="study-logs-label"> Study Logs: </h3>
                            {% for log in logs %}
                                <div class="row pb-sm">
                                    <div class="col-sm-3 col-sm-offset-1">
                                        {% timezone request.user.time_zone %}
                                            {{ log.created_at }}
                                        {% endtimezone %}
                                    </div>
                                    <div class="col-sm-8">
                                        {{ log.study.name }} study
                                        {% if log.action == "active" %} activated
                                        {% elif log.action == "deploy" %} dependencies built
                                        {% elif log.action == "preview" %} preview dependencies built
                                        {% else %}
                                            {{ log.action }} {% endif %} by {{ log.user.get_short_name }}.
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1">
                                    {% include 'studies/_paginator.html' with items=logs anchor="study-logs" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#  MODALS #}
    <form class="modal fade" id="study-state-modal" method="POST">{% csrf_token %}
        <input type="hidden" name="trigger"/>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Are you sure you want to change the status of {{ study.name }}? </h3>
            </div>
            <div class="modal-body">
                <p>
                    <span id="study-status-additional-information"> </span>
                </p>
                <textarea class="form-control" rows="5" name="comments-text"
                          placeholder="Please leave a reason for rejection here."></textarea>
            </div>
            <div class="modal-footer"> {% csrf_token %}
                <a class="btn btn-default" href="{% url 'exp:study-detail' pk=study.id %}">
                    Cancel </a>
                <button id="changeStatusButton"
                        {% if 'can_edit_study' not in study_perms %}disabled{% endif %}
                        name="submit" value="submit" class="btn btn-success" type="submit">Save
                </button>
            </div>
        </div>
    </form>
{% endblock %}
