{% extends "exp/base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load guardian_tags %}
{% load static %}
{% load exp_extras %}
{% load web_extras %}
{% block title %}
    {{ study.name }}
{% endblock title %}
{% block head %}
    {{ block.super }}
    <script>
        window.transitionHelpData = JSON.parse('{{ transition_help | escapejs }}');
        window.commentsHelpData = JSON.parse('{{ comments_help | escapejs }}');
        window.declarations = JSON.parse('{{ declarations | escapejs }}');
    </script>
{% endblock head %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="my-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'exp:study-list' %}">Manage Studies</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ study.name }}</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
{% block content %}
    {% button_primary_classes "btn-sm editable-submit" as btn_primary_classes %}
    {% button_secondary_classes "btn-sm editable-cancel" as btn_secondary_classes %}
    <script src="{% static 'js/study-detail.js' %}"
            defer
            data-btn-primary-classes="{{ btn_primary_classes }}"
            data-btn-secondary-classes="{{ btn_secondary_classes }}"
            data-external-study="{{ study.study_type.is_external}}"></script>
    {% page_title study.name %}
    <div class="row">
        <div class="col-2">
            {% include "studies/_image_display.html" with object=study large=1 %}
            <div>
                <span class="fw-bold">Last edited:</span>
                {{ study.date_modified |date:"M d, Y" }}
            </div>
            <div>
                <span class="fw-bold">Lab:</span>
                {{ study.lab.name }}
            </div>
        </div>
        <div class="col">
            <p>{{ study.short_description }}</p>
            <p>
                <span class="fw-bold">Purpose:</span>
                {{ study.purpose }}
            </p>
            <p>
                <span class="fw-bold">Duration:</span>
                {{ study.duration }}
                <span class="fw-bold">Exit URL:</span>
                {{ study.exit_url | default:"None specified" }}
            </p>
            <p>
                <span class="fw-bold">Participant eligibility:</span>
                {{ study.criteria }}
                {% if study.compensation_description %}
                    <span class="fw-bold">Compensation:</span>
                    {{ study.compensation_description }}
                {% endif %}
            </p>
            <p>
                <span class="fw-bold">Minimum age cutoff:</span>
                {{ study.min_age_years }} year{{ study.min_age_years|pluralize }} {{ study.min_age_months }} month{{ study.min_age_months|pluralize }} {{ study.min_age_days }} day{{ study.min_age_days|pluralize }}
                <span class="fw-bold">Maximum age cutoff:</span>
                {{ study.max_age_years }} year{{ study.max_age_years|pluralize }} {{ study.max_age_months }} month{{ study.max_age_months|pluralize }} {{ study.max_age_days }} day{{ study.max_age_days|pluralize }}
            </p>
            <p>
                <span class="fw-bold">UUID:</span>
                {{ study.uuid }}
            </p>
            <p>
                {% if study.shared_preview %}
                    <span class="fw-bold">Preview link:</span>
                    <span>Share with other researchers to get feedback on your study.</span>
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               id="study-preview-link"
                               value="{% url 'exp:preview-detail' uuid=study.uuid %}"
                               aria-describedby="copy-link-button" />
                        <span onmouseout="removeTooltip(this)"
                              data-toggle="tooltip"
                              class="input-group-addon btn copy-link-button"
                              data-clipboard-target="#study-preview-link">
                            <img src="{% static 'images/clippy.svg' %}"
                                 alt="copy preview link"
                                 width="13" />
                        </span>
                    </div>
                {% else %}
                    <span class="fw-bold">Preview sharing:</span>
                    Other researchers cannot access your study preview.
                {% endif %}
            </p>
            <p>
                <span class="fw-bold">Discoverability:</span>
                {{ discoverability_text | safe }}
            </p>
            <p>
                {% if study.show_study_link %}
                    <span class="fw-bold">Study link:</span>
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               id="private-study-link"
                               value="{% url 'web:study-detail' study.uuid %}"
                               aria-describedby="copy-link-button" />
                        <span onmouseout="removeTooltip(this)"
                              data-toggle="tooltip"
                              class="input-group-addon btn copy-link-button"
                              data-clipboard-target="#private-study-link">
                            <img src="{% static 'images/clippy.svg' %}"
                                 alt="copy study link"
                                 width="13" />
                        </span>
                    </div>
                {% else %}
                    Your study link will show up here when you have built the experiment runner.
                {% endif %}
            </p>
        </div>
        <div class="col-2">
            <form id="cloneForm"
                  action="{% url 'exp:clone-study' study.id %}"
                  method="post"
                  style="display:none">
                {% csrf_token %}
                <input type="hidden" name="clone_study" value="{{ study.id }}" />
            </form>
            <div class="list-group small">
                {% if "read_study__responses(is_preview=True)" in study_perms %}
                    <a class="list-group-item list-group-item-action"
                       href="{% url 'exp:preview-detail' uuid=study.uuid %}">{% bs_icon "play-circle" %} Preview Study</a>
                {% endif %}
                {% if can_edit_study_details %}
                    <a class="list-group-item list-group-item-action"
                       href="{% url 'exp:study-edit' pk=study.id %}">{% bs_icon "megaphone-fill" %}Study Ad and Recruitment</a>
                    <a class="list-group-item list-group-item-action"
                       href="{% url 'exp:study-details' pk=study.id %}">{% bs_icon "pencil-square" %}Study Details</a>
                {% endif %}
                {% if "read_study__responses" in study_perms or "read_study__responses(is_preview=True)" in study_perms %}
                    <a class="list-group-item list-group-item-action"
                       href="{% url 'exp:study-responses-all' pk=study.id %}">{% bs_icon "chat-left-fill" %}Study Responses</a>
                {% endif %}
                {% if "edit_study__message_set" in study_perms %}
                    <a class="list-group-item list-group-item-action"
                       href="{% url 'exp:study-participant-contact' pk=study.id %}"> {% bs_icon "envelope-fill" %}Message Participants </a>
                {% endif %}
                {% if study.show_consent %}
                    {% if "edit_study__responses__consent_rulings" in study_perms or "edit_study__responses__consent_rulings(is_preview=True)" in study_perms %}
                        <a class="list-group-item list-group-item-action"
                           href="{% url 'exp:study-responses-consent-manager' pk=study.id %}?{% query_transform request sort='-date_created' %}">{% bs_icon "person-video" %}Review Consent</a>
                    {% endif %}
                {% endif %}
                {% if can_create_study %}
                    {#  Here we have a hidden clone form so we can maintain dropdown styling. #}
                    {#  TODO: actually use this form to let the user clone the study in a specific lab. #}
                    <a type="button"
                       class="list-group-item list-group-item-action"
                       role="button"
                       onclick="cloneStudy()">{% bs_icon "clipboard-check-fill" %} Clone Study</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% include "studies/study_detail/_study_status.html" %}
    {% include "studies/study_detail/_manage_researchers.html" %}
    {% include "studies/study_detail/_study_logs.html" %}
    {% include "studies/study_detail/_modal.html" %}
{% endblock content %}
