{% extends 'exp/base.html' %}
{% load bootstrap3 %}
{% load guardian_tags %}
{% load exp_extras %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/rg-1.1.0/sc-2.0.0/sl-1.3.0/datatables.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/css/bootstrap-select.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    <!-- Datatables -->
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/rg-1.1.0/sc-2.0.0/sl-1.3.0/datatables.min.js"></script>
    <!-- Bootstrap Select -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/bootstrap-select.min.js"></script>
    <!-- Summernote -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
{% endblock %}

{% block title %}Contact Participants{% endblock %}

{# this "flash" block is just for notifications. It's defined in base and overridden here. #}
{% block flash %}
    {% if messages %}
        {% for message in messages %}
            {% if message.extra_tags != 'message_sent' %}
                <div id="details" class="alert {{ message.tags }} alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{% url 'exp:study-list' %}">Manage Studies</a></li>
                    <li><a href="{% url 'exp:study-detail' pk=study.id %}"> {{ study.name }}</a></li>
                    <li class="active"> Contact Participants</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <section class="col-lg-6">
                <div class="panel panel-default mt-md">
                    <div class="panel-heading"><h3 class="panel-title">Previous Messages</h3></div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="input-group">
                                <label class="input-group-addon" for="full-text-search">Text</label>
                                <input id="full-text-search" type="text" class="form-control"
                                       placeholder="Full Text Search">
                            </div>
                        </form>
                    </div>
                    <div id="previous-messages-list" class="list-group pretty-scroll">
                        {% for message in previous_messages %}
                            <a href="#previous-message-viewer?uuid={{ message.uuid }}" class="list-group-item">
                                <h4 class="list-group-item-heading">{{ message.subject }}</h4>
                                <p>
                                    <small>Recipients: {% values_list message.recipients.all "username" %}</small>
                                </p>
                                <p class="list-group-item-text"><blockquote class="small message-body">{{ message.body }}</blockquote></p>
                            </a>
                        {% endfor %}
                    </div>
                </div>

            </section>
            <main class="col-lg-6">
                <div id="email-viewport" class="panel panel-default mt-md">
                    <div class="panel-heading"><h3 class="panel-title">Messages</h3></div>
                    <ul id="email-viewer-tabs" class="nav nav-tabs nav-justified">
                        <li class="active" role="presentation">
                            <a data-toggle="tab" aria-controls="email-participants-form" href="#email-participants-form">
                                Compose New
                            </a>
                        </li>
                        <li role="presentation">
                            <a data-toggle="tab" aria-controls="previous-message-viewer" href="#previous-message-viewer">Message Viewer</a>
                        </li>
                    </ul>
                    <section class="tab-content">
                        <form id="email-participants-form" class="tab-pane fade in active"
                              method="post">{% csrf_token %}
                            <section class="form-group">
                                <label for="recipient-selector">Recipients</label>
                                <select id="recipient-selector"
                                        name="recipients"
                                        class="selectpicker form-control"
                                        title="Search and add recipients"
                                        multiple>
                                    {% for person in participants %}
                                        <option value="{{ person.uuid }}"
                                                data-subtext="{{ person.username }}">
                                            {{ person.get_full_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </section>
                            <section class="form-group">
                                <label for="email-subject">Subject</label>
                                <input id="email-subject" name="subject" type="text" class="form-control"/>
                            </section>
                            <section class="form-group">
                                <label for="email-editor">Body</label>
                                <textarea id="email-editor" name="body"></textarea>
                            </section>
                            <section class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    Send Messages to Participants
                                </button>
                            </section>
                        </form>
                        <div id="previous-message-viewer" class="tab-pane fade pretty-scroll">
                            <h3 id="subject-line-view"></h3>
                            <section class="pretty-scroll" id="message-body-view">
                                {# Contents loaded here #}
                            </section>
                        </div>
                    </section>
                </div>
            </main>
        </div>
        <div class="row">
            <section class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Participants (Contacts)</h3></div>
                <div class="panel-body">
                    <table id="participant-table" class="table">
                        <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Organization</th>
                            <th>Email Preferences</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for person in participants %}
                            <tr>
                                <td>{{ person.get_full_name }}</td>
                                <td>{{ person.organization }}</td>
                                <td>
                                    {% if person.email_next_session %}
                                        <span class="label label-primary">Next Session</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    {#  TODO: move this out to a javascript file so we can defer it!  #}
    <script type="text/javascript">
        const DATATABLE_SETTINGS = {
            select: true,
            dom: 'BSfrtip',
            buttons: ['copy', 'excel'],
            fixedHeader: true,
        };

        const EMAIL_EDITOR_SETTINGS = {
            codeviewFilter: false, // Prevent XSS
            codeviewIframeFilter: true, // Prevent XSS
            placeholder: 'Write email contents here.',
            tabsize: 2,
            height: 150,
        };

        const RECIPIENT_SELECTOR_SETTINGS = {
            actionsBox: true,
            showSubtext: true,
            width: "100%",
            liveSearch: true,
            selectedTextFormat: "count > 3",
            header: "Use mouse and/or arrow keys for navigation; return key to select participants",
        };

        const VIEW_INIT_PARAMS = new URLSearchParams(window.location.search);

        // jqElements
        const $participantTable  = $('#participant-table'),
              $recipientSelector = $('#recipient-selector'),
              $emailEditor       = $('#email-editor'),
              $messageList       = $('#previous-messages-list'),
              $messageListItems  = $('#previous-messages-list a'),
              $messageSearch     = $('#full-text-search'),
              $composeTab        = $('#email-viewer-tabs a[href=#email-participants-form]'),
              $viewerTab         = $('#email-viewer-tabs a[href=#previous-message-viewer]'),
              $messageViewer     = $('#previous-message-viewer'),
              $subjectLineView   = $messageViewer.find('#subject-line-view'),
              $messageBodyView   = $messageViewer.find('#message-body-view');

        /**
         * Main function.
         */
        function initializeView() {
            // Set up Datatable.
            $participantTable.DataTable(DATATABLE_SETTINGS)
                .on("select", tableSelectionCallback);

            // Set up email container
            $emailEditor.summernote(EMAIL_EDITOR_SETTINGS);

            // Add event handlers.
            $recipientSelector.selectpicker(RECIPIENT_SELECTOR_SETTINGS)
                .on('changed.bs.select', participantSelectionCallback);

            $messageSearch.on("keyup", handleMessageSearch);

            $messageList.on("click", "a", handleMessageSelection)

        }

        // https://getbootstrap.com/docs/3.4/javascript/#tabs-usage
        // will want for dynamically modifying tabs...

        /**
         * Do things when we select from the table.
         *
         * @param $jqEvent The jquery Event object.
         * @param datatablesApi the Datatables API (see: https://datatables.net/reference/api/).
         * @param itemType This will pretty much always be a column or row.
         * @param indices The indices of the selection within the table.
         */
        function tableSelectionCallback($jqEvent, datatablesApi, itemType, indices) {
            console.log($jqEvent);
            console.log(datatablesApi);

        }


        function handleMessageSearch() {
            let searchValue = this.value.toLowerCase();
            $messageListItems.filter((index, li) => $(li).toggle(li.innerText.toLowerCase().indexOf(searchValue) > -1));
        }

        function handleMessageSelection() {
            let $message = $(this);
            $messageListItems.not($message).removeClass("active");
            $message.toggleClass('active');
            if ($message.hasClass('active')) {
                $viewerTab.tab('show');
                $subjectLineView.html($message.find('h4').text());
                $messageBodyView.html($message.find("blockquote.message-body").text());
            } else {
                $composeTab.tab("show");
            }

        }

        /**
         * Do things when we select a participant from the Bootstrap-select component.
         *
         * @param $jqEvent
         * @param clickedIndex
         * @param isSelected
         * @param previousValue
         */
        function participantSelectionCallback($jqEvent, clickedIndex, isSelected, previousValue) {
            console.log($jqEvent, clickedIndex, isSelected, previousValue);
        }

        // Run initializations.
        initializeView();
    </script>
{% endblock %}