{% extends "exp/base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}
{% load web_extras %}
{% block title %}
    Responses | {{ study.name }}
{% endblock title %}
{% block head %}
    {{ block.super }}
    <script type="application/json" id="response-key-value-store">
        {% comment %}
            When we upgrade to django 2.x, please convert to json_script. Please see:
            https://docs.djangoproject.com/en/2.1/ref/templates/builtins/#json-script
{% endcomment %}
        {{ response_key_value_store | safe }}
    </script>
    <script src="{% static 'js/study-responses-consent-ruling.js' %}" defer></script>
{% endblock head %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="my-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'exp:study-list' %}">Manage Studies</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'exp:study' pk=study.id %}">{{ study.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Consent Manager</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
{% block content %}
    {% page_title "Consent Manager" %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Responses</div>
                <div class="card-body">
                    <div class="row align-items-center">
                        <label for="response-status-filters" class="col-auto text-end ">Show Currently...&nbsp;</label>
                        <div class="col-auto text-center px-0">
                            <select id="response-status-filters"
                                    name="response-status-filters"
                                    class="form-select w-auto"
                                    aria-label="Filter by repsonse status">
                                <option id="filter-pending" value="pending">Pending</option>
                                <option id="filter-accepted" value="accepted">Accepted</option>
                                <option id="filter-rejected" value="rejected">Rejected</option>
                            </select>
                        </div>
                        <div class="col-auto text-start ">&nbsp;Responses*</div>
                    </div>
                    <div class="row mt-3">
                        <p class="help small">
                            <em>*Responses with approvals older than 3 weeks are not shown.</em>
                        </p>
                    </div>
                </div>
                <ul id="list-of-responses"
                    class="list-group rounded-0 list-group-hover"
                    style="max-height:300px;
                           overflow-y: scroll">
                    {% for response in loaded_responses %}
                        <li id="response-option-{{ response.uuid }}"
                            class="border-start-0 border-end-0 response-option list-group-item {{ response.current_ruling }} {% if response.is_preview %}preview-row{% endif %}"
                            data-id="{{ response.uuid }}"
                            data-original-status="{{ response.current_ruling }}">
                            <p>
                                <strong>{{ response.date_created | date:"D M d, P e" }}</strong>
                                {% if response.is_preview %}
                                    <br>
                                    <strong>[Preview]</strong>
                                {% endif %}
                                {% if response.survey_consent %}
                                    <br>
                                    <span id="survey-consent-msg"><strong>[Survey consent]</strong></span>
                                {% endif %}
                                {% if response.ruling_comments != "N/A" %}
                                    <br>
                                    <em class="small">{{ response.ruling_comments }}</em>
                                {% endif %}
                            </p>
                            <div class="dropdown">
                                <button class="{% button_secondary_classes %} dropdown-toggle"
                                        type="button"
                                        id="consentJudgementDropdown"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">{{ response.current_ruling }}</button>
                                <ul class="dropdown-menu" aria-labelledby="consentJudgementDropdown">
                                    <li>
                                        <button class="consent-judgment dropdown-item"
                                                data-action="reset"
                                                style="display:none">Undo</button>
                                    </li>
                                    {% if response.current_ruling != 'pending' %}
                                        <li>
                                            <button class="consent-judgment dropdown-item" data-action="pending">Revert to Pending</button>
                                        </li>
                                    {% endif %}
                                    {% if response.current_ruling != 'accepted' %}
                                        <li>
                                            <button class="consent-judgment dropdown-item" data-action="accepted">Accept</button>
                                        </li>
                                    {% endif %}
                                    {% if response.current_ruling != 'rejected' %}
                                        <li>
                                            <button class="consent-judgment dropdown-item" data-action="rejected">Reject</button>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <form id="consent-ruling-form" class="m-3" method="post">
                    {% csrf_token %}
                    <div class="d-grid gap-3">
                        <ul class="list-group text-center small">
                            <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
                                <div>Revert to Pending</div>
                                <span class="pending-count badge bg-secondary rounded-pill">0</span>
                            </li>
                            <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
                                <div>Approvals</div>
                                <span class="approvals-count badge bg-secondary rounded-pill">0</span>
                            </li>
                            <li class="list-group-item list-group-item-danger d-flex justify-content-between align-items-center">
                                <div>Rejections</div>
                                <span class="rejections-count badge bg-secondary rounded-pill">0</span>
                            </li>
                        </ul>
                        <input name="comments" type="hidden" value="{}" />
                        <button type="submit" class="{% button_primary_classes %}">Submit Rulings & Comments {% bs_icon "send" %}</button>
                        <button id="reset-choices"
                                type="button"
                                class="{% button_secondary_classes %}">
                            Reset Current Choices {% bs_icon "repeat" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">Videos</div>
                <div class="card-body">
                    <ul class="list-group mb-3">
                        <li class="list-group-item">
                            <div id="current-survey-consent-information" class="mb-3 d-none">
                                This response contains a survey consent frame. To review whether consent is valid, (1) check the frame sequence below (if you set up frame logic for consenting vs. non consenting participants), or (2) mark the response as 'accepted' here, then go to the Study Responses page to review survey answers on your own.
                            </div>
                            {# Basic video information/warnings go in below div #}
                            <div id="current-video-information"></div>
                        </li>
                        <li class="list-group-item align-items-center align-middle bg-light text-center">
                            <video controls id="video-under-consideration" height="270" width="360">
                                <source src="" type="video/mp4" />
                            </video>
                        </li>
                        <li class="list-group-item align-items-center align-middle text-center">
                            Comments
                            <textarea id="response-commentary" class="form-control d-none" rows="4" placeholder="Leave any internal comments here, e.g. why a ruling was made. These comments can only be seen by researchers, and are saved when rulings are submitted.">
                            </textarea>
                        </li>
                    </ul>
                    <div class="btn-toolbar d-flex justify-content-center m-2"
                         id="video-manager">
                        <nav aria-label="Video navigation">
                            <ul class="pagination">
                                <li id="nav-video-previous">
                                    <a aria-label="Previous" class="page-link">
                                        <span aria-hidden="true">{% bs_icon "chevron-double-left" %}</span>
                                    </a>
                                </li>
                                {# list items go here#}
                                <li id="nav-video-next">
                                    <a aria-label="Next" class="page-link">
                                        <span aria-hidden="true">{% bs_icon "chevron-double-right" %}</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">Response Statistics</div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
                            <div class="fw-bold">Pending Responses</div>
                            <span class="badge bg-secondary rounded-pill">{{ summary_statistics.responses.pending }}</span>
                        </li>
                        <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
                            <div class="me-auto">
                                <div class="fw-bold">Accepted Responses</div>
                                <div class="small">Unique Children</div>
                            </div>
                            <span class="badge bg-secondary rounded-pill">{{ summary_statistics.responses.accepted }} / {{ summary_statistics.children.with_accepted_responses }}</span>
                        </li>
                        <li class="list-group-item list-group-item-danger d-flex justify-content-between align-items-center">
                            <div class="me-auto">
                                <div class="fw-bold">Rejected Responses</div>
                                <div class="small">Children with no accepted responses</div>
                            </div>
                            <span class="badge bg-secondary rounded-pill">{{ summary_statistics.responses.rejected }} / {{ summary_statistics.children.without_accepted_responses }}</span>
                        </li>
                    </ul>
                    <ul class="list-group my-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total # Responses
                            <span class="badge bg-secondary rounded-pill">{{ summary_statistics.responses.total }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total # Children
                            <span class="badge bg-secondary rounded-pill">{{ summary_statistics.children.total }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="response-info-container" class="card bg-light my-3">
        <div class="card-body">
            <h2 class="card-title">Session Data</h2>
            <table id="participant" class="table caption-top">
                <caption class="h3">Account Information</caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Global ID</th>
                        <th>Parent name</th>
                        <th>Country</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>{# Participant data inserted here #}</tr>
                </tbody>
            </table>
            <table id="child" class="table caption-top">
                <caption class="h3">  Child Information</caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Global ID</th>
                        <th>Name</th>
                        <th>Birthday</th>
                        <th>Gender</th>
                        <th>Additional Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>{# Child data inserted here #}</tr>
                </tbody>
            </table>
            <table id="general" class="table caption-top">
                <caption class="h3">    Response Information</caption>
                <thead>
                    <tr>
                        <th>Uuid</th>
                        <th>Global Event Timings</th>
                        <th>Sequence</th>
                        <th>Completed</th>
                        <th>Date Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>{# General data inserted here #}</tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
