{% extends "exp/base.html" %}
{% load django_bootstrap5 %}
{% load guardian_tags %}
{% load exp_extras %}
{% load web_extras %}
{% load bootstrap_icons %}
{% load static %}
{% block head %}
    {{ block.super }}
    <script src="{% static 'js/study-edit.js' %}"></script>
{% endblock head %}
{% block title %}
    Edit | {{ study.name }}
{% endblock title %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="my-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'exp:study-list' %}">Manage Studies</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'exp:study' pk=study.id %}">{{ study.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
{% block content %}
    {% bs_icon "play-circle" as bs_icon_play_circle %}
    {% url 'exp:preview-detail' uuid=study.uuid as url_preview_detail %}
    {% url 'exp:study' pk=study.id as url_cancel %}
    {% button_secondary_classes as btn_secondary_classes %}
    {% button_primary_classes as btn_primary_classes %}
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card bg-light my-4">
                <div class="card-header">
                    <h3 class="card-subtitle my-1">
                        Study Ad and Recruitment
                        <div class="float-end me-4">
                            {% bootstrap_button bs_icon_play_circle|add:"Preview Study" href=url_preview_detail button_class=btn_secondary_classes %}
                        </div>
                    </h3>
                </div>
                <div class="card-body">
                    <p>
                        We have split the study forms into two views for easier
                        navigation. On this page, you will provide all the information
                        needed for advertising your study on Children Helping Science
                        - images, descriptions, and choices about who should be
                        recruited for your study. You will add the actual links
                        or code for your study on the next page.
                    </p>
                    <form id="study-details-form" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {% include "studies/_study_fields.html" with form=form study=study %}
                        {% form_buttons %}
                        {% bootstrap_button "Cancel" button_class=btn_secondary_classes href=url_cancel %}
                        <button type="button"
                                class="{% button_primary_classes %}"
                                data-bs-target="#save-study-confirmation"
                                id="save-button"
                                data-bs-toggle="modal">Save Changes</button>
                    {% endform_buttons %}
                    <div class="modal fade"
                         id="save-study-confirmation"
                         tabindex="-1"
                         aria-labelledby="save-study-confirmation-title"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="save-study-confirmation-title">Are you sure you want to modify {{ study.name }}?</h5>
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                {% if study.built or save_confirmation %}
                                    <div id="save-study-confirmation-body" class="modal-body">
                                        {% if study.built %}
                                            <p id="invalidate-build-warning">
                                                You have already built an experiment runner!
                                                Because you are changing the runner version, you will need to rebuild these
                                                before you can preview or start your study.
                                            </p>
                                        {% endif %}
                                        {% if save_confirmation %}
                                            <p>
                                                This study has already been
                                                <strong>approved</strong>. If you edit this study, the system will
                                                automatically give it a rejected status. You will have to resubmit
                                                the study so your changes can be reviewed.
                                            </p>
                                            <p>
                                                If your changes are limited to
                                                <ul>
                                                    <li>whether the study is discoverable</li>
                                                    <li>whether the preview is shared</li>
                                                    <li>the minimum and maximum age or criteria expression</li>
                                                    <li>the participant eligibility description</li>
                                                </ul>
                                                then your study will stay in its {{ study.state }} state.
                                            </p>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <div class="modal-footer">
                                    {% bootstrap_button "Discard Changes" button_class=btn_secondary_classes href=url_cancel %}
                                    {% bootstrap_button "Save" button_class="btn btn-danger" id="save_study_details_confirm" type="submit" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
