{% extends 'exp/base.html' %}
{% load bootstrap3 %}
{% load guardian_tags %}

{% block head %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/vega@5.4.0/build/vega.min.js" integrity="sha256-PrkRj4B3I5V9yHBLdO3jyyqNUwSKS1CXXIh3VrnFPEU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.4.0/build/vega-lite.min.js" integrity="sha256-ro+FWr16NboXJ5rSwInNli1P16ObUXnWUJMgKc8KnHI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@4.2.4/build/vega-embed.min.js" integrity="sha256-jS6iUok3H7bzAMWIQhal64FAcuO3/OILX5X5CghMmeA=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>

    {# PivotTable.js #}
    <script src="https://cdn.jsdelivr.net/npm/pivottable@2.23.0/dist/pivot.min.js" integrity="sha256-/btBGbvOvx2h/NcXVS+JPFhnoUGbZXDX0O2v6AaABLU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/pivot.min.css" integrity="sha256-nn3M6N8S2BjPirPhvCF61ZCcgcppdLtnaNOLhiwro7E=" crossorigin="anonymous" />

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/gchart_renderers.min.js" integrity="sha256-Ve5qXDsBeNuaKKg22jpTMlWThC0OWupW9JtFrXxdy1Q=" crossorigin="anonymous"></script>
    <script type="application/json" id="response-pivot-data">
        {% comment %}
            When we upgrade to django 2.x, please convert to json_script. Please see:
            https://docs.djangoproject.com/en/2.1/ref/templates/builtins/#json-script
        {% endcomment %}
        {{ response_pivot_data | safe }}
    </script>
    {{ form.media }}
{% endblock %}

{% block title %}Participant Analytics{% endblock %}

{% block flash %}
    {% if messages %}
        {% for message in messages %}
            <div id="details" class="alert {{ message.tags }} alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}

    <div class="container">
        <nav class='row'>
            <section class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{% url 'exp:study-list' %}">Manage Studies</a></li>
                    <li class="active">Participant Analytics</li>
                </ol>
            </section>
        </nav>
        <section id="summary-section" class="row">
            <h3>Summary Statistics</h3>
            <h4>Pivot Presets</h4>
            <div id="pivot-presets" class="btn-group btn-group-sm" role="group" aria-label="Preset Pivot Choices">
              <button type="button" class="btn btn-default">Left</button>
              <button type="button" class="btn btn-default">Middle</button>
              <button type="button" class="btn btn-default">Right</button>
            </div>
            <h4>Pivot Table</h4>
            <article id="responses-pivot" class="col-md-12"></article>
        </section>
        <section>
            <h3>Multi-Value Field Breakdowns</h3>
            <article id="characteristics-table" class="col-md-4">
                <h4>Characteristics</h4>
                <table class="table small">
                    <thead>
                    <tr>
                        <th>Characteristic</th>
                        <th># Children</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for characteristic, child_count in characteristics.items %}
                        <tr>
                            <td>{{ characteristic }}</td>
                            <td>{{ child_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </article>
            <article id="languages-table" class="col-md-4">
                <h4>Languages</h4>
                <table class="table small">
                    <thead>
                    <tr>
                        <th>Language</th>
                        <th># Children</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for language, child_count in languages.items %}
                        <tr>
                            <td>{{ language }}</td>
                            <td>{{ child_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </article>
            <article id="studies-table" class="col-md-4">
                <h4>Studies</h4>
                <table class="table small">
                    <thead>
                    <tr>
                        <th>Study</th>
                        <th># Children</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for study_name, child_count in studies.items %}
                        <tr>
                            <td>{{ study_name }}</td>
                            <td>{{ child_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </article>
        </section>
        <section id="participation-section" class="row">
            <h3>Cumulative Participation</h3>
            <article id="participation-graph"></article>
        </section>
        <section id="registration-section" class="row">
            <h3>Cumulative Registrations</h3>
            <article id="registration-graph"></article>
        </section>
    </div>
    {# Load all the graphs now that vega has been loaded #}
    <script type="text/javascript">
        const $responsePivotElement = $("#responses-pivot");
        const RESPONSE_PIVOT_DATA = JSON.parse(document.querySelector("#response-pivot-data").innerText);
        // Need to actually have isoformatted dates as Date objects for PivotTable to bucket properly.
        RESPONSE_PIVOT_DATA.forEach(resp => resp["Date of Response"] = new Date(resp["Date of Response"]));

        // Summary statistics
        google.load("visualization", "1", {packages:["corechart", "charteditor"]});
        let pivotTableDerivers = $.pivotUtilities.derivers;
        let pivotAggregatorTemplates = $.pivotUtilities.aggregatorTemplates;
        let pivotTableRenderers = $.extend(
            {},
            $.pivotUtilities.renderers,
            $.pivotUtilities.gchart_renderers
        );
        const RESPONSE_PIVOT_OPTS = {
            cols: ["Study"],
            rows: ["Child Gender", "Child Gestational Age at Birth"],
            renderers: pivotTableRenderers,
            rendererName: "Table",
            aggregatorName: "Total # Responses",
            derivedAttributes: {
                "Date of Response": pivotTableDerivers.dateFormat("Time of Response", "%y/%m/%d")
            },
            aggregators: {
                "Unique Children": () => pivotAggregatorTemplates.countUnique()(["Child (unique identifier)"]),
                "Unique Families": () => pivotAggregatorTemplates.countUnique()(["Family (unique identifier)"]),
                "Total # Responses": () => pivotAggregatorTemplates.count()(),
                // TODO: This average will probably multiple-count children - we only want to include ages and
                //       incomes per child/family for a more accurate read. A custom aggregator is needed.
                "Average Child Age (days)": () => pivotAggregatorTemplates.average()(["Child Age in Days"]),
                "Average Annual Income": () => pivotAggregatorTemplates.average()(["Family Annual Income"]),
            },
            hiddenFromDragDrop: ["Time of Response", "Child (unique identifier)", "Family (unique identifier)"],
            rendererOptions: {
                gchart: {
                    width: 800,
                    height: 600
                }
            }
        };

        // Vega Charts (timeseries)
        vegaEmbed("#participation-graph", {{ participation_graph_spec|safe }}, {mode: "vega-lite", actions: false});
        vegaEmbed("#registration-graph", {{ registration_graph_spec|safe }}, {mode: "vega-lite", actions: false});

        $responsePivotElement
            .pivotUI(
                RESPONSE_PIVOT_DATA,
                RESPONSE_PIVOT_OPTS
            );

        function reloadPivot() {
            $responsePivotElement
                .pivotUI(
                    RESPONSE_PIVOT_DATA,
                    RESPONSE_PIVOT_OPTS
                );
        }
    </script>
{% endblock %}