{% extends "exp/base.html" %}
{% load django_bootstrap5 %}
{% load exp_extras %}
{% load web_extras %}
{% load tz %}
{% load static %}
{% load bootstrap_icons %}
{% block title %}
    Videos | {{ study.name }}
{% endblock title %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="my-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'exp:study-list' %}">Manage Studies</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'exp:study' pk=study.id %}">{{ study.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Videos</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
{% block content %}
    {% bs_icon "chevron-up" as bs_icon_up %}
    {% bs_icon "chevron-down" as bs_icon_down %}
    {% url 'exp:study-attachments' study.id as url_attachments %}
    {% query_transform request sort='full_name' as sort_name_up %}
    {% query_transform request sort='-full_name' as sort_name_down %}
    {% query_transform request sort='created_at' as sort_date_up %}
    {% query_transform request sort='-created_at' as sort_date_down %}
    {% button_primary_classes "mt-3" as btn_primary_classes %}
    {% page_title "Videos" %}
    <div class="row">
        <div class="col">{% include "studies/_response_nav_tabs.html" with active="attachments" %}</div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="text-end">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_button "Download all videos" button_class=btn_primary_classes button_type="submit" name="all-attachments" value="all" %}
                    {% bootstrap_button "Download all consent videos" button_class=btn_primary_classes button_type="submit" name="all-consent-videos" value="all" %}
                </form>
            </span>
        </div>
    </div>
    <form method="get" class="search-bar my-4">
        <input id="search-attachments"
               class="form-control"
               name="match"
               placeholder="Filter video name"
               type="text"
               value="{{ match }}" />
        <input type="hidden" name="sort" value="{{ sort }}" />
    </form>
    <div class="row mt-3">
        <div class="col-12">
            <div class="table-responsive">
                <table class="study-attachments table table-striped">
                    <caption class="visually-hidden">Study Attachments</caption>
                    <thead>
                        <tr>
                            <th scope="col">
                                Name
                                {% with url_attachments|add:"?"|add:sort_name_up as url_sort_name_up %}
                                    {% bootstrap_button bs_icon_up button_class="btn btn-link ps-1 pe-0" button_type="link" href=url_sort_name_up %}
                                {% endwith %}
                                {% with url_attachments|add:"?"|add:sort_name_down as url_sort_name_down %}
                                    {% bootstrap_button bs_icon_down button_class="btn btn-link px-0" button_type="link" href=url_sort_name_down %}
                                {% endwith %}
                            </th>
                            <th scope="col">
                                Date
                                {% with url_attachments|add:"?"|add:sort_date_up as url_sort_date_up %}
                                    {% bootstrap_button bs_icon_up button_class="btn btn-link ps-1 pe-0" button_type="link" href=url_sort_date_up %}
                                {% endwith %}
                                {% with url_attachments|add:"?"|add:sort_date_down as url_sort_date_down %}
                                    {% bootstrap_button bs_icon_down button_class="btn btn-link px-0" button_type="link" href=url_sort_date_down %}
                                {% endwith %}
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for video in video_list %}
                            <tr>
                                <td>
                                    <span class="small">{{ video.full_name }}</span>
                                </td>
                                <td>{{ video.created_at|date:"n/j/Y g:i A"|default:"N/A" }}</td>
                                <td>
                                    <a href="{% url 'exp:study-response-video-download' pk=study.id video=video.pk %}?mode=download"
                                       class="{% button_primary_classes %} btn-sm">Download</a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">
                                    <div class="empty-text">No videos available for download.</div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="text-end">{% include "studies/_paginator.html" with page=page_obj %}</div>
            </div>
        </div>
    </div>
{% endblock content %}
