{% extends "exp/base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load guardian_tags %}
{% load exp_extras %}
{% load static %}
{% load tz %}
{% block head %}
    {{ block.super }}
    {# moment #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"
            integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    {# summernote #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs5.min.js"
            integrity="sha512-6F1RVfnxCprKJmfulcxxym1Dar5FsT/V2jiEUvABiaEiFWoQ8yHvqRM/Slf0qJKiwin6IDQucjXuolCfCKnaJQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs5.min.css"
          integrity="sha512-ngQ4IGzHQ3s/Hh8kMyG4FC74wzitukRMIcTOoKT3EyzFZCILOPF0twiXOQn75eDINUfKBYmzYn2AA8DkAk8veQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
    {# jqueryui #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
            integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
          integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
    {# datatables #}
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"
            integrity="sha384-Oz2u38d0ZnNWE1m+AIMNNmk9a0EJEto9y2D3kXTaczVZucXieLf798xkusldWrLs"
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"
            integrity="sha384-vs+hZVo+dfG9yLWBmBqUYEnAy7NLQ0j3gmCP+2tx31n5HZGlRBlxlkxYkWOtVmoT"
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css"
          integrity="sha384-8Sp4pLrNlpSBSRuh6y4YI5cH07vvn6DIoUiAAEezYUzdqbTfBNXlP0dJmcVzZjQx"
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
    {# date range picker #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"
            integrity="sha512-mh+AjlD3nxImTUGisMpHXW03gE6F4WdQyvuFRkjecwuWLwD2yCijw4tKA3NsEFpA1C3neiKhGXPSIGSfCYPMlQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.css"
          integrity="sha512-rBi1cGvEdd3NmSAQhPWId5Nd6QxE8To4ADjM2a6n0BrqQdisZ/RPUlm0YycDzvNL1HHAh1nKZqI0kSbif+5upQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
    {# select2 #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
            integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
          integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
    {# others... #}
    <script src="{% static "studies/js/study-participant-contact.js" %}" defer></script>
{% endblock head %}
{% block title %}
    Contact Participants
{% endblock title %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'exp:study-list' %}">Manage Studies</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'exp:study-detail' pk=study.id %}">{{ study.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Contact Participants</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header">Previous Messages</div>
                <div class="card-body">
                    <table id="previousMessagesTable" class="table small">
                        <caption class="d-none">Previous Messages</caption>
                        <thead>
                            <tr class="small">
                                <th scope="col">Sender</th>
                                <th scope="col">Subject</th>
                                <th scope="col">Recipients</th>
                                <th scope="col">Date Sent</th>
                                <th scope="col">Body</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in previous_messages %}
                                <tr class="small">
                                    <td>{{ message.sender.full_name }}</td>
                                    <td>{{ message.subject }}</td>
                                    <td>
                                        <p>{% join_on_key message.recipients 'slug' %}</p>
                                        <p>{% join_on_key message.recipients 'uuid' %}</p>
                                    </td>
                                    <td>{{ message.date_created|localtime|date:"r" }}</td>
                                    <td>{{ message.body|safe }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th scope="col">
                                    <input type="text" class="form-control" placeholder="Filter Sender"/>
                                </th>
                                <th scope="col">
                                    <input type="text" class="form-control" placeholder="Filter Subject"/>
                                </th>
                                <th scope="col">
                                    <input type="text" class="form-control" placeholder="Filter Recipients"/>
                                </th>
                                <th scope="col">
                                    <input type="text"
                                           id="dateRangeFilter"
                                           class="form-control"
                                           name="daterange"/>
                                </th>
                                <th scope="col"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card bg-light mb-3">
                <div class="card-header">Please Select Recipients Filter</div>
                <div class="card-body">
                    <div class="text-center mb-3">
                        <div id="recipientFilter"
                             class="btn-group"
                             role="group"
                             aria-label="recipient filter">
                            <input type="radio"
                                   class="btn-check align-top"
                                   name="btnradio"
                                   id="btnradio1"
                                   autocomplete="off"
                                   data-filter="next-session"
                                   checked/>
                            <label class="btn btn-outline-secondary" for="btnradio1">{% bs_icon "calendar2-check" %}</label>
                            <input type="radio"
                                   class="btn-check"
                                   name="btnradio"
                                   id="btnradio2"
                                   autocomplete="off"
                                   data-filter="new-studies"/>
                            <label class="btn btn-outline-secondary" for="btnradio2">
                                {% bs_icon "file-earmark-plus" %}
                            </label>
                            <input type="radio"
                                   class="btn-check"
                                   name="btnradio"
                                   id="btnradio3"
                                   autocomplete="off"
                                   data-filter="study-updates"/>
                            <label class="btn btn-outline-secondary" for="btnradio3">
                                {% bs_icon "arrow-counterclockwise" %}
                            </label>
                            <input type="radio"
                                   class="btn-check"
                                   name="btnradio"
                                   id="btnradio4"
                                   autocomplete="off"
                                   data-filter="response-questions"/>
                            <label class="btn btn-outline-secondary" for="btnradio4">
                                {% bs_icon "chat" %}
                            </label>
                            <input type="radio"
                                   class="btn-check"
                                   name="btnradio"
                                   id="btnradio5"
                                   autocomplete="off"
                                   data-filter="transactional-message"/>
                            <label class="btn btn-outline-warning" for="btnradio5">
                                {% bs_icon "arrow-down-up" %}
                            </label>
                        </div>
                    </div>
                    <div class="small">
                        <div class="d-none next-session msg">
                            Message participants about another session of this study.
                        </div>
                        <div class="d-none new-studies msg">
                            Message participants about a new study available for one of their children.
                        </div>
                        <div class="d-none study-updates msg">
                            Message participants an update about a study they've participated in (for example, results are published).
                        </div>
                        <div class="d-none response-questions msg">
                            Message participants questions about their individual responses (for example, if they've reported a technical problem during the study).
                        </div>
                        <div class="text-warning d-none transactional-message msg">
                            Transactional emails can be sent to any recipient, even those who opted out of email. They are ONLY for completing a "transaction" initiated by the recipient - e.g., sending a gift card or requested information.
                        </div>
                    </div>
                </div>
            </div>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button "Submit" %}
            </form>
        </div>
    </div>
{% endblock content %}
