{% extends 'exp/base.html' %}
{% load bootstrap3 %}
{% load guardian_tags %}

{% block head %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/vega@5.4.0/build/vega.min.js" integrity="sha256-PrkRj4B3I5V9yHBLdO3jyyqNUwSKS1CXXIh3VrnFPEU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.4.0/build/vega-lite.min.js" integrity="sha256-ro+FWr16NboXJ5rSwInNli1P16ObUXnWUJMgKc8KnHI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@4.2.4/build/vega-embed.min.js" integrity="sha256-jS6iUok3H7bzAMWIQhal64FAcuO3/OILX5X5CghMmeA=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/bootstrap-select.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js" integrity="sha256-+9Mf3cAVmxxudDsr1XwXUeRZFtvdWVYdq5/vcgiYyNU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.15.6/metricsgraphics.min.css" integrity="sha256-H83YjkVzXEyHSdZ/5aVRoW2QfqeJ7gIWduA7aCy9tWY=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.15.6/metricsgraphics.min.js" integrity="sha256-QFwUntQpro6H+h/btQ+8nVVDqeZnVQSuqsTTUGz2o44=" crossorigin="anonymous"></script>


    {# PivotTable.js #}
    <script src="https://cdn.jsdelivr.net/npm/pivottable@2.23.0/dist/pivot.min.js" integrity="sha256-/btBGbvOvx2h/NcXVS+JPFhnoUGbZXDX0O2v6AaABLU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/pivot.min.css" integrity="sha256-nn3M6N8S2BjPirPhvCF61ZCcgcppdLtnaNOLhiwro7E=" crossorigin="anonymous" />

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/gchart_renderers.min.js" integrity="sha256-Ve5qXDsBeNuaKKg22jpTMlWThC0OWupW9JtFrXxdy1Q=" crossorigin="anonymous"></script>
    <script type="application/json" id="response-pivot-data">
        {% comment %}
            When we upgrade to django 2.x, please convert to json_script. Please see:
            https://docs.djangoproject.com/en/2.1/ref/templates/builtins/#json-script
        {% endcomment %}
        {{ response_pivot_data | safe }}
    </script>
    <script type="application/json" id="response-timeseries-data">
        {% comment %}
            When we upgrade to django 2.x, please convert to json_script. Please see:
            https://docs.djangoproject.com/en/2.1/ref/templates/builtins/#json-script
        {% endcomment %}
        {{ response_timeseries_data | safe }}
    </script>
    {{ form.media }}
{% endblock %}

{% block title %}Participant Analytics{% endblock %}

{% block flash %}
    {% if messages %}
        {% for message in messages %}
            <div id="details" class="alert {{ message.tags }} alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}

    <div class="container">
        <nav class='row'>
            <section class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{% url 'exp:study-list' %}">Manage Studies</a></li>
                    <li class="active">Participant Analytics</li>
                </ol>
            </section>
        </nav>
        <section id="participation-section" class="row">
            <h3>Cumulative Participation</h3>
            <article class="col-xs-4">
                <div id="participant-plot-filter-panel" class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Choose Plotlines</h4>
                    </div>
                    <div class="panel-body">
                        <label class="control-label sr-only" for="timeseries-filter">Filter</label>
                        <select id="timeseries-filter"
                                class="selectpicker form-control"
                                multiple>
                            <optgroup id="all-studies-filter" label="ALL STUDIES">
                                <option value="ALL:any"
                                        data-ruling="any">
                                    All Rulings
                                </option>
                                <option value="ALL:pending"
                                        data-ruling="pending">
                                    Pending
                                </option>
                                <option value="ALL:accepted"
                                        data-ruling="accepted">
                                    Accepted</option>
                                <option value="ALL:rejected"
                                        data-ruling="rejected">
                                    Rejected
                                </option>
                            </optgroup>
                            {% for study in all_studies %}
                                <optgroup label="{{ study.name }}"
                                          data-study-id="{{ study.id }}">
                                    <option value="{{ study.id }}:any"
                                            data-subtext="{{ study.name }}"
                                            data-ruling="any">
                                        All Rulings
                                    </option>
                                    <option value="{{ study.id }}:pending"
                                            data-subtext="{{ study.name }}"
                                            data-ruling="pending">
                                        Pending
                                    </option>
                                    <option value="{{ study.id }}:accepted"
                                            data-subtext="{{ study.name }}"
                                            data-ruling="accepted">
                                        Accepted
                                    </option>
                                    <option value="{{ study.id }}:rejected"
                                            data-subtext="{{ study.name }}"
                                            data-ruling="rejected">
                                        Rejected
                                    </option>
                                </optgroup>
                            {% endfor %}
                        </select>
                    <h5>Legend</h5>
                        <section id="plot-legend"></section>
                    </div>
                </div>
            </article>
            <article id="participation-detail-graph" class="col-xs-8"></article>
            <article id="participation-overview-graph"></article>

        </section>
        <section id="registration-section" class="row">
            <h3>Cumulative Registrations</h3>
            <article id="registration-graph"></article>
        </section>
        <section id="summary-section" class="row">
            <h3>Summary Statistics</h3>
            <h4>Pivot Presets</h4>
            <div id="pivot-presets" class="btn-group btn-group" role="group" aria-label="Preset Pivot Choices">
                <button type="button"
                        class="btn btn-default"
                        data-cols="Parent/Guardian Age"
                        data-aggregator="Total # Responses"
                        data-renderer="Table"># Responses by Parent Age</button>
                <button type="button"
                        class="btn btn-default"
                        data-cols="Study"
                        data-rows="Consent Ruling"
                        data-aggregator="Total # Responses"
                        data-renderer="Stacked Bar Chart">Rulings by Study</button>
                <button type="button"
                        class="btn btn-default"
                        data-cols="Child Gender"
                        data-rows="Study"
                        data-aggregator="Unique Children"
                        data-renderer="Table">Unique Children per Study by Gender</button>
                <button type="button"
                        class="btn btn-default"
                        data-cols="Parent/Guardian Education Level"
                        data-aggregator="Unique Families"
                        data-renderer="Bar Chart">Unique Families per Parent/Guardian Education Level</button>
            </div>
            <h4>Pivot Table</h4>
            <article id="responses-pivot" class="col-md-12"></article>
        </section>
        <section>
            <h3>Multi-Value Field Breakdowns</h3>
            <article id="characteristics-table" class="col-md-4">
                <h4>Characteristics</h4>
                <table class="table small">
                    <thead>
                    <tr>
                        <th>Characteristic</th>
                        <th># Children</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for characteristic, child_count in characteristics.items %}
                        <tr>
                            <td>{{ characteristic }}</td>
                            <td>{{ child_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </article>
            <article id="languages-table" class="col-md-4">
                <h4>Languages</h4>
                <table class="table small">
                    <thead>
                    <tr>
                        <th>Language</th>
                        <th># Children</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for language, child_count in languages.items %}
                        <tr>
                            <td>{{ language }}</td>
                            <td>{{ child_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </article>
            <article id="studies-table" class="col-md-4">
                <h4>Studies</h4>
                <table class="table small">
                    <thead>
                    <tr>
                        <th>Study</th>
                        <th># Children</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for study_name, child_count in studies.items %}
                        <tr>
                            <td>{{ study_name }}</td>
                            <td>{{ child_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </article>
        </section>

    </div>
    {# Load all the graphs now that vega has been loaded #}
    <script type="text/javascript">
        const $responsePivotElement = $("#responses-pivot"),
              $timeseriesFilter     = $("#timeseries-filter"),
              $timeseriesOptions    = $timeseriesFilter.find("option");
        const RESPONSE_PIVOT_DATA      = JSON.parse(document.querySelector("#response-pivot-data").innerText),
              RESPONSE_TIMESERIES_DATA = JSON.parse(document.querySelector("#response-timeseries-data").innerText);

        const RESPONSE_TIMESERIES_CACHE = {},
              LEGEND_LABEL_CACHE        = {};
        // Need to actually have isoformatted dates as Date objects for PivotTable to bucket properly.
        RESPONSE_TIMESERIES_DATA.forEach(record => record['date_of_response'] = new Date(record["date_of_response"]));


        const BASE_SELECT_SETTINGS = {
            width: '100%',
            sanitize: true,
            liveSearch: true,
        };

        const TIMESERIES_FILTER_SETTINGS = $.extend(
            BASE_SELECT_SETTINGS,
            {
                selectedTextFormat: 'count',
                title: 'Select Timeseries to Display',
                liveSearchPlaceholder: 'Search by study name',
            }
        );

        // Boot up plots with defaults.
        const PARTICIPATION_DETAIL_PLOT = {
            title: "Participant Detail Plot",
            description: "Zoomable",
            data: RESPONSE_TIMESERIES_DATA,
            top: 70,
            // width: 600,
            full_width: true,
            height: 400,
            right: 40,
            // missing_is_hidden: true,
            interpolate: d3.curveStepAfter,
            target: document.getElementById('participation-detail-graph'),
            x_accessor: 'date_of_response',
            y_accessor: ['total_cumulative_responses'],
            y_label: "Cumulative Responses",
            legend: ["Total Cumulative Responses"],
            legend_target: "#plot-legend",
            area: false
        };

        const PARTICIPATION_OVERVIEW_PLOT = {
            title: "Drag Range to Zoom",
            description: "Overview",
            data: RESPONSE_TIMESERIES_DATA,
            top: 70,
            full_width: true,
            // width: 600,
            height: 160,
            right: 40,
            // missing_is_hidden: true,
            interpolate: d3.curveStepAfter,
            target: document.getElementById('participation-overview-graph'),
            brush: 'x',
            x_axis: false,
            y_axis: false,
            zoom_target: PARTICIPATION_DETAIL_PLOT,
            x_accessor: 'date_of_response',
            y_accessor: ['total_cumulative_responses'],
            showActivePoint: false,
            area: false
        };

        google.load("visualization", "1", {packages:["corechart", "charteditor"]});

        // Summary statistics
        const pivotTableDerivers = $.pivotUtilities.derivers;
        const pivotAggregatorTemplates = $.pivotUtilities.aggregatorTemplates;
        const pivotTableRenderers = $.extend(
            {},
            $.pivotUtilities.renderers,
            $.pivotUtilities.gchart_renderers
        );
        const RESPONSE_PIVOT_OPTS = {
            cols: ["Study"],
            rows: ["Child Gender", "Child Gestational Age at Birth"],
            renderers: pivotTableRenderers,
            rendererName: "Table",
            aggregatorName: "Total # Responses",
            derivedAttributes: {
                "Date of Response": pivotTableDerivers.dateFormat("Time of Response", "%y/%m/%d")
            },
            aggregators: {
                "Unique Children": () => pivotAggregatorTemplates.countUnique()(["Child (unique identifier)"]),
                "Unique Families": () => pivotAggregatorTemplates.countUnique()(["Family (unique identifier)"]),
                "Total # Responses": () => pivotAggregatorTemplates.count()(),
                // TODO: This average will probably multiple-count children - we only want to include ages and
                //       incomes per child/family for a more accurate read. A custom aggregator is needed.
                "Average Child Age (days)": () => pivotAggregatorTemplates.average()(["Child Age in Days"]),
                "Average Child Age (months)": () => pivotAggregatorTemplates.average()(["Child Age in Months"]),
                "Average Child Age (years)": () => pivotAggregatorTemplates.average()(["Child Age in Years"]),
                "Average Annual Income": () => pivotAggregatorTemplates.average()(["Family Annual Income"]),
            },
            hiddenFromDragDrop: ["Time of Response", "Child (unique identifier)", "Family (unique identifier)"],
            rendererOptions: {
                gchart: {
                    width: 800,
                    height: 600,
                    interpolateNulls: true,
                    isStacked: false,
                }
            }
        };

        // Vega Charts (timeseries)
        {#vegaEmbed("#participation-graph", {{ participation_graph_spec|safe }}, {mode: "vega-lite", actions: false});#}
        {#vegaEmbed("#registration-graph", {{ registration_graph_spec|safe }}, {mode: "vega-lite", actions: false});#}


        /**
         * On selection, tries to see if the TS has already been generated.
         *
         * @param $jqEvent
         * @param clickedIndex
         * @param isSelected
         * @param previousValue
         */
        function handleTimeSeriesFilter($jqEvent, clickedIndex, isSelected, previousValue) {
            let timeseriesHandles  = $(this).val() || [],
                selectedRuling     = $timeseriesOptions[clickedIndex],
                optGroupForStudy   = selectedRuling.parentNode,
                legendLabels       = [];

            let newTimeseriesSet = timeseriesHandles.reduce(
                (timeseriesSet, handle) => {
                    let seriesObj   = RESPONSE_TIMESERIES_CACHE[handle],
                        legendLabel = LEGEND_LABEL_CACHE[handle],
                        ruling      = selectedRuling.dataset.ruling;
                    if (!seriesObj) {
                        seriesObj = RESPONSE_TIMESERIES_CACHE[handle] =
                            generateFilteredTimeSeries(
                                optGroupForStudy.dataset.studyId,
                                ruling
                            );
                        legendLabel = LEGEND_LABEL_CACHE[handle] = `${optGroupForStudy.label} - ${ruling}`;
                    }
                    timeseriesSet.push(seriesObj);
                    // true if it's an "any ruling" for that study
                    legendLabels.push(legendLabel);
                    return timeseriesSet;
                },
                [] // timeseriesSet initializer
            );

            if (newTimeseriesSet.length && newTimeseriesSet[0].length) {
                // Now fill with data, y_accessor, and legend, then draw.
                let newPlotOptions = {
                    data: newTimeseriesSet,
                    x_accessor: "date",
                    y_accessor: "value",
                };

                // Don't understand what this does, but apparently have to do it:
                // https://metricsgraphicsjs.org/examples.htm#updating

                let detailPlotOpts = $.extend(
                    {},
                    PARTICIPATION_DETAIL_PLOT,
                    newPlotOptions,
                    {
                        legend: legendLabels
                    }
                );

                delete detailPlotOpts.xax_format;

                let overviewPlotOpts = $.extend(
                    {},
                    PARTICIPATION_OVERVIEW_PLOT,
                    newPlotOptions,
                    {
                        zoom_target: detailPlotOpts
                    }
                );

                delete overviewPlotOpts.xax_format;

                MG.data_graphic(detailPlotOpts);
                MG.data_graphic(overviewPlotOpts);
            } else {
                MG.data_graphic(PARTICIPATION_DETAIL_PLOT);
                MG.data_graphic(PARTICIPATION_OVERVIEW_PLOT);
            }
        }


        function generateFilteredTimeSeries(studyId, consentRuling) {
            // Determine aggregation field to pick.
            let aggField;
            if (studyId) {
                if (consentRuling === "any") {
                    aggField = "cumulative_count_per_study";
                } else {
                    aggField = "cumulative_count_per_study_by_ruling";
                }
            } else {
                if (consentRuling === "any") {
                    aggField = "total_cumulative_responses";
                } else {
                    aggField = "cumulative_count_per_ruling";
                }
            }
            return RESPONSE_TIMESERIES_DATA.reduce(
                (newSeries, responseDataPoint, currentIndex, sourceArray) => {
                    if ((consentRuling === "any" || responseDataPoint["current_ruling"] === consentRuling)    &&
                        (!studyId                || responseDataPoint["study__id"] === parseInt(studyId))) {
                        newSeries.push({
                            date: responseDataPoint["date_of_response"],
                            value: responseDataPoint[aggField]
                        });
                    } else {
                        // For continuity, we're adding a fake datapoint to the timeseries that is just the
                        // same as whatever the last value was. This will only work for cumulative datasets!
                        let previousPoint = newSeries.slice(-1)[0],
                            newValue         = previousPoint ? previousPoint["value"] : 0;

                        newSeries.push({
                            date: responseDataPoint["date_of_response"],
                            value: newValue
                        });
                    }
                    return newSeries;
                },
                []  // newSeries initializer
            );
        }

        function reloadPivot(event) {
            let button;
            if ((button = event.target) && button.tagName === "BUTTON") {
                let data = button.dataset;
                RESPONSE_PIVOT_OPTS["cols"] = data.cols ? data.cols.split(", ") : [];
                RESPONSE_PIVOT_OPTS["rows"] = data.rows ? data.rows.split(", ") : [];
                RESPONSE_PIVOT_OPTS["aggregatorName"] = data.aggregator || "Total # Responses";
                RESPONSE_PIVOT_OPTS["rendererName"] = data.renderer || "Table";
                $responsePivotElement
                    .pivotUI(
                        RESPONSE_PIVOT_DATA,
                        RESPONSE_PIVOT_OPTS,
                        true
                    );
            }

        }

        function initializeView() {
            $responsePivotElement
                .pivotUI(
                    RESPONSE_PIVOT_DATA,
                    RESPONSE_PIVOT_OPTS
                );

            MG.data_graphic(PARTICIPATION_DETAIL_PLOT);
            MG.data_graphic(PARTICIPATION_OVERVIEW_PLOT);

            $timeseriesFilter
            .selectpicker(TIMESERIES_FILTER_SETTINGS)
            .on('changed.bs.select', handleTimeSeriesFilter);

            document.getElementById("pivot-presets").addEventListener("click", reloadPivot);
        }

        // Initialize.
        initializeView();
    </script>
{% endblock %}