{% extends 'exp/base.html' %}
{% load bootstrap3 %}

{% block title %}Participant Email {% endblock %}
{% block flash %}
  {% bootstrap_messages %}
  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
      {{ form.non_field_errors }}
  </div>
  {% endif %}
{% endblock %}
{% block content %}
<script>
    $(document).ready(function() {
        document.getElementById("email-type").value = "none";
        $('form').submit(function() {
            $("#send-email").text("Sending...");
            $("#send-email").attr("disabled", "disabled");
        });
        $('#email-type').on('change', function(selected) {
            var allEmails = $('.email-list');
            allEmails.hide();
            $('.email-list').hide()
            $('#no-participants').hide();
            for (var i = 0; i < allEmails.length; i++) {
                allEmails[i].required = false;
                allEmails[i].name = '';
            }
            if (selected && selected.currentTarget.value !== 'none') {
                var value = selected.currentTarget.value
                if ($('#' + value)[0].options.length > 0) {
                    $('#contact-form').show()
                    $(`#${value}`).show();
                    $(`#${value}`)[0].required = true;
                    $(`#${value}`)[0].name = 'recipients';
                } else {
                    $('#contact-form').hide();
                    $('#no-participants').show();
                }

            } else {
                $('#contact-form').hide();
                $('#no-participants').hide();
            }

        })
    });
</script>
<div class="container mb-lg">
    <div class='row'>
         <div class="col-xs-12">
             <ol class="breadcrumb">
               <li><a href="{% url 'exp:study-list' %}"> Manage Studies </a></li>
               <li><a href="{% url 'exp:study-detail' pk=study.id %}"> {{ study.name }} </a></li>
               <li class="active"> Email Participants </li>
             </ol>
         </div>
     </div>
    <div class="row">
         <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
             <div class="form-group">
                <label for="email-type">Select email type:</label>
                <select class="form-control" id="email-type">
                  <option value="none" selected >Select type of email you wish to send to participant(s)</option>
                  <option value="email_next_session">Another study session available for child</option>
                  <option value="email_new_studies">New study available for child</option>
                  <option value="email_study_updates">Study updates available</option>
                  <option value="email_response_questions">Questions about participant responses</option>
                </select>
             </div>
             <div id="no-participants" style="display:none">
                 <p><em> No participants eligible to email. </em></p>
             </div>
             <div id="contact-form" class="panel panel-default" style="display:none">
               <div class="panel-heading">
                 <h1 class="panel-title">Contact Form</h1>
               </div>
               <div class="panel-body">
                 <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
                     <div class="form-group">
                        <label for="pwd">Sender</label>
                        <input type="text" placeholder="From" value="{{ sender }}" class="form-control" id="sender" name="sender" required>
                         <p class="small">Override to receive responses.</p>
                     </div>
                     <div class="form-group">
                         <label>Recipients</label>
                         <select style="display:none" id="email_next_session" multiple class="email-list form-control">
                             {% for participant in email_next_session %}
                                <option value="{{participant.id}}">{% if participant.nickname %} {{ participant.nickname }}{% else %} No nickname{% endif %}, Id: {{ participant.id }}, UUID: {{ participant.uuid }}</option>
                             {% endfor %}
                         </select>
                         <select style="display:none" id="email_new_studies" multiple class="email-list form-control">
                             {% for participant in email_new_studies %}
                                <option value="{{participant.id}}">{% if participant.nickname %} {{ participant.nickname }}{% else %} No nickname{% endif %}, Id: {{ participant.id }}, UUID: {{ participant.uuid }}</option>
                             {% endfor %}
                         </select>
                         <select style="display:none" id="email_study_updates" multiple class="email-list form-control">
                             {% for participant in email_study_updates %}
                                <option value="{{participant.id}}">{% if participant.nickname %} {{ participant.nickname }}{% else %} No nickname{% endif %}, Id: {{ participant.id }}, UUID: {{ participant.uuid }}</option>
                             {% endfor %}
                         </select>
                         <select style="display:none" id="email_response_questions" multiple class="email-list form-control">
                             {% for participant in email_response_questions %}
                                <option value="{{participant.id}}">{% if participant.nickname %} {{ participant.nickname }}{% else %} No nickname{% endif %}, Id: {{ participant.id }}, UUID: {{ participant.uuid }}</option>
                             {% endfor %}
                         </select>
                         <p class="small">Hold down the Ctrl (windows) / Command (Mac) button to select multiple participants.</p>
                     </div>
                     <div class="form-group">
                         <label for="subject">Subject</label>
                         <input type="text" class="form-control" id="subject" required name="subject">
                     </div>
                     <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" rows="5" id="message" required name="message"></textarea>
                     </div>
                     {% buttons %}
                         <a href="{% url 'exp:study-participant-email' study.id %}" class="btn btn-default">
                             <i class="fa fa-trash-o" aria-hidden="true"></i>
                         </a>
                         <div class="pull-right">
                             <button type="submit" id="send-email" class="btn btn-success">
                                 Send
                             </button>
                         </div>
                     {% endbuttons %}
                 </form>
             </div>
         </div>
     </div>
 </div>

</div>
{% endblock %}
