services:

  db:
    image: postgres:9.6
    container_name: lookit-api-db
    command: postgres -c stats_temp_directory=/tmp
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
     - "5432:5432"
    environment:
      - POSTGRES_DB=lookit
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 15s
      timeout: 15s
      retries: 5

  web:
    build: 
      dockerfile: Dockerfile.web
    container_name: lookit-api-web
    command: poetry run ./manage.py runsslserver --certificate ./certs/local_lookit.mit.edu.pem --key ./certs/local_lookit.mit.edu-key.pem 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - RABBITMQ_HOST=broker
    depends_on:
      db:
        condition: service_healthy
    links:
      - db

  broker:
    image: rabbitmq:3.8.16-management-alpine
    container_name: lookit-api-broker
    env_file:
     - .env
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 15s
      timeout: 15s
      retries: 5

  worker:
    build:
      dockerfile: Dockerfile.web
    container_name: lookit-api-worker
    command: poetry run celery worker --app=project --loglevel=INFO -Q builds,email,cleanup
    volumes:
      - .:/code
    env_file:
      - .env
    environment:
      - RABBITMQ_HOST=broker
    depends_on:
      broker:
        condition: service_healthy
