[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-pdb = "==0.5.1"
django-debug-toolbar = "==1.11"
black = "==18.9b0"
isort = "==4.3.4"
django-shells = "==0.1.0"
Werkzeug = "==0.12.1"
ptpython = "==2.0.4"
ipython = "*"
watchdog = "*"
pgcli = "*"
pyopenssl = "*"
pyinstrument = "*"
importanize = "*"
invoke = "*"
autopep8 = "*"
docformatter = "*"
yapf = "*"

[packages]
djangorestframework-jsonapi = "==2.7.0"
ciso8601 = "==1.0.3"
django-ace-overlay = "==0.8.0"
django-bootstrap3 = "==11.0.0"
django-countries = "==4.4"
django-extensions = "==2.1.9"
django-guardian = "==1.4.8"
django-localflavor = "==1.4.1"
django-model-utils = "==3.0.0"
django-pdb = "==0.5.1"
django-prettyjson = "==0.2.2"
djangorestframework = "==3.9.2"
kombu = "==4.5.0"
pydenticon = "==0.3"
transitions = "==0.5.3"
drf-nested-routers = "==0.90.0"
django-dynamic-fixture = "==2.0.0"
django-filter = "==2.1.0"
django-cors-headers = "==2.1.0"
django-revproxy = "==0.9.15"
django-multiselectfield = "==0.1.7"
django-storages = "==1.7.1"
django-allauth = "==0.32.0"
boto3 = "==1.4.5"
sentry-sdk = "==0.7.11"
celery = "==4.3.0"
bcrypt = "==3.0.0"
requests = "==2.21.0"
urllib3 = "==1.24.2"
Django = "==1.11.23"
Werkzeug = "==0.12.1"
django_celery_beat = "==1.4.0"
fleep = "==1.0.1"
psycopg2 = "==2.7.5"
google-cloud-storage = "==1.14.0"
docker = "==3.7.2"
django-bitfield = "==1.9.3"
django-sslserver = "*"
django-debug-toolbar = "*"
lark-parser = "==0.7.2"
lark = "*"

[requires]
python_version = "3.6"
