[tool.poetry]
name = "lookit-api"
version = "0.1.0"
description = ""
authors = [""]

[tool.poetry.dependencies]
bcrypt = "3.2.0"
boto3 = "1.20.50"
celery = "4.4.7"
ciso8601 = "2.1.3"
Django = "3.2.11"
django-ace-overlay = "0.8.0"
django-allauth = "0.42.0"
django-bitfield = "2.1.0"
django-bootstrap3 = "^21.1"
django-celery-beat = "2.0.0"
django-cors-headers = "3.4.0"
django-countries = "7.2.1"
django-extensions = "3.1.5"
django-filter = "2.4.0"
django-guardian = "2.3.0"
django-localflavor = "3.1"
django-model-utils = "4.0.0"
django-multiselectfield = "0.1.12"
django-pandas = "0.6.2"
django-prettyjson = "0.4.1"
django-revproxy = { git = "https://github.com/Innovativity/django-revproxy.git", branch = "b9fa8375d03fd68747dcb7273a97c19d788aa51b" }
django-storages = "1.11.1"
djangorestframework = "3.12.4"
djangorestframework-jsonapi = "3.1.0"
docker = "4.2.1"
drf-nested-routers = "0.93.3"
fleep = "1.0.1"
gevent = "21.12.0"
google-cloud-storage = "2.1.0"
greenlet = "1.1.2"
kombu = "4.6.11"
lark-parser = "0.8.9"
more-itertools = "8.8.0"
psycogreen = "1.0.2"
psycopg2-binary = "2.9.2"
pydenticon = "0.3.1"
pyotp = "2.6.0"
python = "^3.9"
python-dateutil = "2.8.1"
qrcode = "6.1"
requests = "2.26.0"
sendgrid-django = "4.2.0"
sentry-sdk = "1.3.0"
transitions = "0.8.1"
uWSGI = "2.0.19.1"

[tool.poetry.dev-dependencies]
coverage = "^5.5"
django-sslserver = "0.22"
invoke = "^1.6.0"
parameterized = "^0.8.1"
pyinstrument = "3.1.3"
pyopenssl = "19.1.0"
python_dotenv = "0.18.0"
django-dynamic-fixture = "^3.1.2"
beautifulsoup4 = "^4.10.0"
black = "22.3.0"
djlint = "0.7.6"
pre-commit = "2.18.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.djlint]
profile = "django"
ignore = "H006,H021"
