[tool.poetry]
name = "lookit-api"
version = "0.1.0"
description = ""
authors = [""]

[tool.poetry.dependencies]
python = "3.8.3"
bcrypt = "3.2.0"
boto3 = "1.14.10"
celery = "4.4.6"
ciso8601 = "1.0.3"
Django = "3.0.14"
django-ace-overlay = "0.8.0"
django-allauth = "0.42.0"
django-bitfield = "2.0.1"
django-bootstrap3 = "14.0.0"
django-celery-beat = "2.0.0"
django-cors-headers = "3.4.0"
django-countries = "6.1.2"
django-dynamic-fixture = "3.1.0"
django-extensions = "2.2.9"
django-filter = "2.3.0"
django-guardian = "2.3.0"
django-localflavor = "3.0.1"
django-model-utils = "4.0.0"
django-multiselectfield = "0.1.12"
django-pandas = "0.6.2"
django-prettyjson = "0.4.1"
django-revproxy = "0.10.0"
django-storages = "1.9.1"
djangorestframework = "3.11.2"
djangorestframework-jsonapi = "3.1.0"
docker = "4.2.1"
drf-nested-routers = "0.91"
fleep = "1.0.1"
google-cloud-storage = "1.29.0"
kombu = "4.6.10"
lark-parser = "0.8.9"
more-itertools = "8.4.0"
psycopg2-binary = "2.8.5"
pydenticon = "0.3"
pyotp = "2.3.0"
qrcode = "6.1"
requests = "2.21.0"
sentry-sdk = "0.15.1"
transitions = "0.8.1"
urllib3 = "1.24.3"

[tool.poetry.dev-dependencies]
invoke = "^1.5.0"
semantic-version = "^2.8.5"
pipenv-poetry-migrate = "^0.1.4"
black = "19.10b0"
django-debug-toolbar = "2.2.1"
django-pdb = "0.6.2"
django-shells = "0.1.0"
django-sslserver = "0.22"
django-stubs = "1.5.0"
importanize = "0.7.0"
ipython = "7.13.0"
isort = "4.3.21"
pre-commit = "2.5.1"
ptpython = "3.0.2"
pygraphviz = "1.5"
pyinstrument = "3.1.3"
pyopenssl = "19.1.0"
python_dotenv = "0.14.0"
watchdog = "0.10.2"
werkzeug = "1.0.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
