{% extends "exp/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbo" style="padding-top: 25px">
      <h1 style="font-size: 48px; text-align: center; font-weight: 300;">
          Login Unsuccessful
      </h1>
      <h4 style="text-align: center; font-weight: 300;">
          If this should not have occurred and the issue persists, please report it to <a href="mailto:support@osf.io">support@osf.io</a>.
      </h4>
      <h3 style="text-align: center; font-weight: 300;">
          <a href="/">Return to Lookit</a>
      </h3>
  </div>
</div>
{% endblock %}
