{% extends "exp/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>{% trans "Login" %} to Experimenter </h1>
    </div>
    <div class="panel-body">
      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
      <p>
          {% blocktrans with site.name as site_name %}
          Please sign in to the Open Science Framework or register for an account and sign in below.
      </p>
      <p>
        By using or requesting access to Lookit, you agree that you have read and accepted the <a href="/termsofuse/" target="_blank">Terms of Use</a> and <a href="/privacy/" target="_blank">Privacy Statement</a>.
        {% endblocktrans %}
      </p>

      <div class="socialaccount_ballot">
        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
      </div>
      {% endif %}
  </div>
  </div>
</div>
{% endblock %}
