{% load static %}
{% load web_extras %}
{% static 'images/elizabeth-bonawitz.jpg' as elizabeth_img %}
{% static 'images/hyowon-gweon.png' as hyowon_img %}
{% static 'images/julian-jara-ettinger.png' as julian_img %}
{% static 'images/marjorie-rhodes.jpg' as marjorie_img %}
{% static 'images/laura-schulz.jpeg' as laura_img %}
<div class="row">
    {% staff_profile "Elizabeth Bonawitz" elizabeth_img "Elizabeth Bonawitz is the David Vitale Associate Professor in Learning Sciences and PI of the Computational Cognitive Development Lab at Harvard University, Graduate School of Education." %}
    {% staff_profile "Hyowon Gweon" hyowon_img "Hyowon Gweon is an associate professor at Stanford University in the Department of Psychology." %}
    {% staff_profile "Julian Jara-Ettinger" julian_img "Julian Jara-Ettinger is an associate professor on term at Yale University in the Department of Psychology." %}
    {% staff_profile "Marjorie Rhodes" marjorie_img "Marjorie Rhodes is a full professor at New York University and the Director of the Conceptual Development and Social Cognition Lab." %}
    {% staff_profile "Laura Schulz" laura_img "Laura Schulz is a full professor at MIT and the PI of the Early Childhood Cognition Lab." %}
</div>
