{% load web_extras %}
{% url "web:lab-studies-list" lab_slug="garden" as garden_url %}
<div class="row py-lg-3 justify-content-evenly align-items-center">
    <div class="col-12 col-lg-10">
        <ul class="nav nav-tabs justify-content-center">
            {% nav_link request 'web:garden-home' 'Project <span class="text-success">GARDEN</span>' list=True %}
            {% nav_link request 'web:garden-about' 'About' list=True %}
            {% nav_link request 'web:garden-participate' 'How to Join' list=True %}
            {% nav_link request garden_url 'Start Now' list=True reverse_url=False %}
            {% nav_link request 'web:garden-scientists' 'GARDEN Scientists' list=True %}
        </ul>
    </div>
</div>
