{% load web_extras %}
<div class="row pt-3 justify-content-evenly align-items-center">
    <div class="col-12 col-lg-10">
        <ul class="nav nav-tabs justify-content-center">
            {% nav_link request 'web:garden-home' 'Project GARDEN' list=True %}
            {% nav_link request 'web:garden-home' 'About' list=True %}
            {% nav_link request 'web:garden-home' 'How to Join' list=True %}
            {% nav_link request 'web:garden-home' 'Start Now' list=True %}
            {% nav_link request 'web:garden-home' 'The Scientists' list=True %}
        </ul>
    </div>
</div>
