{% load static %}
{% load web_extras %}
{% static 'images/elham-doust.jpeg' as elham_img %}
{% static 'images/rosie-aboody.jpg' as rosie_img %}
{% static 'images/bria-long.jpg' as bria_img %}
{% static 'images/michelle-wong.jpg' as michelle_img %}
{% static 'images/deisy-martinez.jpg' as deisy_img %}
<div class="row">
    {% staff_profile "Elham Doust" elham_img "Elham Doust is the animator and lead artist for the GARDEN Storybook featuring Fen the friendly fox! She is a lecturer at UT Dallas in the School of Arts, Humanities, and Technology." %}
    {% staff_profile "Rosie Aboody" rosie_img "Rosie Aboody is a postdoctoral fellow in Dr. Bonawitz's Computational Cognitive Development Lab at Harvard, and Dr. Schulz's Early Childhood Cognition Lab at MIT." %}
    {% staff_profile "Bria Long" bria_img "Bria Long is a postdoctoral fellow at Stanford University and a member of the Language & Cognition Lab." %}
    {% staff_profile "Michelle Wong" michelle_img "Michelle Wong is a graduate student in Dr. Bonawitz's Computational Cognitive Lab at Harvard University, Graduate School of Education." %}
    {% staff_profile "Deisy Martinez" deisy_img "Deisy Martinez is a lab manager in Dr. Moira Dillon's Lab for the Developing Mind at New York University." %}
</div>
