{% load static %}
<div class="row">
    <div class="col-3">
        <img class="img-fluid w-100 mx-auto d-block rounded-circle shadow mb-3"
             alt="Nadia Chernyak"
             src="{% static 'images/nadia-chernyak.png' %}"/>
        <h3 class="text-center">Nadia Chernyak</h3>
        <p>
            Nadia Chernyak is an assistant professor in the Department of Cognitive Sciences at the University of California, Irvine and directs the Development of Social Cognition Lab.
        </p>
    </div>
    <div class="col-3">
        <img class="img-fluid w-100 mx-auto d-block rounded-circle shadow mb-3"
             alt="Jenny Wang"
             src="{% static 'images/jenny-wang.png' %}"/>
        <h3 class="text-center">Jenny Wang</h3>
        <p>
            Jenny Wang is an assistant professor in the Department of Psychology at Rutgers University and directs the Cognition and Learning Center.
        </p>
    </div>
    <div class="col-3">
        <img class="img-fluid w-100 mx-auto d-block rounded-circle shadow mb-3"
             alt="Moira Dillon"
             src="{% static 'images/moira-dillon.png' %}"/>
        <h3 class="text-center">Moira Dillon</h3>
        <p>Moira Dillon is an assistant professor at New York University and director of the Lab for the Developing Mind.</p>
    </div>
    <div class="col-3">
        <img class="img-fluid w-100 mx-auto d-block rounded-circle shadow mb-3"
             alt="Sabine Doebel"
             src="{% static 'images/sabine-doebel.jpeg' %}"/>
        <h3 class="text-center">Sabine Doebel</h3>
        <p>Sabine Doebel is an assistant professor at George Mason University and director of the Developing Minds Lab.</p>
    </div>
    <div class="col-3">
        <img class="img-fluid w-100 mx-auto d-block rounded-circle shadow mb-3"
             alt="Michael Frank"
             src="{% static 'images/michael-c-frank.jpeg' %}"/>
        <h3 class="text-center">Michael Frank</h3>
        <p>
            Michael Frank is the David and Lucile Packard Professor of Human Biology at Stanford University and director of the Language and Cognition Lab.
        </p>
    </div>
</div>
