{% extends "web/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% load bootstrap_icons %}
{% load web_extras %}
{% block title %}
    GARDEN Participate
{% endblock title %}
{% block head %}
    <script src="{% static 'js/garden-participate.js' %}" defer></script>
{% endblock head %}
{% block content %}
    {% include "web/garden/_navigation.html" %}
    {% trans "How to Participate" as trans_participate_title %}
    {% page_title trans_participate_title %}
    <div class="row m-lg-4 justify-content-evenly align-items-center">
        <div class="col-12 col-lg-10">
            <h3 class="subheading">Is Project GARDEN for me?</h3>
            <p class="mx-lg-4">Project GARDEN is for all families with 3- to 6-year-old children who:</p>
            <ul class="mx-lg-4 lh-lg">
                <li>Can be supervised by a legal caregiver (parent or other legal guardian) as they participate in each study</li>
                <li>Can use and understand English</li>
                <li>
                    Have access to a computer or laptop that has:
                    <ul>
                        <li>A webcam and a microphone</li>
                        <li>Internet access</li>
                    </ul>
                </li>
                <li>
                    Would like to receive a $5 Amazon.com (U.S.-based) gift card for each study for studies #1-7, and a $15 gift card for study #8.
                </li>
            </ul>
            <h3 class="subheading">Getting started in Project GARDEN</h3>
            <p class="mx-lg-4">
                To start participating in Project GARDEN, you will follow an easy five-step process (click on each step to see specific instructions and more information):
            </p>
            <div class="accordion m-0 m-lg-4" id="garden-participate-accordion">
                <div class="accordion-item">
                    <div class="accordion-header" id="heading-1">
                        <button class="accordion-button collapsed px-0 px-lg-2"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse-1"
                                aria-expanded="false"
                                aria-controls="collapse-1">
                            <h4>
                                <ol start="1" class="my-0 my-lg-2">
                                    <li>Create an account on Children Helping Science</li>
                                </ol>
                            </h4>
                        </button>
                    </div>
                    <div id="collapse-1"
                         class="accordion-collapse collapse"
                         aria-labelledby="heading-1"
                         data-bs-parent="#garden-participate-accordion">
                        <div class="accordion-body px-0 pb-2 p-lg-2">
                            <ul class="lh-lg my-0 my-lg-2">
                                <li>
                                    Click on the “Sign-up” button <a href="{% url 'web:participant-signup' %}">here</a>, or at the top right of this website
                                </li>
                                <li>
                                    Follow the instructions to sign up for an account, including reading and agreeing to the Children Helping Science Privacy Statement
                                </li>
                                <li>
                                    Note: You will log in to your Children Helping Science account each time you and your child participate in a Project GARDEN study.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="heading-2">
                        <button class="accordion-button collapsed px-0 px-lg-2"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse-2"
                                aria-expanded="false"
                                aria-controls="collapse-2">
                            <h4>
                                <ol start="2" class="my-0 my-lg-2">
                                    <li>Choose a time that works for you and your child!</li>
                                </ol>
                            </h4>
                        </button>
                    </div>
                    <div id="collapse-2"
                         class="accordion-collapse collapse"
                         aria-labelledby="heading-2"
                         data-bs-parent="#garden-participate-accordion">
                        <div class="accordion-body px-0 pb-2 p-lg-2">
                            <ul class="lh-lg my-0 my-lg-2">
                                <li>
                                    Each module will be for your child (except for the Family Information Survey), so choose a time that works best for your child! Studies take about 15 minutes, but we recommend you have at least 30 minutes available for your very first study and you're learning how it works.
                                </li>
                                <li>
                                    If you have more than one child, they will need to participate one at a time. Your Children Helping Science account will ask you which child is participating - make sure to choose the right child!
                                </li>
                                <li>
                                    We will need to see your child with you when you record your “consent video” for each study to make sure everyone is there and ready to participate!
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="heading-3">
                        <button class="accordion-button collapsed px-0 px-lg-2"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse-3"
                                aria-expanded="false"
                                aria-controls="collapse-3">
                            <h4>
                                <ol start="3" class="my-0 my-lg-2">
                                    <li>Get a laptop or other computer to log in to your account</li>
                                </ol>
                            </h4>
                        </button>
                    </div>
                    <div id="collapse-3"
                         class="accordion-collapse collapse"
                         aria-labelledby="heading-3"
                         data-bs-parent="#garden-participate-accordion">
                        <div class="accordion-body px-0 pb-2 p-lg-2">
                            <ul class="lh-lg my-0 my-lg-2">
                                <li>
                                    You will need a laptop or computer with a webcam and microphone (if you have a separate webcam, this should have a microphone on it already!)
                                </li>
                                <li>Project GARDEN studies do not work on phones or tablets.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="heading-4">
                        <button class="accordion-button collapsed px-0 px-lg-2"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse-4"
                                aria-expanded="false"
                                aria-controls="collapse-4">
                            <h4>
                                <ol start="4" class="my-0 my-lg-2">
                                    <li>
                                        Visit the Project GARDEN <a id="garden-studies-link" href="{% absolute_url "web:lab-studies-list" lab_slug="garden" %}">Studies Page</a>
                                    </li>
                                </ol>
                            </h4>
                        </button>
                    </div>
                    <div id="collapse-4"
                         class="accordion-collapse collapse"
                         aria-labelledby="heading-4"
                         data-bs-parent="#garden-participate-accordion">
                        <div class="accordion-body px-0 pb-2 p-lg-2">
                            <ul class="lh-lg my-0 my-lg-2">
                                <li>Click on the first study to get started!</li>
                                <li>
                                    You can return to this page at any time to participate in more studies, or, after you've completed enough studies, re-watch some Storybook videos with Fen, our friendly fennec fox!
                                </li>
                                <li>
                                    At the start, only three studies will be available, but more studies will become available each month. For the first part of Project GARDEN, there will be 7 studies for your child and 1 study for you, for a total of 8 studies. More studies will be released over time!
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="heading-5">
                        <button class="accordion-button collapsed px-0 px-lg-2"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse-5"
                                aria-expanded="false"
                                aria-controls="collapse-5">
                            <h4>
                                <ol start="5" class="my-0 my-lg-2">
                                    <li>Click on the first Project GARDEN study to start participating!</li>
                                </ol>
                            </h4>
                        </button>
                    </div>
                    <div id="collapse-5"
                         class="accordion-collapse collapse"
                         aria-labelledby="heading-5"
                         data-bs-parent="#garden-participate-accordion">
                        <div class="accordion-body px-0 pb-2 p-lg-2">
                            <ul class="lh-lg my-0 my-lg-2">
                                <li>At the start of each study, we will provide a consent form that will tell you all about the study.</li>
                                <li>
                                    After you read the consent form, you will record a short consent video with you and your child where you say you agree to participate in the study.
                                </li>
                                <li>Then, you will start the study - each study will tell you exactly what to do to participate!</li>
                                <li>
                                    Once you finish, we will check your consent video to make sure you and your child are both present and eligible for the study. All eligible families will receive an Amazon.com gift card (U.S.-only) within 7 business days after participating in each study.
                                </li>
                                <li>
                                    Families who complete all eight studies will receive a total of $50 in Amazon.com gift cards (seven $5 gift cards and one $15 gift card).
                                </li>
                                <li>More studies will be available over time, with more adventures with Fen!</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class="mx-lg-4 mt-lg-4 pt-2 lh-lg">
                Click <a href="{% url 'web:garden-about' %}">here</a> to learn more about Project GARDEN and see our FAQ.
            </p>
        </div>
    </div>
{% endblock content %}
