{% extends 'web/base.html' %}
{% load bootstrap3 %}

{% block flash %}
  {% bootstrap_messages %}
  {% if form.errors %}
  <div class="alert alert-danger" role="alert">
    <p>Your username and password didn't match. Please try again.</p>
  </div>
  {% endif %}
{% endblock %}

{% block header %}<div class="navbar"></div>{% endblock %}

{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Participant Login</h3>
    </div>
    <div class="panel-body">
      <form action="" method="POST" class="form">{% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-default">{% bootstrap_icon "user" %} Login</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{{ next }}" />
      </form>

      {# Assumes you setup the password_reset view in your URLconf #}
      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
  </div>
</div>
{% endblock %}
