{% extends "web/base.html" %}
{% load i18n static %}
{% load bootstrap3 %}
{% block content %}
    <div class="container">
        <div class="pt-lg col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Password reset link sent" %}</h3>
                </div>
                <div class="panel-body">
                    <p>
                        {% trans "If an account exists with the email you entered, we've emailed instructions for resetting your password and you should receive them shortly." %}
                    </p>
                    <p>
                        {% trans "If you don't receive an email, please check your spam folder and make sure you've entered the address you registered with. (You won't get an email unless there's already an account for that email address!)" %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
