{% extends "web/base.html" %}
{% load i18n static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load web_extras %}
{% block content %}
    {% bs_icon "person-circle" as bs_icon_person %}
    {% trans "Log in" as trans_login %}
    <div class="card">
        <div class="card-header">{% trans "Password reset complete" %}</div>
        <div class="card-body">
            <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
            <p>{% bootstrap_button bs_icon_person|add:trans_login href=login_url %}</p>
        </div>
    </div>
{% endblock content %}
