{% extends "web/base.html" %}
{% load i18n static %}
{% load django_bootstrap5 %}
{% load web_extras %}
{% block content %}
    {% trans "Change my password" as trans_change_my_password %}
    <div class="card">
        <div class="card-header">{% trans "Password reset confirmation" %}</div>
        <div class="card-body">
            {% if validlink %}
                <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% form_buttons %}
                        {% bootstrap_button trans_change_my_password %}
                    {% endform_buttons %}
                </form>
            {% else %}
                <p>
                    {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
