<p>
    Dear researcher,
</p>
<p>
    {% if approved %}
        Your study {{ study_name }} has been approved to run on Lookit.
    {% else %}
        Changes have been requested before your study {{ study_name }} can be approved to run on Lookit.
    {% endif %}
</p>
<p>
    {% if approved %}
        To start your study, log in to Lookit, navigate to the study, and select "Start" from the "Change state" dropdown.
    {% else %}
        You can modify your study and resubmit for approval.
    {% endif %}
    <br />
Your study can be found <a href="{{ base_url }}{% url 'exp:study-detail' pk=study_id %}">here</a>.
</p>
{% if comments %}
    <p>
        Comments from the Lookit Admin:
        <br />
        {{ comments|linebreaks }}
    </p>
{% endif %}
<p>
    Best,
    Lookit Admin
</p>
