<p>
  Dear {{ org_name }} Admin,
</p>
<p>
  {% if action == 'submitted' %}
    {{researcher.given_name}} {{ researcher_name }} has submitted a study for approval: {{ study_name }}
    <br>
    You can approve or disapprove the study here: {{base_url}}{% url 'exp:study-detail' study_id %}
  {% elif action == 'retracted' %}
    {{researcher.given_name}} {{researcher.family_name}} has retracted the submission of a study: {{ study_name }}
  {% elif action == 'active' %}
    {{researcher.given_name}} {{researcher.family_name}} has started the study {{ study_name }}. {{base_url}}{% url 'exp:study-detail' study_id %}
  {% elif action == 'paused' %}
    {{researcher.given_name}} {{researcher.family_name}} has paused the study {{ study_name }}. {{base_url}}{% url 'exp:study-detail' study_id %}
  {% elif action == 'deactivated' %}
    {{researcher.given_name}} {{researcher.family_name}} has deactivated the study {{ study_name }}. {{base_url}}{{% url 'exp:study-detail' study_id %}
  {% endif %}
</p>
