{% load web_extras %}
<p>Dear {{ lab_name }} Admin,</p>
<p>
    Your lab, {{ lab_name }}, has been approved to begin using Lookit for data collection.
    <br />
    You can view your lab <a href="{% absolute_url 'exp:lab-detail' pk=lab_id %}">here</a>.
</p>
<p>
    Now that your lab is approved, its details can no longer be edited. If you need to change any of your lab's information, please contact us at
    <a href="mailto:support@childrenhelpingscience.org">support@childrenhelpingscience.org</a>.
</p>
<p>
    Best,
    Lookit Admin
</p>
