
<p>Dear {{ user.nickname }},</p>

<p>We're writing to invite you and your child{% if children|length > 1 %}ren{% endif %} to participate in the study "{{ study.name }}" that {{ study.lab.name }} is running on Lookit!</p>

<ul>
    <li>Who: {{ study.criteria }}
        <ul>
            {% for child in children %}
                <li>{{ child.given_name }}</li>
            {% endfor %}
        </ul>
    </li>
    <li>What happens: {{ study.short_description }}</li>
    <li>Why: {{ study.long_description }}</li>
    <li>Compensation: {{ study.compensation_description|default:"This is a volunteer-based study." }}</li>
</ul>


<p>You and your child can participate any time you want by going to <a href="{{ base_url }}{% url 'web:study-detail' uuid=study.uuid %}">{{ study.name }}</a> on Lookit. If
    you have any questions, please reply to this email to contact the lab.</p>

<p>We hope to see you soon, and thanks for contributing to the science of how kids learn and grow!</p>

-- The Lookit team
