{% load i18n %}
<div class="list-group">
    <a class="{% if current_page == 'manage-account' %}active{% endif %} list-group-item"
       href="{% url 'accounts:manage-account' %}">
        <strong>{% trans "Account Information" %}</strong>
        <br />
    {% trans "Change your login credentials and/or nickname." %}</a>
    <a class="{% if current_page == 'demographic-update' %}active{% endif %} list-group-item"
       href="{% url 'web:demographic-data-update' %}">
        <strong>{% trans "Demographic Survey" %}</strong>
        <br />
    {% trans "Tell us more about yourself." %}</a>
    <a class="{% if current_page == 'children-list' %}active{% endif %} list-group-item"
       href="{% url 'web:children-list' %}">
        <strong>{% trans "Children Information" %}</strong>
        <br />
    {% trans "Add or edit participant information." %}</a>
    {% if request.session.study_name %}
        <a class="btn-has-study list-group-item list-group-item-primary{% if not has_study_child or not user.has_demographics %} disabled{% endif %}"
           href="{% url 'web:study-detail' uuid=request.session.study_uuid %}">
            <strong>{% trans "Continue to Study" %}</strong>
            <br />
        {% trans "Go on to" %} "{{ request.session.study_name|truncatechars:40 }}".</a>
    {% endif %}
    <a class="btn-study-list list-group-item {% if not request.session.study_name %}list-group-item-primary{% endif %}{% if not user.has_any_child or not user.has_demographics %} disabled{% endif %}"
       href="{% url 'web:studies-list' %}">
        <strong>
            {% if request.session.study_name %}
                {% trans "Find Another Study" %}
            {% else %}
                {% trans "Find a Study Now" %}
            {% endif %}
        </strong>
        <br />
    {% trans "See all available studies." %}</a>
    <a class="{% if current_page == 'email-preferences' %}active{% endif %} list-group-item"
       href="{% url 'web:email-preferences' %}">
        <strong>{% trans "Email Preferences" %}</strong>
        <br />
    {% trans "Edit when you can be contacted." %}</a>
</div>
