{% extends 'exp/base.html' %}

{% block title %}Create Organization{% endblock %}

{% block content %}
    <section class="error-list">
      {{ form.non_field_errors }}
    </section>
    <form action="" method="post">{% csrf_token %}
        <section class="grid">
          <div>
            <label class="textfield">
              {{ form.name }}
              <span class="textfield__label">Name</span>
            </label>
            <section class="error-list">
              {{ form.name.errors}}
            </section>
          </div>
        </section>

        <section class="grid">
          <div>
            <label class="textfield">
              {{ form.url }}
              <span class="textfield__label">Url</span>
            </label>
            <section class="error-list">
              {{ form.url.errors}}
            </section>
          </div>
        </section>
        <input type="submit" value="Create Organization" />
    </form>
{% endblock %}
