{% extends 'exp/base.html' %}
{% load bootstrap3 %}

{% block title %}Organizations{% endblock %}
{% block flash %}
  {% bootstrap_messages %}
  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
      {{ form.non_field_errors }}
  </div>
  {% endif %}
{% endblock %}
{% block content %}
  <div class="container">
    <h1>Organizations</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Url</th>
        </tr>
      </thead>
      <tbody>
        {% for org in object_list %}
          <tr>
            <td>{{ org.name }}</td>
            <td><a href="{{ org.url }}" target="_blank">{{ org.url }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
