{% extends 'exp/base.html' %}
{% load bootstrap3 %}

{% block title %}Participant Email {% endblock %}
{% block flash %}
  {% bootstrap_messages %}
  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
      {{ form.non_field_errors }}
  </div>
  {% endif %}
{% endblock %}
{% block content %}
<script>
    $(document).ready(function() {
    });
</script>
<div class="container mb-lg">
    <div class='row'>
         <div class="col-xs-12">
             <ol class="breadcrumb">
               <li><a href="{% url 'exp:participant-list' %}"> All Participants </a></li>
               <li class="active"> Send Email </li>
             </ol>
         </div>
     </div>
     <div class="row">
         <div class="col-xs-12">
             <h1> Contact Form </h1>

         </div>
     </div>
</div>
{% endblock %}
