{% extends 'exp/base.html' %}
{% load bootstrap3 %}

{% block title %}Participant Email {% endblock %}
{% block flash %}
  {% bootstrap_messages %}
  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
      {{ form.non_field_errors }}
  </div>
  {% endif %}
{% endblock %}
{% block content %}
<script>
    $(document).ready(function() {
        $('form').submit(function() {
            $('#send-email').prop("disabled", "disabled");
        });
    });
</script>
<div class="container mb-lg">
    <div class='row'>
         <div class="col-xs-12">
             <ol class="breadcrumb">
               <li><a href="{% url 'exp:participant-list' %}"> All Participants </a></li>
               <li class="active"> Send Email </li>
             </ol>
         </div>
     </div>
     <div class="row">
         <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
             {% if object_list %}
                 <div class="panel panel-default">
                   <div class="panel-heading">
                     <h1 class="panel-title">Contact Form</h1>
                   </div>
                   <div class="panel-body">
                     <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
                         <div class="form-group">
                            <label for="pwd">Sender</label>
                            <input type="text" placeholder="From" value="{{ sender }}" class="form-control" id="sender" name="sender" required>
                         </div>
                         <div class="form-group">
                             <label for="recipients">Recipients</label>
                             <select multiple class="form-control" id="recipients" required name="recipients">
                                 {% for participant in object_list %}
                                    <option value="{{participant.id}}">{{ participant.given_name }}, ID: {{ participant.id }}</option>
                                 {% endfor %}
                             </select>
                             <p class="small">Hold down the Ctrl (windows) / Command (Mac) button to select multiple participants.</p>
                         </div>
                         <div class="form-group">
                             <label for="subject">Subject</label>
                             <input type="text" class="form-control" id="subject" required name="subject">
                         </div>
                         <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" rows="5" id="message" required name="message"></textarea>
                         </div>
                         {% buttons %}
                             <a href="{% url 'exp:participant-email' %}" class="btn btn-default">
                                 <i class="fa fa-trash-o" aria-hidden="true"></i>
                             </a>
                             <div class="pull-right">
                                 <button type="submit" id="send-email" class="btn btn-success">
                                     Send
                                 </button>
                             </div>
                         {% endbuttons %}
                     </form>
                 </div>
             </div>
             {% else %}
                <p> No eligible participants to email. </p>
             {% endif %}
         </div>
     </div>
</div>
{% endblock %}
