{% extends 'exp/base.html' %}
{% load bootstrap3 %}

{% block title %}Users{% endblock %}
{% block flash %}
  {% bootstrap_messages %}
{% endblock %}
{% block content %}
  <div class="container">
    <h1>Participants</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Identifier</th>
            <th>Identicon</th>
            <th>Studies</th>
            <th>Active</th>
          </tr>
        </thead>
        <tbody>
          {% for user in object_list %}
            <tr>
              <td><a href="{% url 'exp:participant-detail' user.id %}">{{ user.uuid }}</a></td>
              <td>{{ user.identicon_html }}</td>
              <td>{% for us in user.studies %}{{ us.name }}, {% endfor %}</td>
              <td>{{ user.is_active }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
