{% extends 'exp/base.html' %}
{% load bootstrap3 %}
{% load exp_extras %}

{% block title %}Users{% endblock %}
{% block flash %}
  {% bootstrap_messages %}
{% endblock %}
{% block content %}
  <div class="container mb-lg">
    <h1>Participants</h1>
    <div class="row text-center mt-md">
       <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
           <form method="GET">
               <input class="form-control" name="match" placeholder="{{ match|default:'Filter by name or email' }}" size="50" type="text">
               <input type="hidden" name="sort" value={{ sort }}>
           </form>
       </div>
   </div>
   <div class="row mt-xl">
       <div class="col-xs-2">
           <strong> First Name </strong>
           <a class="pl-sm" aria-label="Sort ascending by first name" href="{% url 'exp:participant-list' %}?{% query_transform request sort='given_name' %}"><i aria-hidden="true" class="fa fa-chevron-up" role="button" name="name"></i></a>
           <a aria-label="Sort descending by first name" href="{% url 'exp:participant-list' %}?{% query_transform request sort='-given_name' %}"><i aria-hidden="true" class="fa fa-chevron-down" role="button" name="name"></i></a>
       </div>

       <div class="col-xs-3">
            <strong>Last Name</strong>
            <a class="pl-sm" aria-label="Sort ascending by last name" href="{% url 'exp:participant-list' %}?{% query_transform request sort='family_name' %}"><i aria-hidden="true" class="fa fa-chevron-up" role="button" name="name"></i></a>
            <a aria-label="Sort descending by last name" href="{% url 'exp:participant-list' %}?{% query_transform request sort='-family_name' %}"><i aria-hidden="true" class="fa fa-chevron-down" role="button" name="name"></i></a>
       </div>

       <div class="col-xs-3">
           <strong>Email Address</strong>
           <a class="pl-sm" aria-label="Sort ascending by email" href="{% url 'exp:participant-list' %}?{% query_transform request sort='username' %}"><i aria-hidden="true" class="fa fa-chevron-up" role="button" name="name"></i></a>
           <a aria-label="Sort descending by email" href="{% url 'exp:participant-list' %}?{% query_transform request sort='-username' %}"><i aria-hidden="true" class="fa fa-chevron-down" role="button" name="name"></i></a>
       </div>

       <div class="col-xs-2">
           <strong>Last Active</strong>
           <a class="pl-sm" aria-label="Sort ascending by last active" href="{% url 'exp:participant-list' %}?{% query_transform request sort='last_login' %}"><i aria-hidden="true" class="fa fa-chevron-up" role="button" name="name"></i></a>
           <a aria-label="Sort descending by last active" href="{% url 'exp:participant-list' %}?{% query_transform request sort='-last_login' %}"><i aria-hidden="true" class="fa fa-chevron-down" role="button" name="name"></i></a>
       </div>
       <div class="col-xs-2">
       </div>
   </div>
   <hr>
   {% for user in object_list %}
       <div class="row pt-xs">
           <div class="col-xs-2">
               {{ user.given_name }}
           </div>

           <div class="col-xs-3">
               {{ user.family_name }}
           </div>

           <div class="col-xs-3">
               {{ user.username }}
           </div>

           <div class="col-xs-2">
               {{ user.last_login|date:"n/d/Y"|default:"N/A" }}
           </div>
           <div class="col-xs-2">
               <a class='btn btn-primary btn-sm' href="{% url 'exp:participant-detail' user.id %}">View Profile</a>
           </div>
       </div>
   {% endfor %}
  </div>
{% endblock %}
