{% extends "exp/base.html" %}
{% load bootstrap_icons %}
{% load exp_extras %}
{% load i18n %}
{% block title %}
    {{ user.nickname |default:"Participant Detail" }}
{% endblock title %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light p-2">
            <li class="breadcrumb-item">
                <a href="{% url 'exp:participant-list' %}">{% trans "All Participants" %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ user.nickname |default:"Participant Detail" }}</li>
        </ol>
    </nav>
    <h1>
        {{ user.identicon_html }}
        {% if user.nickname %}
            {{ user.nickname }}
        {% else %}
            {% trans "Participant ID" %} {{ user.id }}
        {% endif %}
    </h1>
    <div>Last Active: {{ user.last_login|date:"n/d/Y"|default:"N/A" }}</div>
    <div>Participant global ID: {{ user.uuid }}</div>
    <div class="row mb-3 mt-4">
        <div class="col-6">
            {% for child in children %}
                <table class="table table-borderless table-sm small caption-top">
                    <caption class="bg-light p-2 fst-italic">{{ child.given_name }}</caption>
                    <tbody>
                        <tr>
                            <th scope="row">{% trans "Birthday" %}:</th>
                            <td>{{ child.birthday|date:"n/d/Y"|default:"N/A" }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans "Age" %}:</th>
                            <td>{{ child.birthday | timesince }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans "Gender" %}:</th>
                            <td >{{ child.get_gender_display }}</td>
                        </tr>
                    </tbody>
                </table>
            {% empty %}
                <p class="fst-italic">
                    {% trans "No children profiles registered!" %}
                </p>
            {% endfor %}
        </div>
        <div class="col-6">
            <table class="table table-borderless table-sm small caption-top">
                <caption class="h4 bg-light p-2">{% trans "Latest Demographic Data" %}</caption>
                <tr>
                    <th scope="row">{% trans "Country" %}:</th>
                    <td>{{ demographics.country|default:"No Response" }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "State" %}:</th>
                    <td>{{ demographics.state|default:"No Response" }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Area description" %}:</th>
                    <td>{{ demographics.density|default:"No Response" }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Languages Spoken at Home" %}:</th>
                    <td>{{ demographics.languages_spoken_at_home|default:"No Response" }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Number of Children" %}:</th>
                    <td>{{ demographics.number_of_children|default:"No Response" }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Children current ages" %}:</th>
                    <td>
                        {% for birthday in user.latest_demographics.child_birthdays %}
                            {{ birthday | timesince|default:"N/A" }}
                            {% if not forloop.last %};{% endif %}
                        {% empty %}{% trans "No Response" %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Number of Guardians" %}:</th>
                    <td>{{ demographics.number_of_guardians|default:"No Response" }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Explanation for Guardians:" %}</th>
                    <td>{{ demographics.number_of_guardians_explanation|default:"No Response" }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Race" %}:</th>
                    <td>
                        {{ demographics.us_race_ethnicity_identification|default:"No Response" }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Age:
                    </th>
                    <td>
                        {{ demographics.age|default:"No Response" }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Gender:
                    </th>
                    <td>
                        {{ demographics.gender|default:"No Response" }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Education Level:
                    </th>
                    <td>
                        {{ demographics.education_level|default:"No Response" }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Spouse's Education Level:
                    </th>
                    <td>
                        {{ demographics.spouse_education_level|default:"No Response" }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Annual Income:
                    </th>
                    <td>
                        {{ demographics.annual_income|default:"No Response" }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Children's Books at Home:
                    </th>
                    <td>
                        {{ demographics.number_of_books|default:"No Response" }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Additional Comments:
                    </th>
                    <td>
                        {{ demographics.additional_comments|default:"No Response" }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Lookit Referrer:
                    </th>
                    <td>
                        {{ demographics.lookit_referrer|default:"No Response" }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% if studies %}
        <table class="table table-hover caption-top">
            <caption class="h3 bg-light p-2">
                {% if user.nickname %}
                    {{ user.nickname }}'s
                {% else %}
                    Participant ID {{ user.id }}'s
                {% endif %}
                Studies
            </caption>
            <thead>
                <tr>
                    <th scope="col">
                        Study Title
                        <a class="text-decoration-none"
                           aria-label="Sort user studies by name"
                           href="{% url 'exp:participant-detail' user.id %}?{% query_transform request page='1' sort='name' %}#studies">
                            {% bs_icon "chevron-up" %}
                        </a>
                        <a class="text-decoration-none"
                           aria-label="Reverse sort user studies by name"
                           href="{% url 'exp:participant-detail' user.id %}?{% query_transform request page='1' sort='-name' %}#studies">
                            {% bs_icon "chevron-down" %}
                        </a>
                    </th>
                    <th scope="col">
                        Response
                    </th>
                    <th scope="col">
                        Child
                    </th>
                    <th scope="col">
                        Completion Status
                        <a class="text-decoration-none"
                           aria-label="Sort user studies by completion status"
                           href="{% url 'exp:participant-detail' user.id %}?{% query_transform request page='1' sort='completed' %}#studies">
                            {% bs_icon "chevron-up" %}
                        </a>
                        <a class="text-decoration-none"
                           aria-label="Reverse sort user studies by completion status"
                           href="{% url 'exp:participant-detail' user.id %}?{% query_transform request page='1' sort='-completed' %}#studies">
                            {% bs_icon "chevron-down" %}
                        </a>
                    </th>
                    <th scope="col">
                        Date of Response
                        <a class="text-decoration-none"
                           aria-label="Sort user studies by date created"
                           href="{% url 'exp:participant-detail' user.id %}?{% query_transform request page='1' sort='date_created' %}#studies">
                            {% bs_icon "chevron-up" %}
                        </a>
                        <a class="text-decoration-none"
                           aria-label="Reverse sort user studies by date created"
                           href="{% url 'exp:participant-detail' user.id %}?{% query_transform request page='1' sort='-date_created' %}#studies">
                            {% bs_icon "chevron-down" %}
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for study in studies %}
                    <tr>
                        <td>
                            <a href="{% url 'exp:study-detail' study.study.id %}">{{ study.study.name }}</a>
                        </td>
                        <td>
                            {{ study.response.uuid }}
                        </td>
                        <td>
                            {{ study.response.child.given_name }}
                        </td>
                        <td>
                            {% if study.completed %}
                                Completed
                            {% else %}
                                In Progress
                            {% endif %}
                        </td>
                        <td>
                            {{ study.created |date:"n/d/Y"|default:"N/A" }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'studies/_paginator.html' with page=studies request=request %}
    {% else %}
        <p class="fst-italic">
            {{ user.nickname }} has not participated in any studies yet!
        </p>
    {% endif %}
{% endblock content %}
