{% extends 'exp/base.html' %}
{% load bootstrap3 %}
{% load exp_extras %}

{% block title %}{{ full_name }}{% endblock %}
{% block flash %}
  {% bootstrap_messages %}
{% endblock %}
{% block content %}
  <div class="container mb-xl">
     <h1 style="display: inline">{{ full_name }}</h1>
    <div style='margin-top: 15px'>
        <b style="display: inline">Email address: </b>
        <p style="display: inline; margin-right: 15px">{{ user.username }}</p>
        <b style="display: inline">Last Active: </b>
        <p style="display: inline">{{ user.last_login|date:"n/d/Y"|default:"N/A" }}</p>
    </div>
    <hr/>
    <div class='row'>
        <div class='col-sm-6'>
            <h3>Children</h3>
            {% if children %}
                <ul>
                {% for child in children %}
                    <li><h4>{{child.name}}</h4></li>
                    <div><b>Birthday:</b> {{child.birthday|date:"n/d/Y"|default:"N/A"}}</div>
                    <div><b>Gender:</b> {{child.gender}}</div>
                    <div><b>Participant's Age at Child's Birth:</b> {{child.age_at_birth}}</div>
                    <div><b>Age:</b> {{child.age}}</div>
                    <div><b>Extra:</b> {{child.extra}}</div>
                {% endfor %}
                </ul>
            {% else %}
                <p><em> No children profiles registered! </em></p>
            {% endif %}
        </div>
        <div class='col-sm-6'>
            <h3>Latest Demographic Data</h3>
            <div><b>Number of Children:</b> {{ demographics.number_of_children }}</div>
            <div><b>Children Birthdays:</b> {% for birthday in user.latest_demographics.child_birthdays %}{{birthday|date:"n/d/Y"|default:"N/A"}}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            <div><b>Laguages Spoken at Home:</b> {{ demographics.languages_spoken_at_home }}</div>
            <div><b>Number of Guardians:</b> {{ demographics.number_of_guardians }}</div>
            <div><b>Explanation for Guardians:</b> {{ demographics.number_of_guardians_explanation }}</div>
            <div><b>Race:</b> {{ demographics.race_identification }}</div>
            <div><b>Age:</b> {{ demographics.age }}</div>
            <div><b>Gender:</b> {{ demographics.gender }}</div>
            <div><b>Education Level:</b> {{ demographics.education_level }}</div>
            <div><b>Spouse's Education Level:</b> {{ demographics.spouse_education_level }}</div>
            <div><b>Annual Income:</b> {{ demographics.annual_income }}</div>
            <div><b>Books at Home:</b> {{ demographics.number_of_books }}</div>
            <div><b>Additional Comments:</b> {{ demographics.additional_comments }}</div>
            <div><b>Country:</b> {{ demographics.country }}</div>
            <div><b>State:</b> {{ demographics.state }}</div>
            <div><b>Density:</b> {{ demographics.density }}</div>
        </div>
    </div>
    <h3>{{ user.given_name}}'s Studies</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
                Experiment Title
                <a href="{% url 'exp:participant-detail' user.id  %}?{% query_transform request sort='name' %}"><i aria-hidden="true" class="fa fa-chevron-up" role="button" name="name"></i></a>
                <a href="{% url 'exp:participant-detail' user.id  %}?{% query_transform request sort='-name' %}"><i aria-hidden="true" class="fa fa-chevron-down" role="button" name="name"></i></a>
            </th>
            <th>
                Participant Status
                <a href="{% url 'exp:participant-detail' user.id  %}?{% query_transform request sort='state' %}"><i aria-hidden="true" class="fa fa-chevron-up" role="button" name="name"></i></a>
                <a href="{% url 'exp:participant-detail' user.id  %}?{% query_transform request sort='-state' %}"><i aria-hidden="true" class="fa fa-chevron-down" role="button" name="name"></i></a>
            </th>
            <th>
                Date Modified
                <a href="{% url 'exp:participant-detail' user.id  %}?{% query_transform request sort='date_modified' %}"><i aria-hidden="true" class="fa fa-chevron-up" role="button" name="name"></i></a>
                <a href="{% url 'exp:participant-detail' user.id  %}?{% query_transform request sort='-date_modified' %}"><i aria-hidden="true" class="fa fa-chevron-down" role="button" name="name"></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
            {% for study in studies %}
            <tr>
                <td><a href="{% url 'exp:study-detail' study.id %}">{{ study.name }}</a></td>
                <td>{{ study.state }}</td>
                <td>{{ study.date_modified|date:"n/d/Y"|default:"N/A" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- <table class="table table-compact">
      <tbody>
        <tr>
          <th>
            Identicon
          </th>
          <td>
            {{ user.identicon_html }}
          </td>
        </tr>
        <tr>
          <th>
            Studies
          </th>
          <td>
            {% for study in user.studies %}
              {{ study.name }},
            {% endfor %}
          </td>
        </tr>
        <tr>
            <th>Responses</th>
            <td>
                {% for resp in user.response_set.all %}
                    <a href="{% url 'exp:response-detail' resp.id %}">{{ resp.study.name }}</a><br/>

                {% endfor %}
            </td>
        </tr>
      </tbody>
    </table> -->
  </div>
{% endblock %}
