{% extends "web/base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load web_extras %}
{% block title %}
    Researcher Registration
{% endblock title %}
{% block content %}
    {% bs_icon "plus" as bs_icon_plus %}
    <div class="card">
        <div class="card-header">Create Researcher Account</div>
        <div class="card-body">
            <form method="post" action="">
                {% csrf_token %}
                {% bootstrap_form form %}
                <p>
                    By clicking 'Create Account', you agree that you have read and accepted the
                    <a href="{% url 'web:termsofuse' %}" target="_blank" rel="noopener">Terms of Use</a>
                    and
                    <a href="{% url 'web:privacy' %}" target="_blank" rel="noopener">Privacy Statement</a>
                    .
                </p>
                {% form_buttons %}
                {% bootstrap_button bs_icon_plus|add:"Create Account" %}
            {% endform_buttons %}
        </form>
    </div>
</div>
{% endblock content %}
