{% extends 'exp/base.html' %}
{% load bootstrap3 %}

{% block title %}{{ user.get_full_name }}{% endblock %}
{% block flash %}
  {% bootstrap_messages %}
  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
      {{ form.non_field_errors }}
  </div>
  {% endif %}
{% endblock %}
{% block content %}
<script>
    $.fn.editable.defaults.mode = 'inline';
    $(document).ready(function() {
        $('#given_name').editable({
            success: function(response, newValue) {
                 $('#researcher-details').show();
                 $('#researcher-edit').hide();
                 $('#researcher-first')[0].innerHTML = newValue;
             }
        });
        $('#middle_name').editable({
            success: function(response, newValue) {
                 $('#researcher-details').show();
                 $('#researcher-edit').hide();

             }
        });
        $('#family_name').editable({
            success: function(response, newValue) {
                 $('#researcher-details').show();
                 $('#researcher-edit').hide();
                 $('#researcher-last')[0].innerHTML = newValue;
             }
        });
        $('#user_permissions').editable({
            source: [
                  {value: 'researcher', text: 'Researcher'},
                  {value: 'org_read', text: 'Organization Read'},
                  {value: 'org_admin', text: 'Organization Admin'}
              ],
              success: function(response, newValue) {
                   $('#researcher-details').hide();
                   $('#researcher-edit').show();
               }
        });
    });
</script>
<div class="container mb-lg">
    <div class="row">
        <div id="researcher-edit" class="alert alert-success alert-dismissable" style="display:none;">
            <a href="#" class="close" onclick="$('.alert').hide()">&times;</a>
            <div> Researcher permissions saved. </div>
        </div>
        <div id="researcher-details" class="alert alert-success alert-dismissable" style="display:none;">
            <a href="#" class="close" onclick="$('.alert').hide()">&times;</a>
            <div> Researcher details saved. </div>
        </div>
        <div class="col-xs-12">
            <a href="{% url 'exp:researcher-list' %}"> Manage Organization </a> &gt; <span id="researcher-first">{{ user.given_name }} </span> <span id="researcher-last">{{ user.family_name }} </span></a>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <div class="pull-right">
              <button class="btn btn-default password-button"> Send password reset email </button>
              <button class="btn btn-default password-button"> Resend confirmation email </button>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
           <p> {{ user.identicon_html }}
      </div>
    </div>
    <div class="row mt-md">
      <div class="col-xs-12">
          <strong> Email address </strong>
           <p> {{ user.username }}
      </div>
    </div>
    <div class="row mt-md">
      <div class="col-xs-12">
          <strong> Given name </strong>
          <div>
              {% if perms.accounts.can_edit_organization %}
                  <a href="#" id="given_name" data-type="text" data-pk="{{ user.id }}" data-url="{% url 'exp:researcher-detail' user.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}"data-title="Given name">
                      {{ user.given_name }}
                  </a>
              {% else %}
                    {{ user.given_name }}
              {% endif %}
          </div>
      </div>
    </div>
    <div class="row mt-md">
      <div class="col-xs-12">
          <strong> Middle name </strong>
          <div>
              {% if perms.accounts.can_edit_organization %}
                  <a href="#" id="middle_name" data-type="text" data-pk="{{ user.id }}" data-url="{% url 'exp:researcher-detail' user.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}"data-title="Middle name">
                      {{ user.middle_name }}
                  </a>
              {% else %}
                {{ user.middle_name }}
              {% endif %}
          </div>
      </div>
    </div>
    <div class="row mt-md">
      <div class="col-xs-12">
          <strong> Family name </strong>
          <div>
              {% if perms.accounts.can_edit_organization %}
                  <a href="#" id="family_name" data-type="text" data-pk="{{ user.id }}" data-url="{% url 'exp:researcher-detail' user.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-title="Family name">
                      {{ user.family_name }}
                  </a>
              {% else %}
                {{ user.family_name }}
              {% endif %}
          </div>
      </div>
    </div>
    <div class="row mt-md">
        <div class="col-xs-12">
            <strong> Permissions </strong>
            <div>
                {% if perms.accounts.can_edit_organization  %}
                    <a href="#" id="user_permissions" data-type="select" data-url="{% url 'exp:researcher-detail' user.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-pk="{{ user.id }}" data-url="/post" data-title="Select permissions">
                        {{ user.display_permission }}
                    </a>
                {% else %}
                    {{ user.display_permission }}
                {% endif %}
            </div>
        </div>
    </div>
  </div>
{% endblock %}
