{% extends 'exp/base.html' %}
{% load bootstrap3 %}

{% block title %}Create Researcher{% endblock %}
{% block flash %}
  {% bootstrap_messages %}
  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
      {{ form.non_field_errors }}
  </div>
  {% endif %}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <a href="{% url 'exp:researcher-list' %}"> Manage Organization </a> > Researcher Create </a>
        </div>
    </div>
    <div class="mt-xl panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Create Researcher</h1>
      </div>
      <div class="panel-body">
        <form action="" method="post">{% csrf_token %}
            {{ researchers.management_form }}
            {% bootstrap_form form exclude="is_active,is_staff,is_superuser,password" %}
            {% buttons %}
              <button type="submit" class="btn btn-default">
                {% bootstrap_icon "plus" %} Create Researcher
              </button>
            {% endbuttons %}
        </form>
    </div>
  </div>
{% endblock %}
