{% extends 'exp/base.html' %}
{% load bootstrap3 %}

{% block title %}{{ user.uuid }}{% endblock %}
{% block flash %}
  {% bootstrap_messages %}
  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
      {{ form.non_field_errors }}
  </div>
  {% endif %}
{% endblock %}
{% block content %}
<script>
    $.fn.editable.defaults.mode = 'inline';
    $(document).ready(function() {
        $('#given_name').editable();
        $('#middle_name').editable();
        $('#family_name').editable();
        $('#user_permissions').editable({
            source: [
                  {value: 1, text: 'Researcher'},
                  {value: 2, text: 'Organization Admin'},
                  {value: 3, text: 'Organization Read'}
               ]
        });
    });
</script>
<div class="container mb-lg">
    <div class="row">
      <div class="col-xs-12">
          <a href="{% url 'exp:researcher-list' %}"> Manage Organization </a> > {{ user.get_short_name }} </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <div class="pull-right">
              <button class="btn btn-default"> Send password reset email </button>
              <button class="btn btn-default"> Resend confirmation email </button>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <strong> Email address </strong>
           <p> {{ user.username }}
      </div>
    </div>
    <div class="row mt-md">
      <div class="col-xs-12">
          <strong> Given name </strong>
          <div>
              <a href="#" id="given_name" data-type="text" data-pk="{{ user.id }}" data-url="{% url 'exp:researcher-detail' user.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}"data-title="Given name">
                  {{ user.given_name }}
              </a>
          </div>
      </div>
    </div>
    <div class="row mt-md">
      <div class="col-xs-12">
          <strong> Middle name </strong>
          <div>
              <a href="#" id="middle_name" data-type="text" data-pk="{{ user.id }}" data-url="{% url 'exp:researcher-detail' user.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}"data-title="Middle name">
                  {{ user.middle_name }}
              </a>
          </div>
      </div>
    </div>
    <div class="row mt-md">
      <div class="col-xs-12">
          <strong> Family name </strong>
          <div>
              <a href="#" id="family_name" data-type="text" data-pk="{{ user.id }}" data-url="{% url 'exp:researcher-detail' user.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-title="Family name">
                  {{ user.family_name }}
              </a>
          </div>
      </div>
    </div>
    <div class="row mt-md">
        <div class="col-xs-12">
            <strong> Permissions </strong>
            <div>
                <a href="#" id="user_permissions" data-type="select" data-url="{% url 'exp:researcher-detail' user.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-pk="{{ user.id }}" data-url="/post" data-title="Select permissions">
                </a>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
