{% extends 'exp/base.html' %}
{% load bootstrap3 %}

{% block title %}Users{% endblock %}
{% block flash %}
  {% bootstrap_messages %}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-xs-9">
            <h1 class="researchers-header">Researchers</h1>
        </div>
        <div class="col-xs-3 pt-lg">
            <a href="{% url 'exp:researcher-create' %}" class="btn btn-success" >
                Create Researcher
            </a>
        </div>
    </div>
    <div class="row text-center mt-md">
       <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
           <form method="GET">
               <input class="form-control" name="name" placeholder="Filter" size="50" type="text">
           </form>
       </div>
   </div>
   <div class="row mt-xl">
       <div class="col-xs-6 col-xs-offset-1">
            <strong>Researcher Name</strong> <a class="sort-studies-button" href="#"><i class="fa fa-sort btn" role="button"></i></a>
       </div>

       <div class="col-xs-3">
            <strong>Permissions</strong>
       </div>

       <div class="col-xs-2">
       </div>
   </div>
   <hr>
   {% for user in object_list %}
   <div class="row">
        <div class="col-xs-6 col-xs-offset-1">
            <a href="{% url 'exp:researcher-detail' user.id %}"><strong>{{ user.get_short_name }}</strong></a>
        </div>

        <div class="col-xs-3">
            Permission will go here
        </div>

           <div class="col-xs-2">
               <button class="btn btn-danger btn-sm" >
                   Remove
               </button>
           </div>
       </div>
   {% endfor %}
  </div>
{% endblock %}
