{% extends 'exp/base.html' %}
{% load bootstrap3 %}

{% block title %}{{ user.uuid }}{% endblock %}
{% block flash %}
  {% bootstrap_messages %}
  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
      {{ form.non_field_errors }}
  </div>
  {% endif %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-xs-12">
          <a href="{% url 'exp:researcher-list' %}"> Manage Organization </a> > {{ user.get_short_name }} </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <div class="pull-right">
              <button class="btn btn-default"> Send password reset email </button>
              <button class="btn btn-default"> Resend confirmation email </button>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <strong> Email address </strong>
           <p> {{ user.username }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <strong> Given name </strong>
          <p> {{ user.given_name }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <strong> Middle name </strong>
           <p> {{ user.middle_name }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <strong> Family Name </strong>
           <p> {{ user.family_name }}
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <strong> Permissions </strong>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Current user permission goes here <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Other permission</a></li>
                    <li><a href="#">Other permission</a></li>
                    <li><a href="#">Other permission</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <button class="btn btn-default"> Discard </button>
          <button class="btn btn-success"> Save </button>
      </div>
    </div>
    <form action="" method="POST">{% csrf_token %}
      {% if user.is_active %}
        <input type="hidden" name="disable" />
        <input class="btn btn-default" type="submit" value="Disable User" onclick="return confirm('Are you sure?');"/>
      {% else %}
        <input type="hidden" name="enable" />
        <input class="btn btn-default" type="submit" value="Enable User" onclick="return confirm('Are you sure?');"/>
      {% endif %}
    </form>
  </div>
{% endblock %}
