{% extends 'exp/base.html' %}
{% load bootstrap3 %}

{% block title %}Response{% endblock %}
{% block flash %}
  {% bootstrap_messages %}
{% endblock %}
{% block content %}
  <div class="container">
    <h1>Response</h1>
    <table class="table table-compact">
      <tbody>
        <tr>
          <th>
              Study
          </th>
          <td>
            {{ object.study.name }}
          </td>
        </tr>
        <tr>
          <th>
           Participant
          </th>
          <td>
              {{ object.participant.uuid }},
          </td>
        </tr>
        <tr>
            <th>Demographic snapshot</th>
            <td>
                {% include 'accounts/_demographics.html' %}
            </td>
        </tr>
        <tr>
            <th>
               Results
            </th>
            <td>
                {{ object.results }},
            </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
