{% extends 'exp/base.html' %}
{% load bootstrap3 %}

{% block title %}Users{% endblock %}
{% block flash %}
  {% bootstrap_messages %}
{% endblock %}
{% block content %}
  <div class="container">
    <h1>Responses</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Study</th>
            <th>Participant</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for resp in object_list %}
            <tr>
              <td>{{ resp.study.name }}</td>
              <td>{{ resp.participant.uuid }}  {{ resp.participant.identicon_html }}</td>
              <td>{{ resp.logs.last.action }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
