{% extends 'exp/base.html' %}

{% block title %}List Collaborators{% endblock %}
{% block content %}
    <h1>Collaborators</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Identicon</th>
            <th>Studies</th>
            <th>Active</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in object_list %}
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.identicon_html }}</td>
              <td>{% for us in user.studies %}{{ us.name }}, {% endfor %}</td>
              <td>{{ user.is_active }}</td>
              <td>
                <ul>
                    <li>
                      <a href="{% url 'collaborator-detail' user.id %}">View</a>
                    </li>
                    <li>
                      <a href="{% url 'assign-studies' user.id %}">Assign Studies</a>
                    </li>
                </ul>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
