{% extends 'exp/base.html' %}

{% block title %}List Collaborators{% endblock %}
{% block content %}
    <h1>Collaborators</h1>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Full Name</th>
          <th>Studies</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in object_list %}
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.get_full_name }}</td>
            <td>{% for us in user.studies %}{{ us.name }}, {% endfor %}</td>
            <td>
              <ul>
                  <li>
                    <a href="{% url 'collaborator-detail' user.id %}">View</a>
                  </li>
                  <li>
                    <a href="{% url 'assign-studies' user.id %}">Assign Studies</a>
                  </li>
              </ul>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
