{% extends "frontpages/default.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block title %}
    Privacy
{% endblock title %}
{% block content %}
    <div class="main">
        <div class="lookit-row lookit-page-title">
            <div class="container">
                <h2>{% trans "Privacy statement" %}</h2>
            </div>
        </div>
        <div class="lookit-row policy">
            <div class="container">
                <h2>{% trans "Introduction" %}</h2>
                <p>
                    {%blocktrans%}Lookit is committed to supporting the privacy of individuals who enroll on our Platform to conduct
                research or serve as research subjects. This Privacy Statement explains how we handle and use the
personal information we collect about our researchers and research participant community.{%endblocktrans%}
                </p>
                <h2>{% trans "For participants" %}</h2>
                <p>
                    {%blocktrans%}Lookit is a platform that many different researchers use to conduct studies about how children learn and
                develop. It is run by the MIT Early Childhood Cognition Lab, which has access to all of the data
                collected on Lookit. Researchers using Lookit to conduct studies only access your personal information
if you choose to participate in their study.{%endblocktrans%}
                </p>
                <h3>{% trans "What personal information we collect" %}</h3>
                <p>
                    {% trans "We collect the following kinds of personal information:" %}
                </p>
                {%blocktrans%}<ul>
                <li>Account data: basic contact information that may include your email address, nickname, mailing
                    address, and contact preferences.</li>
                <li>Child data: basic biographical information about your child(ren), including nickname, date of birth,
                    and gestational age at birth.</li>
                <li>Demographic data: background and biographical information such as your native language, race, age,
                    educational background, and family history of particular medical conditions.</li>
                <li>Study data: responses collected during particular studies conducted on Lookit, including webcam
                    video of your family participating in the study, text entered in forms, the particular images that
                    were shown, the timing of progression through the study, etc.</li>
</ul>{%endblocktrans%}
                <h3>{% trans "How we collect personal information about you" %}</h3>
                <p>
                    {%blocktrans%}The information we collect and maintain about you is the information you provide to us when registering
                for a Lookit account, registering your children, updating your account or your children’s profiles,
                completing or updating surveys, or participating in individual Lookit studies.{%endblocktrans%}
                </p>
                <h3>{% trans "When we share your personal information" %}</h3>
                <p>
                    {% trans "When you participate in a Lookit study, we share the following information with the research group conducting the study:" %}
                </p>
                {%blocktrans%}
            <ul>
                <li>Your account data</li>
                <li>The child data for the child who is participating</li>
                <li>Your demographic data</i>
                <li>The study data for this particular study session</li>
            </ul>{%endblocktrans%}
                <p>
                    {% trans "Your email address is not shared directly with the research group, although they can contact you via Lookit in accordance with your contact preferences." %}
                </p>
                <p>
                    {%blocktrans%}Researchers may publish the results of a study, including individual responses. However, although they
                may publish the ages of participants, they may not publish participant birthdates (or information that
could be used to calculate birthdates).{%endblocktrans%}
                </p>
                <p>
                    {%blocktrans%}We and/or the researchers responsible for a study may share video of your family’s participation for
                scientific, educational, and/or publicity purposes, but only if you choose at the conclusion of a study
                to allow such usage. Researchers may also share your video and other data with Databrary if you choose
                at the conclusion of a study to allow that. We don’t publish video of participants such that it can be
                linked to individual demographic data (e.g., household income or number of parents/guardians), and
researchers must also agree not to do so in order to use Lookit.{%endblocktrans%}
                </p>
                <p>
                    {%blocktrans%}We don’t share, sell, publish, or otherwise disclose your contact information (email and/or mailing
                address) to anyone but the researchers involved in a study. Researchers must also agree not to disclose
                your contact information in order to use Lookit.{%endblocktrans%}
                </p>
                <h3>{% trans "How we use your personal information" %}</h3>
                <p>
                    {% trans "We may use your personal information (account, child, demographic, and study data) for a variety of purposes, including to:" %}
                </p>
                {%blocktrans%}<ul>
                <li>Provide you with the research studies you have enrolled in, and information about which studies your
                    children are eligible for</li>
                <li>Send you information about studies you may be interested in, reminders to participate in multi-part
                    studies, and/or results of studies you have participated in, subject to your contact preferences
                </li>
                <li>Improve the Lookit platform: e.g., detect and fix technical problems or identify new features that
                    would be helpful</li>
                <li>Develop data analysis tools for Lookit researchers</li>
                <li>Provide technical support to study researchers</li>
                <li>Assess the quality of data collected on the platform (e.g., how well an observer can tell which
                    direction children are looking)</li>
                <li>Evaluate recruitment and family engagement efforts (e.g., see how many participants come from rural
                    vs. urban areas)</li>
                <li>Recruit participants or researchers to use Lookit (e.g., sharing a short video clip of your child
                    having fun – ONLY if you have chosen to allow use of the video for publicity)</li>
            </ul>
{%endblocktrans%}
                <p>
                    {%blocktrans%}Researchers use the data collected in their studies to address particular scientific questions. It may
                also turn out that data collected for one study can help to answer a related question later on. If
                researchers are using any additional information about you in their study, beyond what is collected on
                Lookit – for instance, if you are participating in a follow-up online session for an in-person study –
                they must tell you that in the study consent form.{%endblocktrans%}
                </p>
                <p>
                    {% trans "There are some basic rules about how personal information may be used that all Lookit researchers agree to, including:" %}
                </p>
                {%blocktrans%}
            <ul>
                <li>They may not use usernames, child nicknames, or contact information as a subject of research.</li>
                <li>They may contact families by postal mail only in order to send compensation for study participation
                    or materials needed for participation.</li>
            </ul>
            {%endblocktrans%}
                <p>
                    {%blocktrans%}If you have concerns about any of these purposes, or how we communicate with you, please contact us at
                dataprotection@mit.edu. We will always respect a request by you to stop processing your personal
                information (subject to our legal obligations).{%endblocktrans%}
                </p>
                <h3>{% trans "How your information is stored and secured" %}</h3>
                <p>
                    {%blocktrans%}We have implemented industry-standard security safeguards designed to protect the personal information
                that you may provide. We also periodically monitor our system for possible vulnerabilities and attacks,
                consistent with industry standards. Only authenticated users with specific permissions may access the
                data. All data is transmitted via a secure https connection, and all video data is encrypted at rest on
                the storage systems used by Lookit to provide data to researchers. Researchers are responsible for their
                own secure storage of data once they obtain it from Lookit. You should be aware, however, that since the
                internet is not a 100% secure environment, there’s no guarantee that information may not be accessed,
                disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.
                It's your responsibility to protect the security of your account details, including your username and
                password.{%endblocktrans%}
                </p>
                <h3>{% trans "How long we keep your personal information" %}</h3>
                <p>
                    {%blocktrans%}We consider our relationship with our research community to be lifelong. This means that we will maintain
                a record for you until such time as you tell us that you no longer wish us to keep in touch. If you wish
                to remove your account, we will retain a core set of information about you to fulfill administrative
                tasks and legal obligations. If you have participated in Lookit studies, the personal information
                already shared with those researchers may not generally be ‘taken back,’ as it is part of a scientific
dataset and removing your data could affect already published findings.{%endblocktrans%}
                </p>
                <h2>{% trans "For researchers" %}</h2>
                <h3>{% trans "What personal information we collect" %}</h3>
                <p>
                    {%blocktrans%}We may collect basic biographic/contact information about you and your representative organization,
including name, title, business addresses, phone numbers, and email addresses.{%endblocktrans%}
                </p>
                <h3>{% trans "How we collect personal information about you" %}</h3>
                <p>
                    {%blocktrans%}The information we collect and maintain about you is that which you have provided to us when registering
                to use Lookit, updating your profile, or creating or editing a study.{%endblocktrans%}
                </p>
                <h3>{% trans "How we use your personal information" %}</h3>
                <p>
                    {% trans "We use your personal information for a number of legitimate purposes, including the performance of contractual obligations. Specifically, we use your personal information to:" %}
                </p>
                {%blocktrans%}<ul>
                <li>Provide you with the research services for which you have enrolled.</li>
                <li>Perform administrative tasks and for internal record keeping purposes.</li>
                <li>Create and analyze aggregated (fully anonymized) information about our users for statistical
                    research purposes in support of our mission.</li>
            </ul>
{%endblocktrans%}
                <p>
                    {%blocktrans%}If you have concerns about any of these purposes, or how we communicate with you, please contact us at
                dataprotection@mit.edu. We will always respect a request by you to stop processing your personal
                information (subject to our legal obligations).{%endblocktrans%}
                </p>
                <h3>{% trans "When we share your personal information" %}</h3>
                <p>
                    {% trans "We do not share your personal information with any third parties." %}
                </p>
                <h3>{% trans "How your information is stored and secured" %}</h3>
                <p>
                    {%blocktrans%}We have implemented industry-standard security safeguards designed to protect the personal information
                that you may provide. We also periodically monitor our system for possible vulnerabilities and attacks,
                consistent with industry standards. Only authenticated users with specific permissions may access the
                data. All data is transmitted via a secure https connection. You should be aware, however, that since
                the internet is not a 100% secure environment, there’s no guarantee that information may not be
                accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial
                safeguards. It's your responsibility to protect the security of your account details, including your
                username and password.{%endblocktrans%}
                </p>
                <h3>{% trans "How long we keep your personal information" %}</h3>
                <p>
                    {%blocktrans%}We consider our relationship with our research community to be lifelong. This means that we will maintain
                a record for you until such time as you tell us that you no longer wish us to keep in touch. If you no
                longer wish to hear from Lookit, we will retain a core set of information about you to fulfill
                administrative tasks and legal obligations.{%endblocktrans%}
                </p>
                <h2>{% trans "For everyone" %}</h2>
                <h3>{% trans "Rights for individuals in the European Economic Area" %}</h3>
                <p>
                    {%blocktrans%}You have the right in certain circumstances to (1) access your personal information; (2) to correct or
                erase information; (3) restrict processing; and (4) object to communications, direct marketing, or
                profiling. To the extent applicable, the EU’s General Data Protection Regulation provides further
                information about your rights. You also have the right to lodge complaints with your national or
                regional data protection authority.{%endblocktrans%}
                </p>
                <p>
                    {%blocktrans%}If you are inclined to exercise these rights, we request an opportunity to discuss with you any concerns
                you may have. To protect the personal information we hold, we may also request further information to
                verify your identify when exercising these rights. Upon a request to erase information, we will maintain
                a core set of personal data to ensure we do not contact you inadvertently in the future, as well as any
                information necessary for archival purposes. We may also need to retain some financial information for
                legal purposes, including US IRS compliance. In the event of an actual or threatened legal claim, we may
                retain your information for purposes of establishing, defending against or exercising our rights with
                respect to such claim.{%endblocktrans%}
                </p>
                <p>
                    {%blocktrans%}By providing information directly to Lookit, you consent to the transfer of your personal information
                outside of the European Economic Area to the United States. You understand that the current laws and
                regulations of the United States may not provide the same level of protection as the data and privacy
                laws and regulations of the EEA.{%endblocktrans%}
                </p>
                <p>
                    {% trans "You are under no statutory or contractual obligation to provide any personal data to us." %}
                </p>
                <h3>
                    {% trans "Additional Information" %}
                </h3>
                <p>
                    {%blocktrans%}We may change this Privacy Statement from time to time. If we make any significant changes in the way we
                treat your personal information we will make this clear on our website or by contacting you directly.{%endblocktrans%}
                </p>
                <p>
                    {% trans "The controller for your personal information is MIT. We can be contacted at dataprotection@mit.edu." %}
                </p>
                <p class="last-update">
                    {% trans "This policy was last updated in June 2018." %}
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
