{% extends "frontpages/default.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block title %}
    Terms of Use
{% endblock title %}
{% block content %}
    <section>
        <article class="row">
            <div>
                <div class="main">
                    <div class="lookit-row lookit-page-title">
                        <div class="container">
                            <h2>Terms of Use</h2>
                        </div>
                    </div>
                    <div class="lookit-row policy">
                        <div class="container">
                            <p>
                                Welcome to the Lookit Platform, an online platform for developmental research studies. You
                                should read and understand these terms and conditions, which govern your use of the Lookit
                                Platform. Researchers may be especially interested in the sections not in italic when first
                                learning about the Platform.
                            </p>
                            <h3>Overview</h3>
                            <em>
                                <p>
                                    These Terms of Service, with our Privacy Policy, are a resource for you to get a deeper
                                    understanding of your obligations and rights with respect to the Lookit Platform
                                    including how we use information and data we collect from you. We may modify these Terms
                                    of Service from time to time as we deem appropriate, so you should check back in
                                    frequently to confirm the terms upon which you may use the Lookit Platform. We will
                                    notify you of any modifications to these Terms by posting them on the Lookit Platform.
                                    Use of the Lookit Platform after the effective date of the updated Terms constitutes
                                    your agreement to the updated Terms.
                                </p>
                                <p>
                                    The terms "we", "us" "our" and similar terms refer to Lookit. The terms “you,” “your,”
                                    “Researcher” and similar terms refer to users of our Platform. The term “Platform”
                                    refers to the online Lookit Platform. “Terms” or “Agreement” refers to these Terms of
                                    Service, as may be amended from time to time by us.
                                </p>
                            </em>
                            <p>
                                A study "posted on Lookit" refers to any study which has been submitted for and received
                                approval to appear on the Lookit website.
                            </p>
                            <p>
                                A study "conducted on Lookit" refers to studies which, additionally, perform all consent
                                procedures and data collection without leaving the Lookit web domain.
                            </p>
                            <p>
                                There are several types of data collected on the Lookit Platform. These comprise:
                            </p>
                            <ol>
                                <li>
                                    Account data: information about a Lookit account holder, representing an adult
                                    participant or family: e.g., contact information, email preferences
                                </li>
                                <li>
                                    Child data: information about a Lookit participant, representing a child associated with
                                    a particular Lookit account: e.g., birthdate, gender, gestational age at birth, medical
                                    diagnoses
                                </li>
                                <li>
                                    Demographic survey data: responses to a demographic survey associated with a Lookit
                                    account: e.g., approximate geographic location, household income, parental education
                                </li>
                                <li>
                                    Study data, including video: responses collected during a child’s participation in a
                                    particular Lookit study: webcam video of the child and parent as well as text data
                                    including form responses, on-screen selections, which stimuli were shown, etc.
                                </li>
                            </ol>
                            <p>
                                In addition, the term "External data" refers to video, text, or other data, including consent
                                records, collected from participants in a study posted (but not conducted) on Lookit. this
                                includes data from studies which are conducted asynchronously on another web platform as
                                well those which are collected at a scheduled session (online or in person.)
                            </p>
                            <em>
                                <p>
                                    Other capitalized terms may be defined below in these Terms.
                                </p>
                            </em>
                            <h3>Acceptance of Terms of Service</h3>
                            <em>
                                <p>
                                    These Terms, which include our Privacy Policy, are a binding legal agreement and govern
                                    your use of the Platform, including all features and functionalities, applications,
                                    updates, notifications and our user interfaces, and all content and software associated
                                    therewith. By checking the “I accept the Terms & Conditions” box during the account set
                                    up or by downloading, using, visiting, or browsing the Platform, you accept and agree to
                                    be bound by these Terms as amended from time to time. If you do not agree to these
                                    Terms, you are not authorized to use, and you should not use, the Platform.
                                </p>
                            </em>
                            <h3>Use of the Platform</h3>
                            <em>
                                <p>
                                    Account Registration. In order to use the Platform, you will need to provide to us
                                    certain basic information such as your name, institution, and email address. You agree
                                    that all information you provide to us will be complete, true and correct and that you
                                    will keep it up-to-date. During the registration process, you will choose a user name
                                    and password for your use of the Platform. You will be responsible for securing your
                                    user name and password and for all use of the Platform using your email address or
                                    password. You will be solely liable for any use of the Platform under your account and
                                    password. You agree to notify us promptly of any unauthorized use or disclosure of your
                                    password. We reserve the right to refuse use of or revoke use of any username in our
                                    discretion.
                                    Basic use of the Platform is offered free of charge. However, we reserve the right to
                                    establish fees for use of the Platform at any time or to charge additional fees for
                                    premium services, data access or additional functionality.
                                </p>
                                <p>
                                    Researcher Obligations. Your use of the Platform and of external data generated by Lookit
                                    participants shall be solely for your own educational and academic use. You will comply
                                    with all applicable laws in connection with your use of the Platform and resulting
                                    external data, as well as all applicable policies of your Institution. You will not
                                    attempt to circumnavigate or violate any security feature of the Platform, including
                                    accessing any Platform features, interactive areas, information or profiles for which
                                    you do not have permission or other content or information not intended for you.
                                </p>
                            </em>
                            <p>
                                All Researchers are responsible for their own use of the Platform, and for their use of
                                external data generated by Lookit participants. Researchers also assume responsibility for
                                any adverse events associated with participation in their studies. As part of your use of
                                the Platform and resulting external data, you agree that you:
                            </p>
                            <ol>
                                <li>
                                    Will not use account or child nicknames, email addresses, or mailing addresses of Lookit
                                    participants, accessed via Researchers’ use of the Lookit platform, as a subject of
                                    research.
                                </li>
                                <li>
                                    Will not share, sell, publish, or otherwise disclose participant contact information
                                    (email or mailing addresses) obtained as a result of their use of the Lookit platform.
                                    For instance, participant contact information may not be added to a lab participant
                                    database that is used for local recruitment.
                                </li>
                                <li>
                                    May contact families by email, through the Lookit Platform, only in accordance with
                                    those families’ email preferences, and only for communication related to their Lookit
                                    studies.
                                </li>
                                <li>
                                    May contact families by postal mail only to send payment/prizes for participation or
                                    materials needed to participate in a study (e.g., a book to read together), and not for
                                    any other communication.
                                </li>
                                <li>
                                    Subject to any applicable institutional review, may study relationships between the same
                                    child’s behavior in the same study (some studies may comprise multiple sessions, for
                                    instance to look at individual differences, test-retest reliability, or the effects of
                                    an intervention); between the same child’s behavior in different studies run by the
                                    Researcher; and between siblings’ behavior on the same study or different studies run by
                                    the Researcher.
                                </li>
                                <li>
                                    Subject to any applicable institutional review, may combine data with another Lookit
                                    Researcher to examine relationships among the same child’s or siblings’ behavior on
                                    studies run by the Researcher in conjunction with studies run by another Researcher.
                                </li>
                                <li>
                                    <strong>Will not publish either individual participant birthdates or information that
                                    could be combined to calculate participant birthdates </strong> (for instance, the
                                    participant’s age in days at time of testing plus the test date).
                                </li>
                                <li>
                                    May use parent and child nicknames only for communication with participants, and may not
                                    publish individual child or account nicknames stored in child and account records. Child
                                    names may be incidentally included in video recordings or parent comments that are
                                    published, although we encourage researchers to redact child names when possible from
                                    written comments.
                                </li>
                                <li>
                                    With the exception of linking external data to corresponding Lookit data for studies
                                    posted on Lookit, will not use video or other data in order to link outside information
                                    available about a specific participant to an associated child, account, or experimental
                                    session, without specific IRB approval to do so. Any other planned integration of
                                    outside data must be reported to Lookit at the time the study is submitted.
                                </li>
                                <li>
                                    <strong>Will not publish the "global ID" fields for account, child, or demographic
                                    survey records.</strong> These fields can be accessed by all researchers using the
                                    Lookit platform, so publication could lead to unintentional linkage of data from the
                                    same individuals. Researchers receive access to the global IDs in case necessary; for
                                    instance, to facilitate financial record-keeping and any necessary linking of accounts
                                    and children across studies. The 5-character account, child, and demographic "ID" fields
                                    provided for download may be published; these are specific to the study. Researchers
                                    wishing to publish persistent identifiers for data from multiple connected studies must
                                    either create a table linking IDs across studies, or generate their own random IDs.
                                </li>
                                <li>
                                    <strong>Will not publish video of Lookit participants such that it can be matched with
                                        individual demographic survey data (e.g., household income, number of
                                    parents/guardians). </strong>
                                </li>
                                <li>
                                    <strong>Will not collect external data from studies posted on Lookit with the intent to
                                    circumvent the terms of this agreement.</strong>
                                </li>
                            </ol>
                            <h3>Use and Storage of Data By Lookit and Researchers</h3>
                            <p>
                                <em>The following guidelines pertain to the use and storage of Lookit data.</em>
                            </p>
                            <ol>
                                <li>
                                    Researchers may download local copies of their Lookit data, including study data and
                                    video, and account, child, and demographic survey data from Lookit participants who have
                                    participated in their studies. Lookit may also keep copies of this data, including study
                                    data and video, indefinitely.
                                </li>
                                <li>
                                    Lookit assumes no responsibility for losses incurred by the Researchers in the event
                                    that data stored by Lookit, including study design information, is lost or corrupted.
                                </li>
                                <li>Researchers retain ownership of study data, including video, for their own studies.</li>
                                <li>
                                    Lookit retains ownership of account, child, and demographic survey response data
                                    collected on Lookit.
                                </li>
                                <li>
                                    <strong>Lookit reserves the right to use any data collected on the Lookit platform,
                                        including account, child, demographic, and study data, for the following purposes:
                                    </strong>
                                    <ol>
                                        <li>
                                            To improve the Lookit platform: e.g., detect and fix technical problems or
                                            identify new features that would be helpful
                                        </li>
                                        <li>
                                            To develop data analysis tools for Lookit researchers, including automated gaze
                                            coding
                                        </li>
                                        <li>To provide technical support to study researchers</li>
                                        <li>
                                            To assess the quality of data collected on the platform (for instance, how well
                                            an observer can tell which direction children are looking)
                                        </li>
                                        <li>To evaluate recruitment and family engagement efforts</li>
                                        <li>To recruit participants or researchers to use Lookit</li>
                                    </ol>
                                </li>
                                <li>Lookit may publish the results of the above described methodological research.</li>
                            </ol>
                            <h3>Restrictions on Data Collection on Lookit</h3>
                            <p>
                                <em>The following guidelines pertain to the use and storage of Lookit data, and apply to all
                                    studies posted on the Lookit platform, whether they are also conducted there or are
                                conducted using an external platform or scheduled session.</em>
                            </p>
                            <ol>
                                <li>
                                    Researchers must provide accurate contact information to be posted along with all
                                    studies they conduct on Lookit, <strong>and must respond promptly to parent
                                communication. </strong>
                            </li>
                            <li>
                                Researchers agree to accurately represent the procedures and goals of their studies. In
                                addition to obtaining approval from any appropriate institutional review board,
                                researchers agree to notify Lookit of deception involved in any study designs, at the
                                time the study is submitted for Lookit review. <strong>Deception that must be disclosed
                                to Lookit includes deliberate omission of information or presentation of any
                                misleading information to either the parent or the child, either in the course of
                            the study itself or regarding the study’s purpose and procedures. </strong>Examples
                            include telling the child that he or she performed better or worse than peers when
                            children were in fact assigned randomly to receive such feedback; telling a parent that
                            researchers expect to observe a particular behavior that is not actually expected, in
                            order to avoid parental bias; or failing to disclose in a study about child-parent
                            interaction that the researchers are primarily interested in gender differences in
                            interaction styles.
                        </li>
                        <li>
                            In all study designs, the child must remain in the same room with his or her parent at
                            all times. No infancy study session (for children 0 - 12 months) may be designed to last
                            longer than 30 minutes, and no experiment session may be designed to last longer than 90
                            minutes. Purely observational periods may extend longer if approved by Lookit--for
                            instance, if the goal of a study is to observe conversation during a family meal or
                            independent child play.
                        </li>
                        <li>
                            In all study designs, the parent must be able to end the study session at any point.
                            This functionality is built into Lookit and may not be altered. Equivalent functionality
                            must be available in any study posted on Lookit and conducted elsewhere. Parents must be
                            informed of this option at the beginning of every study.
                        </li>
                        <li>
                            Researchers acknowledge that all studies are subject to review and final approval by
                            Lookit. Lookit reserves the right to reject a study and/or request revisions for any
                            reason. However, Lookit approval is not based on a complete review of research practices
                            and does not constitute endorsement of a study. Researchers still hold ultimate
                            responsibility for their study design and ethical compliance.
                        </li>
                        <li>
                            Researchers agree to post studies and collect data from participants only on the Lookit
                            production platform (https://lookit.mit.edu). Researchers granted access to a Lookit
                            staging site may use this only for study development and usability testing, and may not
                            obtain parental consent via this site.
                        </li>
                    </ol>
                    <h3>Informed Consent Guidelines</h3>
                    <em>
                        <p>
                            Studies which are posted on Lookit but conducted elsewhere must use informed consent
                            procedures as required by the Researcher's institutional review board. Lookit reserves
                            the right to require any studies posted on the Lookit platform to conduct informed
                            consent procedures on Lookit.
                        </p>
                        <p>
                            The remainder of this section applies only to those studies which are both posted and
                            conducted on lookit.
                        </p>
                    </em>
                    <p>
                        Researchers may study participants from birth through seventeen years of age (i.e., until the
                        eighteenth birthday) and their parents or legal guardians on Lookit. Researchers may also
                        study adult participants. For studies with only adult participants, researchers agree to
                        record a statement of informed consent from the participant. <strong>For studies with child
                        participants, researchers agree to record a statement of informed consent from a child
                        participant’s parent or legal guardian at the start of any Lookit study, and to
                        additionally record a statement of assent from any child participant aged eight years or
                    older.</strong>Parents and guardians of all ages may consent to participation on behalf
                    of themselves and their children (that is, if the parent is a minor, his or her own parent’s
                    consent is not additionally required).
                </p>
                <p>
                    If only parental consent is obtained, data from child participants eight years of age and
                    older must be treated as if valid consent was not obtained. Researchers may at their own
                    discretion and/or based on their own institution’s policies record an assent statement from
                    children under eight years as well.
                </p>
                <p>
                    Consent/assent may occur after a webcam setup/configuration step but must precede any other
                    Lookit study elements. Researchers must use the standard Lookit consent and, if applicable,
                    assent form element(s) for this section, providing additional text relevant to the
                    particular study which will be inserted in the spaces indicated. No translations or
                    adaptations of these elements may be used without the approval of both the Researchers’
                    institutional review board and Lookit. For studies that involve any webcam access, a verbal
                    (or ASL) statement of consent (and assent if applicable) must be recorded via webcam. For
                    studies that do not involve any webcam or audio recording (e.g., that consist entirely of a
                    survey), Lookit’s non-webcam form elements may be used.
                </p>
                <p>
                    Researchers agree that they will view the consent recording before viewing any other video
                    data collected during the same session and that they will check that the recording
                    demonstrates informed adult consent and child assent if applicable. If the statement(s) is
                    audible (or a signed statement in ASL is interpretable), appropriate study measures may then
                    be coded by the researcher and the data may be used for research purposes. If a technical
                    issue (e.g. lack of audio recording) prevented collection of informed consent from the
                    parent, and the parent has set communication preferences to allow researchers to email with
                    questions about their participation, Researchers may instead confirm consent by emailing the
                    account holder and receiving back a reply that contains the statement “Yes, I am this
                    child's parent or legal guardian and we both agreed to participate in this study” or text
                    equivalent in meaning.
                </p>
                <p>
                    Unless parental consent and, if applicable, child assent are confirmed, Researchers may not
                    view any other video associated with this study session, and may not use any other data from
                    the session in their analysis, although the number of such records and aggregate data about
                    the associated accounts (e.g., how many unique children, how many were in the age range) may
                    be reported. Researchers are responsible for storing and maintaining any necessary records
                    of confirmation of consent/assent.
                </p>
                <h3>Video Privacy</h3>
                <p>
                    Researchers agree to solicit selections for the privacy level of video data at the end of any
                    Lookit study that is conducted on the Lookit platform. Researchers must use the standard
                    Lookit exit survey element for this section, providing additional text relevant to the
                    particular study which will be inserted in the spaces indicated. Parents must have the
                    option to withdraw their video from the study at this point. Language may be modified,
                    subject to approval by Lookit, as required by Researchers’ institutional review board (for
                    instance, to add more detail about Databrary).
                </p>
                <p>
                    If video is withdrawn for a session, any video other than the consent recording will be
                    automatically made unavailable by Lookit. In the event that Researchers download data during
                    an ongoing study session and video is later withdrawn, and in the event of any discrepancy
                    between withdrawal information and Lookit's automatic removal of video, Researchers agree to
                    delete without viewing any associated session video they have downloaded other than the
                    consent recording.
                </p>
                <p>
                    Researchers may share video and other session data, account data, child data, and demographic
                    data on Databrary for sessions where parents opt to allow this usage, subject to approval of
                    the appropriate institutional review board. Researchers agree to share video data only in
                    accordance with the parent’s privacy selections. If privacy selections are missing, video
                    must be treated either as if withdrawn or as if the parent had selected ‘private’ use, and
                    data must not be shared with Databrary.
                </p>
                <h3>Participant Payment</h3>
                <p>
                    Researchers may choose whether to pay participants, and the form of payment, subject to any
                    applicable IRB review at their own institutions. The purpose of payment must be to
                    compensate participants for their time and effort, and must not be coercive. Lookit may set
                    guidelines for acceptable payment ranges. Payment may include: money or gift certificates,
                    or physical prizes (e.g., an age-appropriate book or game), either emailed or sent via
                    postal mail. Future payment options may include Lookit points, redeemable on the Lookit
                    Platform for gift certificates and other prizes, and may be pooled across studies.
                </p>
                <p>
                    Information about payment must be included in the study description submitted to Lookit and
                    is subject to Lookit approval. This information must include when, how, how much, and under
                    what conditions participants will be paid.
                    <strong>
                        Without prior approval by Lookit, payment
                        may not depend on the child’s behavior or performance, even if that behavior renders
                        data unusable (e.g., if an infant fusses and his parent ends the session
                        early).
                    </strong>
                    Payment may not depend on the parent’s video privacy selections.
                </p>
                <p>
                    Even if payment is to be sent via postal mail, families may not be required to provide a
                    mailing address in order to participate. When practical, families should be offered the
                    opportunity to select alternate compensation in this case.
                </p>
                <p>
                    Researchers are responsible for verifying participation and sending payment or recording the
                    number of Lookit points participants should receive. Researchers are responsible for the
                    cost of all participant payment, including reimbursing Lookit for Lookit points based on a
                    price agreed upon at the start of the study. Lookit may, at its discretion, also choose to
                    itself offer Lookit points for study participation. Researchers are not responsible for the
                    costs of such compensation.
                </p>
                <h3>Copyright Violation</h3>
                <em>
                    <p>
                        It is MIT’s policy to respond to notices of alleged copyright infringement that comply
                        with the Digital Millennium Copyright Act. Copyright owners who believe their material
                        has been infringed on the Platform should contact MIT's designated copyright agent at
                        dcma-agent@mit.edu, or at 77 Massachusetts Ave., Cambridge, MA 02138-4307 Attention: MIT
                        DMCA Agent, W92-263A.
                    </p>
                    <p>
                        Notification must include: (a) identification of the copyrighted work, or, in the case of
                        multiple works at the same location, a representative list of such works at that site;
                        (b) identification of the material that is claimed to be infringing or to be the subject
                        of infringing activity; (c) information for us to be able to contact the complaining
                        party (e.g., email address, phone number); (d) a statement that the complaining party
                        believes that the use of the material has not been authorized by the copyright owner or
                        an authorized agent; and (e) a statement that the information in the notification is
                        accurate and that the complaining party is authorized to act on behalf of the copyright
                        owner.
                    </p>
                </em>
                <h3>Entire Agreement</h3>
                <em>
                    <p>
                        These terms and conditions constitute the entire agreement between you and MIT with
                        respect to your use of the Platform, superseding any prior agreements between you and
                        MIT regarding your use of the Platform. The failure of MIT to exercise or enforce any
                        right or provision of the terms and conditions shall not constitute a waiver of such
                        right or provision. If any provision of the terms and conditions is found by a court of
                        competent jurisdiction to be invalid, the parties nevertheless agree that the court
                        should endeavor to give effect to the parties' intentions as reflected in the provision,
                        and the other provisions of the terms and conditions remain in full force and effect.
                    </p>
                </em>
                <h3>Governing Law</h3>
                <em>
                    <p>
                        You agree that any dispute arising out of or relating to these terms and conditions or
                        any content posted to the Platform will be governed by the laws of the Commonwealth of
                        Massachusetts, excluding its conflicts of law provisions. You further consent to the
                        personal jurisdiction of and exclusive venue in the federal and state courts located in
                        and serving Boston, Massachusetts as the legal forum for any such dispute.
                    </p>
                </em>
                <p class="last-update">
                    Last updated October 13, 2021
                    <a href="https://github.com/lookit/research-resources/commits/master/lookit%20static%20pages/termsofuse.html"
                       target="_blank"
                       rel="noopener">[Changelog]</a>
                    <a href="https://mailman.mit.edu/mailman/listinfo/lookit-terms-notifications"
                       target="_blank"
                       rel="noopener">[Change notifications]</a>
                </p>
            </div>
        </div>
    </div>
</div>
</article>
</section>
{% endblock content %}
