.flush-top {
  margin-top: 0; padding-top: 0;
}
.flush-bottom {
  margin-bottom: 0; padding-bottom: 0;
}
.margin-right-1 {
  margin-right: 1em;
}

nav.navigation-list ul {
  list-style-type: none;
}
nav.navigation-list ul li {
  display: inline-block;
}

.pt-lg {
    padding-top: 20px;
}
.mt-md {
    margin-top: 15px;
}
.mt-lg {
    margin-top: 20px;
}
.mt-xl {
    margin-top: 25px;
}

/*Researchers*/
.researchers-header {
    display: inline-block;
}
