body {
    font-family: 'Lato', sans-serif;
    font-size : 15px;
}

.flush-top {
  margin-top: 0; padding-top: 0;
}
.flush-bottom {
  margin-bottom: 0; padding-bottom: 0;
}
.margin-right-1 {
  margin-right: 1em;
}

nav.navigation-list ul {
  list-style-type: none;
}
nav.navigation-list ul li {
  display: inline-block;
}

a.state-link {
    color: inherit;
    text-decoration: inherit;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: rgba(96, 96, 96, 0.15);
    color: black
}

.sort-studies-button {
    color: inherit;
    text-decoration: inherit;
}

.pb-md {
    padding-bottom: 15px;
}
.pr-xs {
    padding-right: 5px;
}

.pr-sm {
    padding-right: 10px;
}

.pr-md {
    padding-right: 15px;
}

.pr-lg {
    padding-right: 20px;
}

.pt-lg {
    padding-top: 20px;
}

.mb-lg {
    margin-bottom: 25px;
}
.mt-md {
    margin-top: 15px;
}
.mt-lg {
    margin-top: 20px;
}
.mt-xl {
    margin-top: 25px;
}

/*Researchers*/
.researchers-header {
    display: inline-block;
}

.modal.in {
    width: 80%; /* respsonsive width */
    top:5%;
    margin: 0 auto;
}


/* Study Detail */
.study-detail-block {
    display:block;
    width:100%;
    height:200px;
}
