body {
    font-family: 'Lato', sans-serif;
    font-size : 15px;
}

/* Who did this? */
/*h1 {*/
  /*font-size: 32px;*/
/*}*/

/*h2 {*/
  /*font-size: 24px;*/
/*}*/

.center {
    text-align: center;
}

.flush-top {
  margin-top: 0; padding-top: 0;
}
.flush-bottom {
  margin-bottom: 0; padding-bottom: 0;
}
.margin-right-1 {
  margin-right: 1em;
}

nav.navigation-list ul {
  list-style-type: none;
}
nav.navigation-list ul li {
  display: inline-block;
}

a.state-link {
    color: inherit;
    text-decoration: inherit;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: rgba(96, 96, 96, 0.15);
    color: black
}

.sort-studies-button {
    color: inherit;
    text-decoration: inherit;
}
.pb-xs {
    padding-bottom: 5px;
}
.pb-sm {
    padding-bottom: 10px;
}
.pb-md {
    padding-bottom: 15px;
}
.pb-lg {
    padding-bottom: 20px;
}
.pr-xs {
    padding-right: 5px;
}
.pr-sm {
    padding-right: 10px;
}
.pr-md {
    padding-right: 15px;
}
.pr-lg {
    padding-right: 20px;
}
.pt-xs {
    padding-top: 5px;
}
.pt-sm {
    padding-top: 10px;
}
.pt-md {
    padding-top: 15px;
}
.pt-lg {
    padding-top: 20px;
}
.pt-xl {
    padding-top: 25px;
}
.pt-xxl {
    padding-top: 30px;
}
.pt-xxxl {
    padding-top: 35px;
}
.pl-sm {
    padding-left: 5px;
}
.pl-md {
    padding-left: 10px;
}
.pl-lg {
    padding-left: 15px;
}
.pl-xl {
    padding-left: 20px;
}
.mb-xs {
    margin-bottom:10px;
}
.mb-sm {
    margin-bottom: 15px;
}
.mb-md {
    margin-bottom: 20px;
}
.mb-lg {
    margin-bottom: 25px;
}
.mt-sm {
    margin-top: 10px;
}
.mt-md {
    margin-top: 15px;
}
.mt-lg {
    margin-top: 20px;
}
.mt-xl {
    margin-top: 25px;
}

/*Researchers*/
.researchers-header {
    display: inline-block;
}

.modal.in {
    width: 80%; /* respsonsive width */
    top:5%;
    margin: 0 auto;
}

/* Study Detail */
a.view-responses-link {
    text-decoration: none;
    color: black;
}

a:hover.view-responses-link {
    color: gray;
}

#cloneForm:hover {
    color:gray;
}

#buildForm:hover {
    color:gray;
}

.study-detail-block {
    display: block;
    width:100%;
    height: 520px;
}

.study-detail-block li {
    cursor: pointer;
}

div.uuid-padding {
    margin-top: -10px;
    padding-top: 0px;
}

.view-response-block {
    display: block;
    width: 100%;
    height: 160px;
}
@media (max-width: 780px) {
  .button-toolbar {
      padding-top: 20px;
  }
  .edit-study-button {
      padding-top: 5px;
  }
  .researcher-name {
      padding-top: 10px;
  }
  .researcher-delete {
      padding-top: 5px;
  }
  .password-button {
      margin-top: 5px;
      margin-bottom: 5px;
  }
  .researcher-emails {
      padding-top: 20px;
      padding-bottom: 20px;
  }
}

@media (min-width: 780px) {
    .edit-study-button {
        float: right;
    }
}

h2.study-status {
    padding-top: 0px;
    margin-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}

h4.change-status {
    display: inline-block;
}

.comments-label {
    color: gray;
}

textarea.rejection-comments {
   resize: none;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   width: 100%;
}

.comments-block {
    padding-top: -10px;
    margin-top: -10px;
}

.submit-status-panel {
    text-align: right;
    padding-top: 10px;
}

h3.study-logs-label {
    padding-top: 0px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.items-pagination {
    text-align: right;
}

.question-icon {
    margin-left: 5px;
    position: relative;
    bottom: 5px;
    left: 5px;
}

.comments-text {
    color: gray;
}


/* Consent Manager */
#list-of-responses {
    max-height: 300px;  /* same height as video */
    overflow-y: scroll;
}


#video-manager nav {
    /* centering the inline-block ul*/
    text-align: center;
}

#list-of-responses .response-option span {
    display: inline-block;
    max-width: 75%;
    overflow-x: hidden;
}


.response-actor {
    text-transform: capitalize;
}

#response-statistics .child-count {
    margin-left: 2em;
}

#response-statistics .child-count em {
    padding: 0.2em;
    font-weight: bold;
    font-size: 0.75em;
    border-radius: 3px;
}

#response-statistics li:nth-child(6) {
    margin-top: 2em;
    border-top: 3px solid #bbb;
}

#response-statistics li.totals {
    border-right: 3px solid #bbb;
}

/*
 Unbelievable! How could they forget to leave out proper list item styling for actual list items?!?!
 */
li.list-group-item-success.active,
li.list-group-item-success.active:hover,
li.list-group-item-success.active:focus {
  color: #fff;
  background-color: #3c763d;
  border-color: #3c763d;
}

li.list-group-item-danger.active,
li.list-group-item-danger.active:hover,
li.list-group-item-danger.active:focus {
  color: #fff;
  background-color: #a94442;
  border-color: #a94442;
}

li.list-group-item-warning.active,
li.list-group-item-warning.active:hover,
li.list-group-item-warning.active:focus {
  color: #fff;
  background-color: #8a6d3b;
  border-color: #8a6d3b;
}

button[value=reset].glyphicon-repeat {
    transform: rotateY(180deg);
}

span.glyphicon-repeat {
    transform: rotateY(180deg);
}

#consent-ruling-form {
    border-top-width: 1px;
}

#consent-ruling-form .panel {
    padding: 10px;
}

#consent-ruling-form .label {
    /* see https://github.com/twbs/bootstrap/issues/13219 to understand rendering issues */
    display: inline-block;
    padding: .2em .6em .2em;
}

/* Study Edit */
h2.researchers-label {
    font-size: 26px;
}

.modify-study-block {
    display: block;
    width: 100%;
    height: 160px;
}

a.build-study-link {
    text-decoration: none;
    color: black;
}

a:hover.build-study-link {
    color: gray;
}

.large-break {
    padding-top: 100px;
}

/* Participant Detail */
.child-name {
    background-color: #F5F5F5;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
}

.selectable-participant {
    cursor: pointer;
}
.selectable-participant.selected {
    background-color: #B7D4EE;
}
.table-striped>tbody>tr {
    background-color: transparent;
}
.table-striped>tbody>tr.selected {
    background-color: #B7D4EE;
}

pre.individual-block {
    height: auto;
    max-height: 300px;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}​
