html {
    font-size: 12px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.center {
    text-align: center;
}

.flush-top {
    margin-top: 0;
    padding-top: 0;
}

.flush-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

.margin-right-1 {
    margin-right: 1em;
}

nav.navigation-list ul {
    list-style-type: none;
}

nav.navigation-list ul li {
    display: inline-block;
}

a.state-link {
    color: inherit;
    text-decoration: inherit;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-color: rgba(96, 96, 96, 0.15);
    color: black
}

.nav .divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
}

nav.navbar-default.navbar-static-top ul.nav.navbar-nav li a {
    color: #666666;
}

nav.navbar-default.navbar-static-top ul.nav.navbar-nav li a:hover {
    color: #000;
}

button.btn.btn-success,
a.btn.btn-success {
    background-color: #398339;
    border-color: #398339;
}

button.btn.btn-success:hover,
a.btn.btn-success:hover {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.sort-studies-button {
    color: inherit;
    text-decoration: inherit;
}

.pb-xs {
    padding-bottom: 5px;
}

.pb-sm {
    padding-bottom: 10px;
}

.pb-md {
    padding-bottom: 15px;
}

.pb-lg {
    padding-bottom: 20px;
}

.pr-xs {
    padding-right: 5px;
}

.pr-sm {
    padding-right: 10px;
}

.pr-md {
    padding-right: 15px;
}

.pr-lg {
    padding-right: 20px;
}

.pt-xs {
    padding-top: 5px;
}

.pt-sm {
    padding-top: 10px;
}

.pt-md {
    padding-top: 15px;
}

.pt-lg {
    padding-top: 20px;
}

.pt-xl {
    padding-top: 25px;
}

.pt-xxl {
    padding-top: 30px;
}

.pt-xxxl {
    padding-top: 35px;
}

.pl-sm {
    padding-left: 5px;
}

.pl-md {
    padding-left: 10px;
}

.pl-lg {
    padding-left: 15px;
}

.pl-xl {
    padding-left: 20px;
}

.mb-xs {
    margin-bottom: 10px;
}

.mb-sm {
    margin-bottom: 15px;
}

.mb-md {
    margin-bottom: 20px;
}

.mb-lg {
    margin-bottom: 25px;
}

.mt-sm {
    margin-top: 10px;
}

.mt-md {
    margin-top: 15px;
}

.mt-lg {
    margin-top: 20px;
}

.mt-xl {
    margin-top: 25px;
}

/*Researchers*/
.researchers-header {
    display: inline-block;
}

.modal.in {
    width: 80%;
    /* respsonsive width */
    top: 5%;
    margin: 0 auto;
}

/* Study Detail */
a.view-responses-link {
    text-decoration: none;
    color: black;
}

a:hover.view-responses-link {
    color: gray;
}

#study-state-modal {
    max-width: 50em;
}

#cloneForm:hover {
    color: gray;
}

#buildForm:hover {
    color: gray;
}

.study-action-buttons * {
    text-align: left;
}

.panel-heading {
    background-color: #f5f5f5;
}

#preview-button {
    padding: 0.4em;
    margin-top: -0.5em !important;
}

.study-detail-block {
    display: block;
    width: 100%;
    height: 520px;
}

.study-detail-block li {
    cursor: pointer;
}

div.uuid-padding {
    margin-top: -10px;
    padding-top: 0px;
}

.view-response-block {
    display: block;
    width: 100%;
    height: 160px;
}

@media (max-width: 780px) {
    .button-toolbar {
        padding-top: 20px;
    }

    .edit-study-button {
        padding-top: 5px;
    }

    .researcher-name {
        padding-top: 10px;
    }

    .researcher-delete {
        padding-top: 5px;
    }

    .password-button {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .researcher-emails {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (min-width: 780px) {
    .edit-study-button {
        float: right;
    }
}

h2.study-status {
    padding-top: 0px;
    margin-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}

h4.change-status {
    display: inline-block;
}

.comments-label {
    color: gray;
}

textarea.rejection-comments {
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.comments-block {
    padding-top: -10px;
    margin-top: -10px;
}

.submit-status-panel {
    text-align: right;
    padding-top: 10px;
}

h3.study-logs-label {
    padding-top: 0px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.items-pagination {
    text-align: right;
}

.question-icon {
    margin-left: 5px;
    position: relative;
    bottom: 5px;
    left: 5px;
}

.comments-text {
    color: gray;
}

/* All responses download page */

div.download-button {
    margin-bottom: 5%;
    clear: both;
}

div.download-button .btn {
    margin-left: 0.5em;
    min-width: 8em;
}

.all-responses .help-text {
    color: gray;
    font-style: italic;
}

.two-column-list {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}

.three-column-list {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}

.response-summary td:first-child {
    width: 30%;
}

/* Consent Manager */
#list-of-responses {
    max-height: 300px;
    /* same height as video */
    overflow-y: scroll;
}

#list-of-responses li.preview-row {
    color: gray;
}


#video-manager nav {
    /* centering the inline-block ul*/
    text-align: center;
}

#list-of-responses .response-option span {
    display: inline-block;
    max-width: 65%;
    overflow-x: hidden;
}

.response-option.withdrawn span strong {
    text-decoration: line-through;
    font-style: italic;
    color: lightgray;
}

.response-option.withdrawn span em {
    font-style: italic;
    color: lightgray;
}

#response-info-container.withdrawn {
    color: gray;
    font-style: italic;
}

.response-actor {
    text-transform: capitalize;
}

#response-statistics .child-count {
    margin-left: 2em;
}

#response-statistics .child-count em {
    padding: 0.2em;
    font-weight: bold;
    font-size: 0.75em;
    border-radius: 3px;
}

#response-statistics li:nth-child(6) {
    margin-top: 2em;
    border-top: 3px solid #bbb;
}

#response-statistics li.totals {
    border-right: 3px solid #bbb;
}

/*
 Unbelievable! How could they forget to leave out proper list item styling for actual list items?!?!
 */
li.list-group-item-success.active,
li.list-group-item-success.active:hover,
li.list-group-item-success.active:focus {
    color: #fff;
    background-color: #3c763d;
    border-color: #3c763d;
}

li.list-group-item-danger.active,
li.list-group-item-danger.active:hover,
li.list-group-item-danger.active:focus {
    color: #fff;
    background-color: #a94442;
    border-color: #a94442;
}

li.list-group-item-warning.active,
li.list-group-item-warning.active:hover,
li.list-group-item-warning.active:focus {
    color: #fff;
    background-color: #8a6d3b;
    border-color: #8a6d3b;
}

button[value=reset].glyphicon-repeat {
    transform: rotateY(180deg);
}

span.glyphicon-repeat {
    transform: rotateY(180deg);
}

#consent-ruling-form {
    border-top-width: 1px;
}

#consent-ruling-form .panel {
    padding: 10px;
}

#consent-ruling-form .label {
    /* see https://github.com/twbs/bootstrap/issues/13219 to understand rendering issues */
    display: inline-block;
    padding: .2em .6em .2em;
}

/* Study Edit */
h2.researchers-label {
    font-size: 26px;
}

.modify-study-block {
    display: block;
    width: 100%;
    height: 160px;
}

a.build-study-link {
    text-decoration: none;
    color: black;
}

a:hover.build-study-link {
    color: gray;
}

.large-break {
    padding-top: 100px;
}

#study-details-form .ace-overlay,
#study-create-form .ace-overlay {
    width: 100%;
}

#structure-container .code-container,
#generator-container .code-container {
    max-height: 10em;
}

#study-type-metadata #commit-description th {
    min-width: 10em;
    vertical-align: top;
}

#commit-update-info th {
    min-width: 10em;
}

#commit-update-info td {
    padding-right: 1em;
    border-top: thin solid gray;
}

#commit-update-info th,
#commit-update-info td {
    vertical-align: top;
}

#commit-update-info h3 {
    vertical-align: middle;
}

#commit-description .panel-heading {
    display: block;
}

#commit-description .panel-heading * {
    display: inline-block;
}

#commit-description .panel-title {
    width: 100%;
}

#save-study-confirmation {
    max-width: 50em;
}

/* Participant Detail */
.child-name {
    background-color: #F5F5F5;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
}

.selectable-participant {
    cursor: pointer;
}

.selectable-participant.selected {
    background-color: #B7D4EE;
}

.table-striped>tbody>tr {
    background-color: transparent;
}

.table-striped>tbody>tr.selected {
    background-color: #B7D4EE;
}

pre.individual-block {
    height: auto;
    max-height: 300px;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}


/*
------- PARTICIPANT CONTACT FORM ---------
*/
#email-participants-form section.form-group {
    padding: 5px 10px;
}

#email-viewport {
    min-height: 650px;
}

#previous-message-viewer h3,
#previous-message-viewer section {
    padding: 10px;
}

#previous-messages-list {
    overflow-y: scroll;
    height: 546px;
    /* TODO: figure out how to do less implicit styling on the parent container */
}

#message-body-view {
    overflow-y: scroll;
    height: 480px;
}

.pretty-scroll::-webkit-scrollbar {
    width: 10px;
}

.pretty-scroll::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 2px;
}

#message-recipient-filters {
    margin-left: 12px;
}

#message-recipient-filters table {
    margin-left: 30px;
}

#message-recipient-filters table td {
    padding: 0 0.5em;
}

.pretty-scroll::-webkit-scrollbar-track {
    background: #dddddd;
    border-radius: 2px;
}

/*
-------- BOOTSTRAP-SELECT ---------
*/

/* We don't want to show the data-content stuff when it's inside the actual select box */
.filter-option-inner-inner span.hide-if-in-select-box {
    display: none;
}

span.hide-if-in-select-box {
    display: inline-block;
    width: 70px;
    /* ~4 small glyphicons */
}

#email-preference-filters .input-group-addon {
    width: 0;
    /* Ensure that the addon collapses onto the buttons */
}


/* Make sure selections w/ blue background white out the text */
.dropdown-menu.open li.active span.hide-if-in-select-box span.glyphicon {
    color: white;
}

.dropdown-menu.open li.active h5>em {
    color: white;
}


/* Below is stuff for data-content */
#email-participants-form .bootstrap-select .dropdown-menu li a span.text {
    width: 98%;
    margin: 2px;
}

#email-participants-form .bootstrap-select .dropdown-menu li a span.text h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#email-participants-form .bootstrap-select h5 {
    display: inline-block;
    margin: 0;
}

#email-participants-form section.form-group:nth-of-type(1) {
    padding-bottom: 0;
    margin-bottom: 0;
}

#message-type-help-block {
    position: relative;
    /* positioning context for fade bar */
}

#message-type-help-block .help-block {
    /* cubic-bezier(0.33, 1.19, 0.69, 0.9) */
    opacity: 1;
    max-height: 100px;
    transition: max-height 0.8s cubic-bezier(0.19, 0.8, 0.22, 1), opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#message-type-help-block .help-block.collapsed {
    max-height: 0;
    margin: 0;
    opacity: 0;
    transition: max-height 0.6s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

#message-type-help-block .fade-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.6124) 90%,
            rgba(255, 255, 255, 1) 100%);
}

#other-message-type {
    padding-bottom: 1em;
}

/*
 -------- SUMMERNOTE ---------
*/
.dt-button-info#datatables_buttons_info {
    z-index: 2000;
    /* Otherwise, the DataTables copy button popup can get clobbered */
}


/** For animating the information row.

Bootstrap 3's collapse functionality conflicts with the way Datatables manages its child rows,
so we have to do this manually.
*/
#messages-table tr.information-row td {
    padding: 0;
    border-top: 0;
}

#messages-table tr.information-row>td>div.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s cubic-bezier(0, 1.05, 0, 1);
    -webkit-transition: max-height 1s cubic-bezier(0, 1.05, 0, 1);
    -moz-transition: max-height 1s cubic-bezier(0, 1.05, 0, 1);
    margin-bottom: 0;
    border: 0;
}

#messages-table tr.information-row.open>td>div.panel {
    max-height: 20em;
    /*  20 x font size of document, so about 240px */
    -webkit-transition: max-height 1.3s ease;
    -moz-transition: max-height 1.3s ease;
    transition: max-height 1.3s ease;
    overflow-y: scroll;
}

#messages-table tfoot>tr>th {
    width: 20%;
}

#messages-table tfoot>tr>th:first-child {
    width: 0;
}

#messages-table tfoot>tr>th:last-child {
    width: 0;
}

#messages-table tfoot>tr>th .input-group {
    width: 100%;
}

#messages-table tfoot>tr>th .form-control {
    width: 100%;
}

#messages-table {
    table-layout: fixed;
}

/**
 Eligibility Page
 */
/**
 Column checkbox fixes:
 https://number1.co.za/django-displaying-checkboxselectmulatiple-in-columns-with-bootstrap/
 */
/*.column-checkbox .checkbox {*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*    margin-top: 0;*/
/*    width: 24%;*/
/*}*/

section.form-group.col-md-12 {
    margin-bottom: 6rem;
}

#age-range-details td {
    vertical-align: middle;
}

#age-range-details td>input#total-days {
    width: 100px;
    display: inline-block;
    margin-right: 1em;
}

.range-bound-detail {
    font: 400 12px Arial, sans-serif;
    color: #888;
    display: block;
    margin: 15px 0;
}

/* Gestational Age modifier columns */
#edit-participant-eligibility section.form-group {
    position: relative;
    /* enable absolute positioning for children */
}

#age-range-specifier {
    margin: 7em 0 4.5em;
}

#age-range-specifier .noUi-pips-horizontal p.tiny-ticks {
    font: 100 10px Arial, sans-serif;
    transform: rotate(-45deg);
    position: relative;
    top: 20px;
    right: 15px;
}

/**
 Note - nth-of-type is fragile here. We don't really have an "nth-of-class" available to us in CSS so that kind of
 screws us over.
 */
#age-range-specifier .noUi-value-horizontal:nth-of-type(2) p.tiny-ticks {
    top: 30px;
    right: 15px;
}

#gestational-age-range-specifier {
    height: 320px;
    margin: 2em 0 1em;
    left: 50%;
}

label[for="gestational-age-include-na"] {
    position: relative;
    bottom: 50%;
    left: 50%;
}

#plot-legend {
    height: 400px;
    overflow-y: auto;
}

#plot-legend span {
    display: block;
}

#plot-legend span:nth-child(1) {
    margin-top: 10px;
}

#global-filter-panel .panel-body .form-control {
    margin-bottom: 8px;
    margin-left: 2px;
}


/* study response consent ruling */

/* .open>ul:nth-child(2)>li:nth-child(2)>button:nth-child(1) { */
ul.dropdown-menu button.consent-judgment {

    padding: 3px 20px;
    color: #333;
    text-decoration: none;
    text-align: left;
    width: 100%;
}

ul.dropdown-menu button.consent-judgment:hover {
    background-color: #f5f5f5;
}

table.response-details thead,
table.response-details caption,
table.study-responses caption,
table.study-attachments caption {
    display: none;
}
