<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Experimenter</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'organization-list' %}">List Organizations</a></li>
        <li><a href="{% url 'organization-create' %}">Create Organization</a></li>
        <li><a href="{% url 'collaborator-list' %}">List Collaborators</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{% url 'collaborator-create' %}">Create Collaborator</a></li>
        <li><a href="{% url 'study-list' %}">List Studies</a></li>
        <li><a href="{% url 'study-create' %}">Create Study</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
