<nav class="navigation-list fs-small">
  <ul>
    <li class="margin-right-1">
      <a href="{% url 'organization-list' %}">List Organizations</a>
    </li>
    <li class="margin-right-1">
      <a href="{% url 'organization-create' %}">Create Organization</a>
    </li>
    <li class="margin-right-1">
      <a href="{% url 'collaborator-list' %}">List Collaborators</a>
    </li>
    <li class="margin-right-1">
      <a href="{% url 'collaborator-create' %}">Create Collaborator</a>
    </li>
    <li class="margin-right-1">
      <a href="{% url 'study-list' %}">List Studies</a>
    </li>
    <li class="margin-right-1">
      <a href="{% url 'study-create' %}">Create Study</a>
    </li>
  </ul>
</nav>
