{% extends "web/base.html" %}
{% load static %}
{% block head %}
    {% if request.user.is_superuser %}
        <style>
            body {
                background: url('{% static "exp/img/su-mode.svg" %}') repeat transparent;
                background-size: 400px 400px;
            }
        </style>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"
            integrity="sha512-Mvqhe3YIUElH6VT0CFmUeRgYMrLvCGd2mvYCnJOf2nL9FvRBK74qRgTn7u0zSqA5cHiGxy83bwuhl1ASbS9M/w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css"
          integrity="sha512-e0rbO6UJET0zDdXOHjwc6D44UpeKumn7cU7XR/fa4S0/Jso0bZqcCqlIF6mtvcimMbf846mkv8aSWFnTwABr/g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"
            integrity="sha512-iJh0F10blr9SC3d0Ow1ZKHi9kt12NYa+ISlmCdlCdNZzFwjH1JppRTeAnypvUez01HroZhAmP4ro4AvZ/rG0UQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
{% endblock head %}
{% block nav %}
    {% include 'exp/_navigation.html' %}
{% endblock nav %}
{% block footer %}
    {% include 'exp/_footer.html' %}
{% endblock footer %}
