<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %} &mdash; Experimenter</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta name="apple-touch-fullscreen" content="yes">

    <link href="/static/exp/css/vendor.css" rel="stylesheet" />
    <link href="/static/exp/css/app.css" rel="stylesheet" />
  </head>
  <body>
    <header class="wrapper-large flush-top">
        {% block header %}
        <section class="grid">
          <div class="column--light">
            <h1 class="fw-bold">Experimenter</h1>
          </div>
          <div class="ta-right">
              <a class="btn" href="{% url 'collaborator-list' %}">Collaborators</a>
              <a class="btn btn--secondary" href="{% url 'collaborator-create' %}">Create</a>
          </div>
        </section>
        {% endblock %}
    </header>
    <section class="wrapper">
        <article class="grid grid--large">
            <div>
                {% block content %}
                {% endblock %}
            </div>
        </article>
    </section>
    {% block footer %}
      <footer class="wrapper-larger flush-bottom">
        <ul class="inline">
          <a class="btn btn--link" href="{% url 'collaborator-list' %}">Collaborators</a>
          <a class="btn btn--link" href="{% url 'collaborator-create' %}">Create</a>
        </ul>
      </footer>
    {% endblock %}
    {% block footerjs %}
    {% endblock %}
  </body>
</html>
