{% load exp_extras %}
<ul class="nav nav-tabs mt-2">
    <li class="nav-item">
        <a href="{% url 'exp:study-responses-list' study.id %}"
           {% if active == 'individual' %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
            Individual <span class="d-none d-md-inline">Responses</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'exp:study-responses-all' study.id %}"
           {% if active == 'all' %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
            All <span class="d-none d-md-inline">Responses</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'exp:study-demographics' study.id %}"
           {% if active == 'demographics' %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
            Demographic <span class="d-none d-md-inline">Snapshots</span>
        </a>
    </li>
    {% if study.show_videos %}
        <li class="nav-item">
            <a href="{% url 'exp:study-attachments' study.id %}"
               {% if active == 'attachments' %} class="nav-link active" {% else %} class="nav-link" {% endif %}>Videos</a>
        </li>
    {% endif %}
</ul>
