{% extends 'flatpages/default.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% block title %}Lookit{% endblock %}

{% block content %}
        <div class="main">
        	<div class="home-jumbotron">
        		<div class="content">
        			<h1>Lookit<br>
        			<small>{% trans "the online child lab" %}</small></h1>
        			<p>{% trans "A project of the MIT Early Childhood Cognition Lab" %}</p><a class="btn btn-primary btn-lg ember-view" href="/studies" id="ember821">Participate in a Study</a>
        		</div>
        	</div>
        	<div class="information-row lookit-row">
        		<div class="container">
        			<div class="row">
        				<div class="col-md-4">
        					<div class="home-content-icon">
        						<i class="fa fa-flask"></i>
        					</div>
        					<h3 class="text-center">{% trans "Bringing science home" %}</h3>
        					<p>{% trans "Here at MIT's Early Childhood Cognition Lab, we're trying a new approach in developmental psychology: bringing the experiments to you." %}</p>
        				</div>
        				<div class="col-md-4">
        					<div class="home-content-icon">
        						<i class="fa fa-cogs"></i>
        					</div>
        					<h3 class="text-center">{% trans "Help us understand how your child thinks" %}</h3>
        					<p>{% trans "Your family can contribute to research about how children learn by doing fun activities together, right in your web browser." %}
        				</div>
        				<div class="col-md-4">
        					<div class="home-content-icon">
        						<i class="fa fa-coffee"></i>
        					</div>
        					<h3 class="text-center">{% trans "Participate whenever and wherever" %}</h3>
        					<p>{% trans "Log in or create an account at the top right to get started! You can participate with your child from any computer with a webcam." %}</p>
        				</div>
        			</div>
        		</div>
        	</div>
        	<div class="news-row lookit-row">
        		<div class="container">
        			<div class="row">
        				<h3>{% trans "News" %}</h3>
        				<div class="col-xs-12">
        				    <div class="row">
        						<div class="col-md-2 col-md-offset-1">
        							{% trans "June 29, 2020" %}
        						</div>
        						<div class="col-md-7">
        							{% trans "We're now accepting new studies from research groups around the world!" %}
        						</div>
        					</div>
        				    <div class="row">
        						<div class="col-md-2 col-md-offset-1">
        							{% trans "May 4, 2020" %}
        						</div>
        						<div class="col-md-7">
        							{% trans "For even more ways to participate in science with your kids at home, check out the newly launched site <a href='https://childrenhelpingscience.com/' target='_blank'>Children Helping Science" %}</a>.
        						</div>
        					</div>
        				    <div class="row">
        						<div class="col-md-2 col-md-offset-1">
        							{% trans "March 27, 2020" %}
        						</div>
        						<div class="col-md-7">
        							{% trans "We're gearing up to open up Lookit to more research labs! Our first study for newborns, 'Baby See, Baby Do?' is live, and 'Baby Euclid' is back for 7-month-olds. And we're still recruiting for Flurps and Zazzes, Your Baby the Physicist, and Baby Laughter - please help us spread the word!" %}
        						</div>
        					</div>
        				    <div class="row">
        						<div class="col-md-2 col-md-offset-1">
        							{% trans "September 18, 2019" %}
        						</div>
        						<div class="col-md-7">
        							{% trans "Data collection is complete for the Lookit studies 'Baby Euclid,' 'Mind and Manners', 'Flurps and Zazzes,' and 'Words and Objects' (but stay tuned for follow-ups!). We're still looking families with babies to participate in 'Look and Listen,' 'Your Baby the Physicist,' and 'Baby Laughter Games.'" %}
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
    {% endblock %}