{% extends 'flatpages/default.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% block title %}Lookit{% endblock %}

{% block content %}
<style>
    .profile-img img {
        border-radius: 50%;
        width: 100%;
        box-shadow: 4px 4px 8px 2px gray;
    }

    div.container .lookit-scientist h3,
    .lookit-page-title h3 {
        text-align: center;
    }

    .scientists-row p {
        text-align: justify;
    }
</style>

<div class="main">
    <div class="lookit-row lookit-page-title">
        <div class="container">
            <h2>{% trans "Meet the Lookit team"%}</h2>
        </div>
    </div>
    <div class="lookit-row scientists-row">
        <div class="container">
            <div class="row">
                <h3>{% trans  "Core Team"%}</h3>
                <hr>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img src="https://s3.amazonaws.com/lookitcontents/website/Rico.jpg"></div>
                    <h3>Rico Rodriguez</h3>
                    <p>{% trans "Rico is Lookit's lead software engineer, working on planning and adding features for both participants and researchers."%}</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img src="https://lookitcontents.s3.amazonaws.com/website/laura.jpg"></div>
                    <h3>Laura Schulz</h3>
                    <p>{% trans "Laura is the PI of the Early Childhood Cognition Lab. She conducts research about how children arrive at a common-sense understanding of the physical and social world through exploration and instruction."%}</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img
                            src="https://storage.googleapis.com/lookit-staging/static/images/kimandremy.png"></div>
                    <h3>Kim Scott</h3>
                    <p>{% trans "Kim started Lookit as a graduate student, and now runs the project as a research scientist in the Early Childhood Cognition Lab. Her three children frequently provide feedback on studies."%}</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img src="https://lookitcontents.s3.amazonaws.com/website/mark.jpg"></div>
                    <h3>Mark Sheskin</h3>
                    <p>{% trans "Mark organizes the Lookit Working Groups, which are groups of researchers working to improve Lookit in a variety of ways."%}</p>
                </div>
            </div>
            <div class="row">
                <h3>{% trans "Alumni &amp; Collaborators"%}</h3>
                <hr>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img
                            src="https://storage.googleapis.com/lookit-staging/static/images/joseph.jpg"></div>
                    <h3>Joseph Alvarez (Summer 2015)</h3>
                    <p>Undergraduate, Skidmore College</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img
                            src="https://storage.googleapis.com/lookit-staging/static/images/daniela.jpg"></div>
                    <h3>Daniela Carrasco (Sp 2015)</h3>
                    <p>Undergraduate, MIT</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img
                            src="https://storage.googleapis.com/lookit-staging/static/images/jean.jpg"></div>
                    <h3>Jean Chow (Fa 2014)</h3>
                    <p>Undergraduate, MIT</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img
                            src="https://storage.googleapis.com/lookit-staging/static/images/junyi.jpg"></div>
                    <h3>Junyi Chu</h3>
                    <p>Junyi runs the "Your baby, the physicist" study. She's working on answering all the amazing
                        questions we can only answer with longitudinal data like this.</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img
                            src="https://storage.googleapis.com/lookit-staging/static/images/annie.jpg"></div>
                    <h3>Annie Dai (IAP, Sp 2015)</h3>
                    <p>Undergraduate, MIT</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img
                            src="https://storage.googleapis.com/lookit-staging/static/images/molly.jpg"></div>
                    <h3>Moira (Molly) Dillon</h3>
                    <p>Molly is an Assistant Professor of Psychology and the PI of the Lab for the Developing Mind at
                        NYU. She ran the study "Baby Euclid" on Lookit.</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img
                            src="https://storage.googleapis.com/lookit-staging/static/images/hope.jpg"></div>
                    <h3>Hope Fuller-Becker (Sp 2015, Sp 2016)</h3>
                    <p>Undergraduate, Wellesley College</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img src="https://s3.amazonaws.com/lookitcontents/website/kamaria.jpg">
                    </div>
                    <h3>Kamaria Kaalund (Fall 2019)</h3>
                    <p>Undergraduate, Wellesley College</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img
                            src="https://storage.googleapis.com/lookit-staging/static/images/melissa.png"></div>
                    <h3>Melissa Kline</h3>
                    <p>Postdoc, MIT</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img
                            src="https://storage.googleapis.com/lookit-staging/static/images/rachel.png"></div>
                    <h3>Rachel Magid</h3>
                    <p>As ECCL lab coordinator (and then graduate student) she helped get Lookit off the ground!</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img
                            src="https://storage.googleapis.com/lookit-staging/static/images/audrey.jpg"></div>
                    <h3>Audrey Ricks (Summer 2016)</h3>
                    <p>Undergraduate, MIT</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img
                            src="https://storage.googleapis.com/lookit-staging/static/images/rianna.jpg"></div>
                    <h3>Rianna Shah (IAP, Sp, Fall 2015; IAP, Sp 2016; Sp 2018)</h3>
                    <p>Undergraduate, MIT </p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img src="https://s3.amazonaws.com/lookitcontents/website/alice.jpg"></div>
                    <h3>Alice Wang (Summer 2017)</h3>
                    <p>Undergraduate, Wellesley</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img src="https://s3.amazonaws.com/lookitcontents/website/erica.jpg"></div>
                    <h3>Erica Yoon</h3>
                    <p>Erica is a graduate student in Mike Frank's lab at Stanford University. She ran the study "Mind
                        and Manners" on Lookit.</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img
                            src="https://storage.googleapis.com/lookit-staging/static/images/jeanyu.jpg"></div>
                    <h3>Jean Yu (IAP, Sp 2015)</h3>
                    <p>Undergraduate, Wellesley College</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-4 col-lg-3">
                    <div class="profile-img"><img
                            src="https://storage.googleapis.com/lookit-staging/static/images/jessica.jpg"></div>
                    <h3>Jessica Zhu (Fall 2016)</h3>
                    <p>Undergraduate, MIT</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}