{% load i18n %}
{% load bootstrap_icons %}
{% load static %}
<footer class="row small pt-3 pb-5 mx-0 mx-lg-3">
    <div class="col-2 align-self-center px-0 px-lg-3">
        <img alt="NSF" src="{% static 'images/nsf.gif' %}"/>
    </div>
    <div class="col-8 small text-center text-lg-start">
        {% trans "This material is based upon work supported by the National Science Foundation (NSF) under Grants 1429216, 1823919, and 2209756; the Center for Brains, Minds and Machines (CBMM), funded by NSF STC award CCF-1231216, and by an NSF Graduate Research Fellowship under Grant No. 1122374. Any opinion, findings, and conclusions or recommendations expressed in this material are those of the authors(s) and do not necessarily reflect the views of the National Science Foundation." %}
    </div>
    <div class="col-2 align-self-center text-end px-0 px-lg-3">
        <ul class="list-unstyled">
            <li>
                <a href="{% url 'web:privacy' %}">{% trans "Privacy" %}</a>
            </li>
            <li>
                <a href="{% url 'web:contact' %}">{% trans "Contact us" %}</a>
            </li>
            <li>
                {% trans "Connect" %}:
                <a href="https://www.facebook.com/lookit.mit.edu"
                   aria-label="facebook"
                   target="_blank"
                   rel="noopener">
                    {% bs_icon 'facebook' %}
                </a>
            </li>
        </ul>
    </div>
</footer>
