{% load i18n %}
{% load web_extras %}
{% trans "Logout" as logout %}
<nav class="nav">
    {% nav_link request 'web:home' 'Home' %}
    {% if user.is_researcher %}
        <a class="nav-link" href="{% url 'exp:study-list' %}">{% trans "Experimenter" %}</a>
    {% endif %}
    {% nav_link request 'web:studies-list' 'Studies' %}
    {% nav_link request 'web:faq' 'FAQ' %}
    {% nav_link request 'web:scientists' 'The Scientists' %}
    {% nav_link request 'web:resources' 'Resources' %}
    {% if user.is_authenticated %}
        {% nav_link request 'accounts:manage-account' 'My Account' %}
        {% nav_link request 'web:studies-history' 'My Past Studies' %}
        {% nav_link request 'logout' logout %}
    {% else %}
        {% nav_signup request %}
        {% nav_login request %}
    {% endif %}
</nav>
