{% load i18n %}
{% load static %}
<div class="row text-center justify-content-evenly align-items-center">
    <p class="mt-5 mb-3 mb-lg-5">{% trans "See our current studies for different age groups:" %}</p>
    <div class="col-12 col-lg-6">
        <a href="{% url 'web:studies-list-babies' %}">
            <img class="img-fluid p-4"
                 alt="Babies playing"
                 src="{% static 'images/babies.jpg' %}"/>
            <p class="mb-4 mt-2">{% trans "studies for babies (under 1)" %}</p>
        </a>
        <a href="{% url 'web:studies-list-preschoolers' %}">
            <img class="img-fluid p-4"
                 alt="Preschoolers playing"
                 src="{% static 'images/preschoolers.jpg' %}"/>
            <p class="mb-4 mt-2">{% trans "studies for preschoolers (3-4)" %}</p>
        </a>
    </div>
    <div class="col-12 col-lg-6">
        <a href="{% url 'web:studies-list-toddlers' %}">
            <img class="img-fluid p-4"
                 alt="Toddlers playing"
                 src="{% static 'images/toddlers.jpg' %}"/>
            <p class="mb-4 mt-2">{% trans "studies for toddlers (1-2)" %}</p>
        </a>
        <a href="{% url 'web:studies-list-school-age' %}">
            <img class="img-fluid p-4"
                 alt="Teens"
                 src="{% static 'images/schoolage.jpg' %}"/>
            <p class="mb-4 mt-2">{% trans "studies for school-aged kids & teens (5-17)" %}</p>
        </a>
    </div>
</div>
