{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %} &mdash; Lookit</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <meta name="apple-touch-fullscreen" content="yes">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=True %}
    <link type="text/css" rel="stylesheet" href="{% static "base.css" %}" />
    {% block head %}
    {% endblock %}
    <script src="https://use.fontawesome.com/41c082d3c2.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  </head>
  <body>

    <div class="container-fluid">
      <header class="row">
          {% block header %}
            {% include 'web/_navigation.html' %}
          {% endblock %}
      </header>
      <section id="flash-messages">
        {% block flash %}
        {% endblock %}
      </section>
      <section>
          <article class="row">
              <div>
                  {% block content %}
                  {% endblock %}
              </div>
          </article>
      </section>
      {% block footer %}
        <footer class="row">
          <div class="col">
          <p class="text-center">Copyright &copy; 2011-2017 Center for Open Science. All rights reserved.</p>
          </div>
        </footer>
      {% endblock %}
      {% block footerjs %}
      {% endblock %}
      </div>
  </body>
</html>
