{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% load web_extras %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>
            {% block title %}
            {% endblock title %}
            - {% trans "Children Helping Science" %}
        </title>
        {# google font #}
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
              rel="stylesheet" />
        {# jquery #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
                integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        {# moment #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"
                integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        {# summernote #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs5.min.js"
                integrity="sha512-6F1RVfnxCprKJmfulcxxym1Dar5FsT/V2jiEUvABiaEiFWoQ8yHvqRM/Slf0qJKiwin6IDQucjXuolCfCKnaJQ=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs5.min.css"
              integrity="sha512-ngQ4IGzHQ3s/Hh8kMyG4FC74wzitukRMIcTOoKT3EyzFZCILOPF0twiXOQn75eDINUfKBYmzYn2AA8DkAk8veQ=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        {# jqueryui #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
                integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
              integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        {# datatables #}
        {% comment %}
                From the Datatable's download (https://datatables.net/download/), 
                select Bootstrap 5 for styling, Datatables core, minify, and 
                concatenate.
        {% endcomment %}
        <link href="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.css" 
                rel="stylesheet" 
                integrity="sha384-2vMryTPZxTZDZ3GnMBDVQV8OtmoutdrfJxnDTg0bVam9mZhi7Zr3J1+lkVFRr71f" 
                crossorigin="anonymous">
        <script src="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.js" 
                integrity="sha384-2Ul6oqy3mEjM7dBJzKOck1Qb/mzlO+k/0BQv3D3C7u+Ri9+7OBINGa24AeOv5rgu" 
                crossorigin="anonymous"></script>
        {# date range picker #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"
                integrity="sha512-mh+AjlD3nxImTUGisMpHXW03gE6F4WdQyvuFRkjecwuWLwD2yCijw4tKA3NsEFpA1C3neiKhGXPSIGSfCYPMlQ=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.css"
              integrity="sha512-rBi1cGvEdd3NmSAQhPWId5Nd6QxE8To4ADjM2a6n0BrqQdisZ/RPUlm0YycDzvNL1HHAh1nKZqI0kSbif+5upQ=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        {# select2 #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
                integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
              integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        {# x-editable #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"
                integrity="sha512-Mvqhe3YIUElH6VT0CFmUeRgYMrLvCGd2mvYCnJOf2nL9FvRBK74qRgTn7u0zSqA5cHiGxy83bwuhl1ASbS9M/w=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css"
              integrity="sha512-e0rbO6UJET0zDdXOHjwc6D44UpeKumn7cU7XR/fa4S0/Jso0bZqcCqlIF6mtvcimMbf846mkv8aSWFnTwABr/g=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        {# clipboard.js #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"
                integrity="sha512-iJh0F10blr9SC3d0Ow1ZKHi9kt12NYa+ISlmCdlCdNZzFwjH1JppRTeAnypvUez01HroZhAmP4ro4AvZ/rG0UQ=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        {# Babel (used for linting) #}
        <script src="https://unpkg.com/@babel/standalone@7.23.10/babel.min.js"
                integrity="sha384-KCD0A3BqTNZfWlXJcL7fKzDri97vicyNr4NUIr0vX6K9PZ0X5hOTeEbFh99jPEST"
                crossorigin="anonymous"></script>
        {# bootstrap 5 #}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'custom_bootstrap5.css' %}"/>
        {# others... #}
        {% block head %}
        {% endblock head %}
        {% google_tag_manager %}
    </head>
    <body class="{% block body_class %}{% endblock body_class %}">
        <div class="container">
            {% block nav %}
                {% include "web/_navigation.html" %}
            {% endblock nav %}
            <div class="container my-4">
                {% block breadcrumb %}
                {% endblock breadcrumb %}
                {% bootstrap_messages %}
                {% block content %}
                {% endblock content %}
            </div>
            {% block footer %}
                {% include "web/_footer.html" %}
            {% endblock footer %}
        </div>
    </body>
</html>
