{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% load web_extras %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>
            {% block title %}
            {% endblock title %}
            - {% trans "Lookit" %}
        </title>
        {% bootstrap_css %}
        {% comment %} <link href="{% static 'css/lato-font.css' %}" rel="stylesheet"/> {% endcomment %}
        {% comment %} <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" /> {% endcomment %}
        {% comment %} <link type="text/css" rel="stylesheet" href="{% static 'base.css' %}" /> {% endcomment %}
        {% bootstrap_javascript %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}" integrity="sha384-S3zIKOq/nelLqr0KAhub+iP5nyS201AUUfFxfEyKp9cM02cIiVixkZe+g3a10Rav"></script>
        <script defer src="{% static 'js/fontawesome-all.js' %}" integrity="sha384-s9KfTj2cVSa5Yc4gOd2/VyMCQCfFHwEoDAiVHgW2xDOlO/U9UcFQ0KXijfnM7qq8"></script>
        <script src="{% static 'js/moment.min.js' %}" integrity="sha384-pUJlcb0s5ZVM8ujEW3wr2qTVRBbcLEIvcEVEhk9GUd65R3z4uPx9NlB52/4+R3b3"></script>
        {% block head %}
        {% endblock head %}
        {% google_tag_manager %}
    </head>
    <body>
        <div class="container">
            <header class="row">
                {% include 'web/_navigation.html' %}
            </header>
            {% bootstrap_messages %}
            {% block content %}
            {% endblock content %}
            {% block footerjs %}
            {% endblock footerjs %}
        </div>
    </body>
    {% block footer %}
    {% endblock footer %}
</html>
