{% extends 'web/base.html' %}
{% load bootstrap3 %}
{% block title %}Children{% endblock %}

{% block flash %}
  {% bootstrap_messages %}
  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
      {{ form.non_field_errors }}
  </div>
  {% endif %}
{% endblock %}
{% block content %}
    <script>
        $(document).ready(function() {
            $('.datepicker').datepicker({})
            .on('change', function () {
               var age = getAge(this);
               if (document.getElementById('age_calc')) {
                   document.getElementById('age_calc').innerHTML = `Age: ${age}`;
               } else {
                   var x = document.createElement("p");
                   x.setAttribute("id", "age_calc");
                   x.setAttribute("class", "age_format")
                   var t = document.createTextNode(`Age: ${age}`);
                   x.appendChild(t);
                   document.getElementsByClassName("form-group")[1].insertBefore(x,document.getElementById("id_birthday"));
               }
           });
        });
        function getAge(dateValue) {
            var birthday = new Date(dateValue.value);
            var years = new Date(new Date() - birthday) / ( 1000 * 60 * 60 * 24 * 365 );
            var months = 12 * (years % 1);
            var days = Math.floor(30 * (months % 1));

            var years = Math.floor(years)
            var months = Math.floor(months)
            if (years > 0) {
                if (years === 1) {
                    return '1 year ' + months + `${months === 1 ? ' month': ' months'}`
                } else {
                    return years + ' years'
                }
            } else if (months > 0) {
                return months + `${months === 1 ? ' month': ' months'}`
            } else {
                return days + `${days === 1 ? ' day': ' days'}`
            }
        }

        function toggleAddChildForm() {
            form = $(document.getElementById('add-child-form')).toggle();
        }
        $(function() {
           $("#toggleAddChildButton").click(function () {
              $(this).text(function(i, text){
                  return text === "Add Child" ? "Hide Form" : "Add Child";
              })
           });
        })
    </script>
    <div class='lookit-row lookit-page-title'>
        <h2 class='container'>My Account</h2>
    </div>
    <div class="container">
        <div class="row account-edit">
            <div class="col-md-4 mb-lg">
                 {% include 'web/_account-navigation.html' with current_page="children-list" %}
            </div>
            <div class="col-md-8">
                <div class="pull-right">
                    <button id="toggleAddChildButton" onclick="toggleAddChildForm()"class="btn btn-primary">{% if form_hidden %}Add Child{% else %} Hide Form {% endif %}</button>
                </div>
                <div id="add-child-form" style="display:{% if form_hidden %} none {% else %} inline {% endif %}">
                    <div class="panel-heading">
                      <h1 class="panel-title">
                          Add Child
                      </h1>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-body">
                          <div class="panel-body">
                            <form method="POST" action="">{% csrf_token %}
                              {% bootstrap_form form %}
                              {% buttons %}
                              <div class="pull-right">
                                  <a class="btn btn-default" href="{% url 'web:children-list' %}"> Cancel </a>
                                  <button type="submit" class="btn btn-success">
                                     {% bootstrap_icon "plus" %} Add Child
                                  </button>
                              </div>
                              {% endbuttons %}
                            </form>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h2><label> Children </label></h2>
                        {% if objects %}
                            <div class="table-responsive">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Birthday</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      {% for child in objects %}
                                          <tr>
                                            <td>{{ child.given_name }}</td>
                                            <td>{{ child.birthday }}</td>
                                            <td> <a href="{% url 'web:child-update' child.uuid %}" class="btn btn-sm btn-primary"> Update child </a></td>
                                          </tr>
                                      {% endfor %}
                                  </tbody>
                                </table>
                            </div>
                        {% else %}
                            <p><em> No child profiles registered! </em></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
