{% extends "web/base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans "Children" %}
{% endblock title %}
{% block head %}
    <script src="{% static 'js/demographics-form.js' %}" defer></script>
    <script src="{% static 'js/child-add.js' %}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
            integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"
            integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script></script>
{% endblock head %}
{% block content %}
    {% trans "Cancel" as trans_cancel %}
    {% trans "Add Child" as trans_add_child %}
    {% url 'web:children-list' as url_children_list %}
    {% bs_icon "plus" as bs_icon_plus %}
    <div class="row">
        <div class="col-4">{% include 'accounts/_account-navigation.html' with current_page="children-list" %}</div>
        <div class="col-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h1 class="card-title">{% trans "Add Child" %}</h1>
                    <form method="post" action="">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% bootstrap_button trans_cancel href=url_children_list button_class="btn-secondary" %}
                        {% bootstrap_button bs_icon_plus|add:trans_add_child button_class="btn-success" %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
