{% extends "web/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block title %}
    {% trans "Child" %} - {{ child.given_name }}
{% endblock title %}
{% block flash %}
    {% if form.non_field_errors %}<div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>{% endif %}
{% endblock flash %}
{% block content %}
    {% bootstrap_messages %}
    <div class="container">
        <div class="row account-edit">
            <div class="col-md-4 mb-lg">{% include 'accounts/_account-navigation.html' with current_page="children-list" %}</div>
            <div class="col-md-8">
                <div class="pull-right">
                    <a href="{% url 'web:children-list' %}" class="btn btn-primary"> {% bootstrap_icon "caret" %} {% trans "Back to Children List" %} </a>
                </div>
                <div id="add-child-form"
                     style="display:{% if form_hidden %} none {% else %} inline {% endif %}">
                    <div class="panel-heading">
                        <h1 class="panel-title">{% trans "Update" %} {{ child.given_name }}</h1>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel-body">
                                <form method="post" action="">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    {% buttons %}
                                    <button name='deleteChild' class="btn btn-danger" type="submit">{% trans "Delete" %}</button>
                                    <div class="pull-right">
                                        <a class="btn btn-default" href="{% url 'web:children-list' %}">{% trans "Cancel" %}</a>
                                        <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
                                    </div>
                                {% endbuttons %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
