{% extends "web/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load web_extras %}
{% block title %}
    {% trans "Children" %}
{% endblock title %}
{% block content %}
    {% trans "Update child" as trans_update_child %}
    {% trans "Add Child" as trans_add_child %}
    {% url 'web:child-add' as url_child_add %}
    {% button_secondary_classes "btn-sm" as btn_secondary_classes %}
    <div class="row">
        <div class="col-4">{% include "accounts/_account-navigation.html" with current_page="children-list" %}</div>
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    {% if not user.has_any_child %}
                        <p>{% trans "Click the 'Add Child' button to add a child to your account." %}</p>
                    {% elif not request.session.study_name and user.has_any_child %}
                        <p>
                            {% trans "You can edit information about the children listed in your account, or add another by clicking the 'Add Child' button. Click the 'Find a Study' button to view the studies available for your children." %}
                        </p>
                    {% elif request.session.study_name and has_study_child %}
                        <p>
                            {% trans "When you are ready, click the 'Continue to Study' button to go on to your study, '{{ request.session.study_name }}'." %}
                        </p>
                    {% elif request.session.study_name and user.has_any_child and not has_study_child %}
                        <p>
                            {% trans "You can edit information about the children listed in your account, or add another by clicking the 'Add Child' button." %}
                        </p>
                        <p>
                            {% trans "If the 'Continue to Study' button still isn't lighting up, the study may have become full or be recruiting a slightly different set of kids right now. You might also be missing a piece of information about your family, such as the languages you speak at home." %}
                        </p>
                        <p>
                            {% trans "You can click the 'Demographic Survey' button to add more information about your family, 'Find Another Study' to explore more studies for your family, or " %}<a href="{% url 'web:study-detail' uuid=request.session.study_uuid %}">{% trans "click here</a> to review the requirements for '{{ request.session.study_name }}'." %}
                        </p>
                    {% endif %}
                    {% if children %}
                        <table class="table table-hover">
                            <caption class="d-none">Children List</caption>
                            <thead>
                                <tr>
                                    <th>{% trans "Name" %}</th>
                                    <th>{% trans "Birthday" %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for child in children %}
                                    <tr>
                                        <td>{{ child.given_name }}</td>
                                        <td>{{ child.birthday }}</td>
                                        <td>
                                            {% url 'web:child-update' child.uuid as url_child_update %}
                                            {% bootstrap_button trans_update_child href=url_child_update button_class=btn_secondary_classes %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>
                            <em>{% trans "No child profiles registered!" %}</em>
                        </p>
                    {% endif %}
                    {% bootstrap_button trans_add_child href=url_child_add %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
