{% extends "web/base.html" %}
{% load bootstrap3 %}
{% block title %}
    Children
{% endblock title %}
{% load i18n %}
{% block flash %}
    {% if form.non_field_errors %}<div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>{% endif %}
{% endblock flash %}
{% block content %}
    <script>
        $(document).ready(function() {
            $('.datepicker').datepicker({
               changeMonth: true,
               changeYear: true,
               showButtonPanel: true,
               maxDate: 0,
               yearRange: "1900:+nn"
            })
            .on('change', function () {
               var age = getAge(this);
               if (document.getElementById('age_calc')) {
                   document.getElementById('age_calc').innerHTML = `Age: ${age}`;
               } else {
                   var x = document.createElement("p");
                   x.setAttribute("id", "age_calc");
                   x.setAttribute("class", "age_format")
                   var t = document.createTextNode(`Age: ${age}`);
                   x.appendChild(t);
                   document.getElementsByClassName("form-group")[1].insertBefore(x,document.getElementById("id_birthday"));
               }
           });
        });
        function getAge(dateValue) {
            if (dateValue.value === '') {
                return '{% trans "Empty birthday" %} '  
            }
            var years = moment().diff(new Date(dateValue.value), 'years');
            if (years === 0) {
                var months = moment().diff(new Date(dateValue.value), 'months');
                if (months === 0) {
                    var days = moment().diff(new Date(dateValue.value), 'days');
                    return days === 1 ? days + '{% trans " day" %}': days + '{% trans " days" %}';
                }
                return months === 1 ? months + '{% trans " month" %}': months + '{% trans " months" %}';
            } else {
                return years === 1 ? years + '{% trans " year" %}': years + '{% trans " years" %}';
            }
        }

        function toggleAddChildForm() {
            form = $(document.getElementById('add-child-form')).toggle();
        }
        $(function() {
           $("#toggleAddChildButton").click(function () {
              $(this).text(function(i, text){
                  return text === '{% trans "Add Child" %}' ? '{% trans "Hide Form" %}' : '{% trans "Add Child" %}';
              })
           });
        })
    </script>
    {% bootstrap_messages %}
    <div class="container">
        <div class="row account-edit">
            <div class="col-md-4 mb-lg">{% include 'accounts/_account-navigation.html' with current_page="children-list" %}</div>
            <div class="col-md-8">
                <div id="add-child-form">
                    <div class="panel-heading">
                        <h1 class="panel-title">{% trans "Add Child" %}</h1>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel-body">
                                <form method="post" action="">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    {% buttons %}
                                    <div class="pull-right">
                                        <a class="btn btn-default" href="{% url 'web:children-list' %}">{% trans "Cancel" %}</a>
                                        <button type="submit" class="btn btn-success">{% bootstrap_icon "plus" %} {% trans "Add Child" %}</button>
                                    </div>
                                {% endbuttons %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
