{% extends "web/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load i18n %}
{% load web_extras %}
{% block title %}
    {% trans "Child" %} - {{ child.given_name }}
{% endblock title %}
{% block head %}
    <script src="{% static 'js/demographics-form.js' %}" defer></script>
{% endblock head %}
{% block content %}
    {% trans "Back to Children List" as trans_back %}
    {% trans "Delete" as trans_delete %}
    {% trans "Cancel" as trans_cancel %}
    {% trans "Save" as trans_save %}
    {% url 'web:children-list' as url_children_list %}
    {% bs_icon "caret-left-fill" as bs_icon_caret %}
    {% button_primary_classes as btn_primary_classes %}
    {% button_secondary_classes as btn_secondary_classes %}
    <div class="row">
        <div class="col-4">{% include "accounts/_account-navigation.html" with current_page="children-list" %}</div>
        <div class="col-8">
            {% bootstrap_button bs_icon_caret|add:trans_back href=url_children_list %}
            <div class="card my-4">
                <div class="card-body">
                    <h1 class="card-title">{% trans "Update" %} {{ child.given_name }}</h1>
                    <form method="post" action="">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% form_buttons %}
                            {% bootstrap_button trans_delete button_class="btn-danger" name="deleteChild" %}
                            {% bootstrap_button trans_cancel href=url_children_list button_class=btn_secondary_classes %}
                            {% bootstrap_button trans_save button_class=btn_primary_classes %}
                        {% endform_buttons %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
