{% extends "web/base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load web_extras %}
{% load static %}
{% block title %}
    {% trans "Update demographics" %}
{% endblock title %}
{% block head %}
    <script src="{% static 'js/demographics-form.js' %}" defer></script>
{% endblock head %}
{% block content %}
    {% trans "Save" as trans_save %}
    <div class="row">
        <div class="col-4">{% include "accounts/_account-navigation.html" with current_page="demographic-update" %}</div>
        <div class="col-8">
            <div class="card mb-4">
                <div class="card-body">
                    {% include "web/_participation-alert.html" with current_page="demographic-update" %}
                    {% if not user.has_demographics %}
                        <p>
                            {% if request.session.study_name %}
                                {% blocktranslate with study_name=request.session.study_name|bold %}Welcome to Children Helping Science! Before you continue to the main study ({{ study_name }}), we are asking you to share some information about your family.{% endblocktranslate %}
                            {% else %}
                                {% trans "Welcome to Children Helping Science! Before you take your first study, we are asking you to share some information about your family." %}
                            {% endif %}
                        </p>
                    {% endif %}
                    <p>
                        {% trans "One reason we are developing Internet-based experiments is to represent a more diverse group of families in our research. Your answers to these questions will help us understand what audience we reach, as well as how factors like speaking multiple languages or having older siblings affect children's learning." %}
                    </p>
                    <p>
                        {% trans "Even if you allow your study videos to be published for scientific or publicity purposes, your demographic information is never published in conjunction with your video." %}
                    </p>
                    <form method="post" action="" data-submit-once>
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% form_buttons %}
                        {% bootstrap_button trans_save %}
                    {% endform_buttons %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
