{% extends "web/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% load bootstrap_icons %}
{% load web_extras %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <div class="alert alert-warning alert-dismissible fade show text-center"
         role="alert">
        {% if not request.user.is_authenticated %}
            ChildrenHelpingScience and Lookit have merged - click <a href="{% url 'web:participant-signup' %}" class="alert-link">here</a> to make an account or explore studies below!
        {% else %}
            ChildrenHelpingScience and Lookit have merged!
        {% endif %}
        <button type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"></button>
    </div>
    <div class="row justify-content-evenly text-center">
        <div class="col d-none d-lg-block">
            <img class="img-fluid"
                 alt="CHS family collage 1"
                 src="{% static 'images/families-left.png' %}"/>
        </div>
        <div class="col-12 col-lg-6">
            <img class="img-fluid"
                 alt="CHS home page logo"
                 src="{% static 'images/chs-logo.png' %}"/>
            <p class="home-title-text fw-bold mb-0">{% trans "Children Helping Science" %}</p>
            <p class="home-subtitle-text d-none d-lg-block my-0">{% trans "Powered by Lookit" %}</p>
            <p class="home-subtitle-text d-none d-lg-block my-2 my-lg-3 my-xl-4 my-xxl-5">
                {% trans "Fun for Families, Serious for Science" %}
            </p>
            <a class="{% button_primary_classes %} fs-3 btn-lg btn-md-sm my-3 my-md-2 mb-lg-0"
               href="{% url 'web:studies-list' %}">{% trans "Participate in a Study" %}</a>
        </div>
        <div class="col d-none d-lg-block">
            <img class="img-fluid"
                 alt="CHS family collage 2"
                 src="{% static 'images/families-right.png' %}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="text-center mt-3 mt-lg-5 mb-3 text-red">{% bs_icon "clipboard-data-fill" size='3.5em' %}</div>
            <p class="home-subtitle-text fw-bold text-center">{% trans "Help Science" %}</p>
            <p class="m-3 m-lg-4">
                {% trans "This website has studies you and your child can participate in from your home, brought to you by researchers from universities around the world!" %}
            </p>
        </div>
        <div class="col-12 col-lg-4">
            <div class="text-center mt-3 mt-lg-5 mb-3 text-red">{% bs_icon "cup-hot-fill" size='3.5em' %}</div>
            <p class="home-subtitle-text fw-bold text-center">{% trans "From Home" %}</p>
            <p class="m-3 m-lg-4">
                {% trans "You and your child use your computer to participate. Some studies can also be done on a tablet or phone." %}
            </p>
        </div>
        <div class="col-12 col-lg-4">
            <div class="text-center mt-3 mt-lg-5 mb-3 text-red">{% bs_icon "balloon-heart-fill" size='3.5em' %}</div>
            <p class="home-subtitle-text fw-bold text-center">{% trans "With Fun Activities" %}</p>
            <p class="m-3 m-lg-4">
                {% trans "Many studies are either short games, or listening to a story and answering questions about it. Some are available at any time, and others are a scheduled video chat with a researcher." %}
            </p>
        </div>
        <div class="row text-center justify-content-evenly align-items-center">
            <p class="home-subtitle-text fw-bold mt-3 mb-3 mb-lg-5">
                {% trans "Join researchers from these schools, and many more!" %}
            </p>
            <div class="col-12 col-lg-4">
                <img class="img-fluid"
                     alt="Harvard University logo"
                     src="{% static 'images/logo-harvard.png' %}"/>
                <img class="img-fluid"
                     alt="Minerva University logo"
                     src="{% static 'images/logo-minerva.png' %}"/>
            </div>
            <div class="col-12 col-lg-4">
                <img class="img-fluid"
                     alt="UT Dallas logo"
                     src="{% static 'images/logo-utdallas.png' %}"/>
                <img class="img-fluid"
                     alt="Stanford University logo"
                     src="{% static 'images/logo-stanford.png' %}"/>
            </div>
            <div class="col-12 col-lg-4">
                <img class="img-fluid"
                     alt="MIT logo"
                     src="{% static 'images/logo-mit.png' %}"/>
                <img class="img-fluid"
                     alt="Yale University logo"
                     src="{% static 'images/logo-yale.png' %}"/>
            </div>
        </div>
        {% include "web/_studies-by-age-group.html" %}
    </div>
{% endblock content %}
