{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title>My experiment</title>
        {{ aws_vars|json_script:"aws-vars" }}
        <script src="https://unpkg.com/jspsych@8.0.2"
                integrity="sha384-Jv5oCjRKoeC3ZAbZHoc9+PbvlVKc6wIr1furnITdjHLbmxoC/tu+9cXzONlMoDEY"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@jspsych/plugin-html-keyboard-response@1.1.2"
                integrity="sha384-OkLOx/zqNc6it80uNeB4A6sI89Aa45ZwwYFOaCkDrFxluA24m2qKUZCTyjTDVkwf"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@jspsych/plugin-image-keyboard-response@1.1.2"
                integrity="sha384-n5lRhMXasLPtKtknOygWdXDGA2kzOIpkNO+S2G+CJrcM4nZZ3lUExDJ2SwFRz0xa"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@jspsych/plugin-preload@1.1.2"
                integrity="sha384-ieDTpJ57nlVDQBu9ti3FiIIqRDAYQWLVyNSvkkA241eFPk+63fwBqc0Rn+ePnSZt"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@lookit/data@0.0.3/dist/index.browser.min.js"
                integrity="sha384-gDlvj0f+Nir+fxF/IjZD8mZiBvwNXz1ajp8psYb2dhkaGqJXmzIgfy7eylEmcvdi"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@lookit/lookit-initjspsych@0.0.3"
                integrity="sha384-ghZFlznemGt1iMAhPkjZE0Rx2GUvDVWYI7ZT3CBFzH0lMKKsDSE40JGs0y9qDYNg"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@lookit/record@0.0.3"
                integrity="sha384-CCHogAxAP48YqVCsTrDcghkWDJNukavHguO0b9frh5SKDOg2yJS5MwloEG9To4jq"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@lookit/surveys@0.0.3"
                integrity="sha384-bwwB/VdOuzoVER5DCmAoyGRGTzCzXkoDwEtcB1H0vLTJuEo+K9v+5I2/0Dl9lftD"
                crossorigin="anonymous"></script>
        <link rel="stylesheet"
              href="https://unpkg.com/jspsych@7.3.3/css/jspsych.css"
              integrity="sha384-V/UDJ5gQqHFzUZFNp/XZxaqNCEGfcX0ExsYH3gH8dFRe6piMutG6hSKyCYJsql96"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://unpkg.com/@lookit/style@0.0.3/src/index.css"
              integrity="sha384-HyOLU4YcFqZrbUF6rR0sKjo4EWAZmux9QPTBX7j8IADuXTqflZ88M0V8DSYVIyAQ"
              crossorigin="anonymous">
        <script type="module">
                const responseUuid="{{ response.uuid }}";
                await chsData.load(responseUuid);
                initJsPsych = chsInitJsPsych(responseUuid);
                {% autoescape off %}{{ study.metadata.experiment }}{% endautoescape %}
        </script>
    </head>
</html>
