{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title>My experiment</title>
        {{ aws_vars|json_script:"aws-vars" }}
        <script src="https://unpkg.com/jspsych@8.0.3"
                integrity="sha384-YlD0H7IvUJqPzueP9WYLT0zKLtEnoNlbxZ5Kd4jg+3orRU5jXGk4ozBUMLqQ+SQ1"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@jspsych/plugin-html-keyboard-response@2.0.0"
                integrity="sha384-3rxt+0Ug6ruPv/HON9dlEFlhrBHhqZeHQizgSO59PsPIu0OGscC8sMgifOe7/uJG"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@jspsych/plugin-image-keyboard-response@2.0.0"
                integrity="sha384-BqelFj5L0Q3ifJf9rlngrTf8zZgfZhmaGwODK7vjHchtxS/Um3LVYj58qymHDn1i"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@jspsych/plugin-html-button-response@2.0.0"
                integrity="sha384-YkXp8JHPul+fAB8ACoBIXD4fMzweAXqwajNbmkFxKo0z4CEZJssZ5EWqMCefJs8J"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@jspsych/plugin-image-button-response@2.0.0"
                integrity="sha384-akngF9Va8sW0TdFvi4EsfM6SGOE94o2XZ+n99/QKYbVhdUEvX1h/OJdfa8yRoEPX"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@jspsych/plugin-video-button-response@2.0.0"
                integrity="sha384-u1N4HtXTAx8IPaZxRLKurCoPhFnSQ+TrF+33Lr1ORBhnRogBnU8Fd7tbPkFh1uUj"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@jspsych/plugin-preload@2.0.0"
                integrity="sha384-veBuhHbf5WLQIFlG9N6a+5E/kRYJcBTDKkqJRTkc7wuGwptljsBa2fYuTseMkOBI"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@jspsych/plugin-survey-text@2.1.0"
                integrity="sha384-wSdh5i8tkmhhMiddYPH0Sc0HNw6wDfVWT80sTyRdjs62ctEKZHPLDdF2WXj2sPa/"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@jspsych/plugin-survey-multi-choice@2.1.0"
                integrity="sha384-NDx/PP6brJOK2yI3xA9yYbsgRe6I7BUZ3jcBD9aiVRWNYiei88wLmzsMEdWGJXOr"
                crossorigin="anonymous"></script>
        {% comment %} Data and templates packages are peer dependencies and should be listed first. {% endcomment %}
        <script src="https://unpkg.com/@lookit/data@0.2.0"
                integrity="sha384-iMjDaQDmCTXe6XO59EktLBsg7KmDZZvT5jN/QMiP+ctA8YfQDT/hATDKM1EtoxBQ"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@lookit/templates@2.0.0"
                integrity="sha384-pFbKMtALU+nxncMjtRL7BOm4SjMZnsH7/5WJfLEhB4vcFIPPBuKgDjhxRxLBFsV0"
                crossorigin="anonymous"></script>
        {% comment %} End peer dependencies. {% endcomment %}
        <script src="https://unpkg.com/@lookit/lookit-initjspsych@2.0.1"
                integrity="sha384-LaIT76+kq1KHK5qcTSZeifJAxsf0esp46jXmRNmq0hULN+/nqZjD9TghNM55EU4J"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@lookit/record@3.0.1"
                integrity="sha384-p47ZKHOQWnb2EPQS2S3PIVDAmJmjLnu8a9eAHUp0fBoP6IzTj9RLdusUDGDvwcDk"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@lookit/surveys@3.0.0"
                integrity="sha384-VGTgnbjyqwY8iskMk78Ws8rD42Tt1L36O8siFiUxBGwPJki+OAukw3zUbGmyuEpt"
                crossorigin="anonymous"></script>
        <link rel="stylesheet"
              href="https://unpkg.com/jspsych@8.0.3/css/jspsych.css"
              integrity="sha384-JNNpz6XWsC9uPPHlCuf9rr6LrSD2uYvbkApP5kAp6g/lFBue51K1kMzxGawS50nK"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://unpkg.com/@lookit/style@0.1.0"
              integrity="sha384-o4Jr9BezLWmcw7oGKwKmv3K0zUwG/bGzbGeMBEfuMyyAsq8POYKOxuI0ID466t2J"
              crossorigin="anonymous">
        <script type="module">
                const responseUuid="{{ response.uuid }}";
                await chsData.load(responseUuid);
                initJsPsych = chsInitJsPsych(responseUuid);
                {% autoescape off %}{{ study.metadata.experiment }}{% endautoescape %}
        </script>
    </head>
</html>
