{% extends "web/studies-list.html" %}
{% load web_extras %}
{% block content %}
    {% if lab.banner %}
        <image class="img-fluid" src="{{ lab.banner.url }}"/>
    {% elif lab.badge %}
        <div class="row">
            <div class="col-3">
                <image class="img-fluid" src="{{ lab.badge.url }}"/>
            </div>
            <div class="col-9">
                <h1>{{ lab.name }}</h1>
            </div>
        </div>
    {% else %}
        {% page_title lab.name %}
    {% endif %}
    {{ lab.description|linebreaks }}
    {{ block.super }}
{% endblock content %}
