{% extends "web/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block title %}
    {% trans "Email Preferences" %}
{% endblock title %}
{% block content %}
    {% trans "Cancel" as trans_cancel %}
    {% trans "Save" as trans_save %}
    {% url 'web:email-preferences' as url_email_prefs %}
    <div class="row">
        <div class="col-4">{% include "accounts/_account-navigation.html" with current_page="email-preferences" %}</div>
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{% trans "I would like to be contacted when:" %}</h1>
                    <form method="post" action="">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% bootstrap_button trans_cancel href=url_email_prefs button_class="btn-secondary" %}
                        {% bootstrap_button trans_save name="password_update" button_class="btn-success" %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
