{% extends "web/base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load web_extras %}
{% load i18n %}
{% block title %}
    {% trans "Sign up to participate" %}
{% endblock title %}
{% block content %}
    {% bs_icon "plus" as bs_icon_plus %}
    {% trans "Create Account" as trans_create_account %}
    <div class="card">
        <div class="card-header">{% trans "Create Participant Account" %}</div>
        <div class="card-body">
            <div class="alert alert-info" role="alert">
                <p>{% trans "Ready to participate in a study with Children Helping Science? Create a family account here!" %}</p>
                <p>
                    {% trans "To make a researcher account, please use" %}
                    <a href="{% url 'accounts:researcher-registration' %}"
                       class="alert-link">{% trans "this registration form" %}</a>
                    {% trans "instead." %}
                </p>
            </div>
            <form method="post" action="">
                {% csrf_token %}
                {% bootstrap_form form %}
                <p>
                    {% trans "By clicking 'Create Account', I agree that I have read and accepted the " %} <a href="{% url 'web:privacy' %}" target="_blank" rel="noopener">{% trans "Privacy Statement" %}.</a>
                </p>
                {% form_buttons %}
                {% bootstrap_button bs_icon_plus|add:trans_create_account %}
            {% endform_buttons %}
        </form>
    </div>
</div>
{% endblock content %}
