{% extends "web/base.html" %}
{% load web_extras %}
{% load static %}
{% block title %}
    Publications
{% endblock title %}
{% block content %}
    {% page_title "Publications" %}
    <div class="pb-5">
        This page shows some of the scientific papers that have been published with data from children participating online! The number of researchers doing online studies has increased a huge amount in the past year, so we expect this list to grow quickly, especially with the help of all the families visiting <a href="{% url "web:home" %}">ChildrenHelpingScience.com</a>!
    </div>
    <div class="border-top border-bottom py-5">
        <p>
            Dunlea, J. P., Wolle, R. G., &amp; Heiphetz, L. (2022). <a href="https://columbiasamclab.weebly.com/uploads/5/9/0/6/59061709/dunlea_wolle_heiphetz_2022_unformatted.pdf"
    target="_blank"
    rel="noopener">The essence of an immigrant identity: Children's pro-social responses to others based on perceived ability and desire to change</a>. In K. Tobia and J. R. Beebe (Ed.), Experimental philosophy of identity and the self (pp. 217-230). New York, NY: Bloomsbury Publishing Inc.
        </p>
        <p>
            Colomer, M. &amp; Woodward, A. (2023). <a href="https://www.sciencedirect.com/science/article/pii/S0010027722002815?dgcid=author"
    target="_blank"
    rel="noopener">Should I learn from you? Seeing expectancy violations about action efficiency hinders social learning in infancy</a>. Cognition, 230, 105293.
        </p>
        <p>
            Dunlea, J. P., Goel, D., &amp; Heiphetz, L. (2022). <a href="https://columbiasamclab.weebly.com/uploads/5/9/0/6/59061709/dunlea_goel_heiphetz_2022_child_development_unformatted.pdf"
    target="_blank"
    rel="noopener">Children's socio-moral judgments and behaviors toward peers with and without incarcerated parents</a>. Child Development, 93, e515-e530.
        </p>
        <p>
            Payir, A., &amp; Heiphetz, L. (In press). <a href="https://columbiasamclab.weebly.com/uploads/5/9/0/6/59061709/payir_heiphetz_in_press_jcd.pdf"
    target="_blank"
    rel="noopener">Children's and adults' attribution of moral judgments to human and supernatural agents</a>. Journal of Cognition and Development.
        </p>
        <p>
            Kominsky, J. F., Begus, K., Bass, I., Colantonio, J., Leonard, J. A., Mackey, A. P., &amp; Bonawitz, E. (2021). <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8473607/"
    target="_blank"
    rel="noopener">Organizing the methodological toolbox: Lessons learned from implementing developmental methods online</a>. <em>Frontiers in Psychology</em>, 12.
        </p>
        <p>
            DeJesus, J. M., Venkatesh, S., &amp; Kinzler, K. D. (2021). Young children’s ability to make predictions about novel illnesses. Child Development, 92(5), e817-e831.
        </p>
        <p>
            Venkatesh, S., &amp; DeJesus, J. M. (2021). Studying Children’s Eating at Home: Using Synchronous Videoconference Sessions to Adapt to COVID-19 and Beyond. Frontiers in Psychology, 3088.
        </p>
        <p>
            Dunlea, J. P., &amp; Heiphetz, L. (2021). <a href="{% static "pubs/Dunlea_Heiphetz_In_Press_JEPG.pdf" %}"> Language shapes children’s attitudes: Consequences of internal, behavioral, and societal information in punitive and non-punitive contexts</a>. <em>Journal of Experimental Psychology: General</em>.
        </p>
        <p>
            Nussenbaum, K., Scheuplein, M., Phaneuf, C. V., Evans, M. D., &amp; Hartley, C. A. (2020). <a href="https://online.ucpress.edu/collabra/article/6/1/17213/114338"
    target="_blank"
    rel="noopener">Moving developmental research online: comparing in-lab and web-based studies of model-based reinforcement learning</a>. <em>Collabra: Psychology, 6</em>(1).
        </p>
        <p>
            Manning, B. L., Harpole, A., Harriott, E. M., Postolowicz, K., &amp; Norton, E. S. (2020). <a href="https://pubs.asha.org/doi/full/10.1044/2020_JSLHR-20-00202"
    target="_blank"
    rel="noopener">Taking language samples home: Feasibility, reliability, and validity of child language samples conducted remotely with video chat versus in-person.</a> <em>Journal of Speech, Language, and Hearing Research, 63</em>(12), 3982-3990.
        </p>
        <p>
            Sheskin, M., Scott, K., Mills, C.M., Bergelson, E., Bonawitz, E., Spelke, E., Fei-Fei, L., Keil, F., Gweon, H., Tenenbaum, J. B, Jara-Ettinger, J., Adplph, K., Rhodes, M., Frank, M. C., Mehr, S., Schulz, L. (2020). <a href="https://www.cell.com/trends/cognitive-sciences/fulltext/S1364-6613(20)30145-5"
    target="_blank"
    rel="noopener">Online developmental science to foster innovation, access, and impact</a>.&nbsp;<em>Trends in Cognitive Sciences</em>.
        </p>
        <p>
            Chuey, A., Lockhart, K., Sheskin, M., &amp; Keil, F. (2020). <a href="https://www.thechildlab.com/s/GeneralizeMech.pdf"
    target="_blank"
    rel="noopener">Children and adults selectively generalize mechanistic knowledge</a>.&nbsp;<em>Cognition</em>,&nbsp;<em>199</em>, 104231.
        </p>
        <p>
            Talbott, M.R., et al. (2019) <a href="{% static "pubs/Talbott_etal_2019.pdf" %}"
    target="_blank"
    rel="noopener">Brief Report: Preliminary Feasibility of the TEDI: A Novel Parent-Administered Telehealth Assessment for Autism Spectrum Disorder Symptoms in the First Year of Life</a>. Journal of Autism and Developmental Disorders.
        </p>
        <p>
            Chouinard, B., Scott, K., &amp; Cusack, R. (2019). Using automatic face analysis to score infant behaviour from video collected online.&nbsp;<em>Infant Behavior and Development</em>,&nbsp;<em>54</em>, 1-12.
        </p>
        <p>
            Johnston, A. M., Sheskin, M., &amp; Keil, F. C. (2019). <a href="https://www.thechildlab.com/s/Relevance.pdf"
    target="_blank"
    rel="noopener">Learning the Relevance of Relevance and the Trouble with Truth: Evaluating Explanatory Relevance across Childhoo</a>d.&nbsp;<em>Journal of Cognition and Development</em>,&nbsp;<em>20</em>, 555-572.
        </p>
        <p>
            Yoon, E. J., Frank, M. C.&nbsp;(2019).&nbsp;<a href="https://psyarxiv.com/r9zf4" target="_blank" rel="noopener">Preschool children's understanding of polite requests</a>.&nbsp;In <em>CogSci 2019 Conference</em>.
        </p>
        <p>
            Kominsky, J. F., Gerstenberg, T., Pelz, M., Sheskin, M., Singmann, H., Schulz, L., &amp; Keil, F. C. <a href="https://www.thechildlab.com/s/Trajectory.pdf"
    target="_blank"
    rel="noopener">The trajectory of counterfactual simulation in development</a>. In <em>CogSci 2019 Conference.</em>
        </p>
        <p>
            Chuey, A., Sheskin, M., &amp; Keil, F. (2018). <a href="https://www.thechildlab.com/s/MechanisticKnowledge.pdf"
    target="_blank"
    rel="noopener">Mechanistic Knowledge Generalizes Differentially</a>. In&nbsp;<em>CogSci 2018 Conference</em>.
        </p>
        <p>
            Sheskin, M., &amp; Keil, F. (2018). <a href="https://psyarxiv.com/rn7w5">TheChildLab. com A video chat platform for developmental research.</a> Posted as a resource at PsyArXiv
        </p>
        <p>
            Tran, M., Cabral, L., Patel, R., &amp; Cusack, R. (2017). Online recruitment and testing of infants with Mechanical Turk. <em>Journal of Experimental Child Psychology</em>, <em>156</em>, 168-178.
        </p>
        <p>
            Scott, K., Chu, J., &amp; Schulz, L. (2017). <a href="https://cbmm.mit.edu/sites/default/files/publications/lookitpart2.pdf"
    target="_blank"
    rel="noopener">Lookit (Part 2): Assessing the viability of online developmental research, results from three case studies</a>.&nbsp;<em>Open Mind</em>,&nbsp;<em>1</em>, 15-29.
        </p>
        <p>
            Scott, K., &amp; Schulz, L. (2017). L<a href="https://cbmm.mit.edu/sites/default/files/publications/lookitpart1.pdf"
   target="_blank"
   rel="noopener">ookit (part 1): A new online platform for developmental research</a>.&nbsp;<em>Open Mind</em>,&nbsp;<em>1</em>, 4-14.
        </p>
    </div>
    <div class="pt-5 small">
        If you know of a paper that should be added to this page (i.e., in includes data collected with children over the internet) please email us at childrenhelpingscience@gmail.com — thanks!
    </div>
{% endblock content %}
