{% extends "web/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% load web_extras %}
{% block title %}
    Scientists
{% endblock title %}
{% block content %}
    {% trans "Meet the Lookit team" as trans_meet_scientists %}
    {% page_title trans_meet_scientists %}
    <h2 class="{% subheading_classes %}">Core Lookit Team</h2>
    {% include "web/scientists/core-team.html" %}
    <h2 class="{% subheading_classes %}">Parent Researcher Collaborative</h2>
    {% include "web/scientists/parent-researcher-collaborative.html" %}
    <h2 class="{% subheading_classes %}">Affiliated Universities and Researchers</h2>
    {% include "web/scientists/affiliated-universities-and-researchers.html" %}
    <h2 class="{% subheading_classes %}">Working Groups</h2>
    {% include "web/scientists/working-groups.html" %}
    <h2 class="{% subheading_classes %}">Staff alumni</h2>
    {% include "web/scientists/staff-alumni.html" %}
    <h2 class="{% subheading_classes %}">Undergraduate student alumni</h2>
    {% include "web/scientists/undergrade-student-alumni.html" %}
{% endblock content %}
