{% extends 'web/default.html' %}

{% block content %}
<style>
    .profile-img img {
        border-radius: 50%;
        width: 100%;
        box-shadow: 4px 4px 8px 2px gray;
    }

    div.container .lookit-scientist h2,
    .lookit-scientist h3,
    .lookit-page-title h2 {
        text-align: center;
    }

    .scientists-row p {
        text-align: justify;
    }

    ul.affiliate-list {
        columns: 3;
    }

    ul.working-group-list {
        columns: 4;
    }

    .lookit-scientist {
        min-height: 400px !important;
    }

    .scientists-row .alumni .lookit-scientist>p {
        text-align: center;
    }
</style>

<div class="main">
    <div class="lookit-row lookit-page-title">
        <div class="container">
            <h2>Meet the Lookit team</h2>
        </div>
    </div>
    <div class="lookit-row scientists-row">
        <div class="container">
            <div class="row core-team">
                <h2>Core Team</h2>
                <hr>
                <div class="lookit-scientist col-xs-6 col-sm-3">
                    <div class="profile-img"><img src="https://images.squarespace-cdn.com/content/v1/6126c8e3cfefd4410af41836/1631222453488-GVKT2Y702UXNTX9R1582/IMG_0117.jpeg"></div>
                    <h3>CJ Green</h3>
                    <p>CJ is Lookit's lead software infrastructure engineer, working on planning and adding features for both participants and researchers.</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-3">
                    <div class="profile-img"><img src="https://lookitcontents.s3.amazonaws.com/website/laura.jpg"></div>
                    <h3>Laura Schulz</h3>
                    <p>Laura is the PI of the Early Childhood Cognition Lab. She conducts research about how children arrive at a common-sense understanding of the physical and social world through exploration and instruction.</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-3">
                    <div class="profile-img"><img src="https://images.squarespace-cdn.com/content/v1/6126c8e3cfefd4410af41836/1632270902704-FISLLHVUMDGVA40HX7HX/Screen+Shot+2021-09-21+at+8.34.02+PM.png"></div>
                    <h3>Melissa Kline Struhl</h3>
                    <p>Melissa Kline Struhl is the director of Lookit and a research scientist in the MIT Early Childhood Cognition Lab. She loves it when the data surprises her, and loves talking to researchers and families about how to make Lookit better.</p>
                </div>
                <div class="lookit-scientist col-xs-6 col-sm-3">
                    <div class="profile-img"><img src="https://lookitcontents.s3.amazonaws.com/website/mark.jpg"></div>
                    <h3>Mark Sheskin</h3>
                    <p>Mark organizes the Lookit Working Groups, which are groups of researchers working to improve Lookit in a variety of ways.</p>
                </div>
            </div>
            <div class="row">
                <h2>Affiliated Universities and Researchers</h2>
                <hr>
                <p>
                    As of March 2021, there are over 450 researchers in our community, and around 50 universities across seven countries affiliated with Lookit, including:
                </p>
                <ul class="affiliate-list">
                    <li> American University </li>
                    <li> Boston College </li>
                    <li> Boğaziçi University </li>
                    <li> University of British Columbia </li>
                    <li> Brown University </li>
                    <li> University at Buffalo </li>
                    <li> University of California, Davis </li>
                    <li> University of California, Los Angeles (UCLA) </li>
                    <li> University of California, San Diego (UCSD) </li>
                    <li> University of Chicago </li>
                    <li> Centre National de la Recherche Scientifique (CNRS) </li>
                    <li> Duke University </li>
                    <li> University of Essex </li>
                    <li> East Tennessee State University </li>
                    <li> George Mason University </li>
                    <li> Goldsmiths, University of London </li>
                    <li> Harvard University </li>
                    <li> Haskins Laboratories </li>
                    <li> University of Illinois </li>
                    <li> University of Kansas </li>
                    <li> Leiden University </li>
                    <li> University College London </li>
                    <li> Loyola University Chicago </li>
                    <li> University of Maryland (UMD) </li>
                    <li> Massachusetts Institute of Technology (MIT) </li>
                    <li> McMaster University </li>
                    <li> University of Pennsylvania </li>
                    <li> University of Nottingham </li>
                    <li> New York University (NYU) </li>
                    <li> University of Oregon </li>
                    <li> Rutgers University </li>
                    <li> Sacred Heart University </li>
                    <li> Skidmore College </li>
                    <li> Smith College </li>
                    <li> University of Southern California (USC) </li>
                    <li> Stanford University </li>
                    <li> University of Texas at Austin </li>
                    <li> University of Texas at Dallas </li>
                    <li> University of Tokyo </li>
                    <li> University of Toronto </li>
                    <li> University of Virginia </li>
                    <li> University of Washington </li>
                    <li> University of Waterloo </li>
                    <li> Western Sydney University </li>
                    <li> University of Wisconsin - Madison </li>
                    <li> Yale University </li>
                    <li> Yeshiva University </li>
                </ul>
                <p>
                    To learn about joining us, visit the <a href="https://lookit.readthedocs.io/en/develop/researchers-start-here.html" target="_blank" rel="noopener">guide to getting started!</a>
                </p>
            </div>
            <div class="row">
                <h2>Working Groups</h2>
                <hr>
                <p> Although the Core Team at MIT provides a foundation for Lookit to function, a lot of great additional work is done by the community of researchers using Lookit.
                    These efforts are organized as "Working Groups" that each have a different focus. For example, one Working Group is focused on increasing our sample size and diversity,
                    and another is focused on supporting new researchers as they learn how to use Lookit. A current list of members includes: </p>
                <ul class="working-group-list">
                    <li> Caspar Addyman </li>
                    <li> Catherine Best </li>
                    <li> Agata Bochynska </li>
                    <li> Katherine Casey </li>
                    <li> Lisa Chalik </li>
                    <li> Allie Chroust </li>
                    <li> Junyi Chu </li>
                    <li> Marc Colomer </li>
                    <li> Nicole Cuneo </li>
                    <li> Michaela C. DeBolt </li>
                    <li> Caitlin Fausey </li>
                    <li> Hyesung Grace Hwang </li>
                    <li> Liz Lapidow </li>
                    <li> Bria Long </li>
                    <li> AJ Orena </li>
                    <li> Maddie Pelz </li>
                    <li> Rico Rodriguez </li>
                    <li> Haley Weaver </li>
                    <li> Yang Wu </li>
                    <li> Francis Yuen </li>
                </ul>
            </div>

            <div class="row alumni">
                <h2>Staff alumni</h2>
                <hr>

                <div class="lookit-scientist col-xs-4 col-sm-3 col-lg-2">
                    <div class="profile-img"><img src="https://storage.googleapis.com/lookit-staging/static/images/kimandremy.png"></div>
                    <h3>Kim <br>Scott</h3>
                    <p>Founder and Director</p>
                </div>
                <div class="lookit-scientist col-xs-4 col-sm-3 col-lg-2">
                    <div class="profile-img"><img src="https://s3.amazonaws.com/lookitcontents/website/Rico.jpg"></div>
                    <h3>Rico <br>Rodriguez</h3>
                    <p>Software Engineer</p>
                </div>
            </div>

            <div class="row alumni">
                <h2>Undergraduate student alumni</h2>
                <hr>
                <div class="lookit-scientist col-xs-4 col-sm-3 col-lg-2">
                    <div class="profile-img"><img src="https://storage.googleapis.com/lookit-staging/static/images/joseph.jpg"></div>
                    <h3>Joseph <br>Alvarez</h3>
                    <p>Summer 2015</p>
                    <p>Skidmore College</p>
                </div>
                <div class="lookit-scientist col-xs-4 col-sm-3 col-lg-2">
                    <div class="profile-img"><img src="https://storage.googleapis.com/lookit-staging/static/images/daniela.jpg"></div>
                    <h3>Daniela <br>Carrasco</h3>
                    <p>Spring 2015 </p>
                    <p>MIT</p>
                </div>
                <div class="lookit-scientist col-xs-4 col-sm-3 col-lg-2">
                    <div class="profile-img"><img src="https://storage.googleapis.com/lookit-staging/static/images/jean.jpg"></div>
                    <h3>Jean <br>Chow</h3>
                    <p>Fall 2014</p>
                    <p>MIT</p>
                </div>
                <div class="lookit-scientist col-xs-4 col-sm-3 col-lg-2">
                    <div class="profile-img"><img src="https://storage.googleapis.com/lookit-staging/static/images/junyi.jpg"></div>
                    <h3>Junyi <br>Chu</h3>
                    <p>Summer 2015</p>
                    <p>Vanderbilt</p>
                </div>
                <div class="lookit-scientist col-xs-4 col-sm-3 col-lg-2">
                    <div class="profile-img"><img src="https://storage.googleapis.com/lookit-staging/static/images/annie.jpg"></div>
                    <h3>Annie <br>Dai</h3>
                    <p>IAP, Spring 2015</p>
                    <p>MIT</p>
                </div>
                <div class="lookit-scientist col-xs-4 col-sm-3 col-lg-2">
                    <div class="profile-img"><img src="https://storage.googleapis.com/lookit-staging/static/images/hope.jpg"></div>
                    <h3>Hope <br>Fuller-Becker</h3>
                    <p>Spring 2015, 2016</p>
                    <p>Wellesley College</p>
                </div>
                <div class="lookit-scientist col-xs-4 col-sm-3 col-lg-2">
                    <div class="profile-img"><img src="https://s3.amazonaws.com/lookitcontents/website/kamaria.jpg"></div>
                    <h3>Kamaria <br>Kaalund</h3>
                    <p>Fall 2019</p>
                    <p>Wellesley College</p>
                </div>
                <div class="lookit-scientist col-xs-4 col-sm-3 col-lg-2">
                    <div class="profile-img"><img src="https://storage.googleapis.com/lookit-staging/static/images/audrey.jpg"></div>
                    <h3>Audrey <br>Ricks</h3>
                    <p>Summer 2016</p>
                    <p>MIT</p>
                </div>
                <div class="lookit-scientist col-xs-4 col-sm-3 col-lg-2">
                    <div class="profile-img"><img src="https://storage.googleapis.com/lookit-staging/static/images/rianna.jpg"></div>
                    <h3>Rianna <br>Shah</h3>
                    <p>IAP, Sp, Fall 2015; IAP, Sp 2016; Sp 2018</p>
                    <p>MIT </p>
                </div>
                <div class="lookit-scientist col-xs-4 col-sm-3 col-lg-2">
                    <div class="profile-img"><img src="https://s3.amazonaws.com/lookitcontents/website/alice.jpg"></div>
                    <h3>Alice <br>Wang</h3>
                    <p>Summer 2017</p>
                    <p>Wellesley</p>
                </div>
                <div class="lookit-scientist col-xs-4 col-sm-3 col-lg-2">
                    <div class="profile-img"><img src="https://storage.googleapis.com/lookit-staging/static/images/jeanyu.jpg"></div>
                    <h3>Jean <br>Yu</h3>
                    <p>IAP, Spring 2015</p>
                    <p>Wellesley College</p>
                </div>
                <div class="lookit-scientist col-xs-4 col-sm-3 col-lg-2">
                    <div class="profile-img"><img src="https://storage.googleapis.com/lookit-staging/static/images/jessica.jpg"></div>
                    <h3>Jessica <br>Zhu</h3>
                    <p>Fall 2016</p>
                    <p>MIT</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
