{% extends "web/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load web_extras %}
{% load static %}
{% block title %}
    {% trans "Studies" %}
{% endblock title %}
{% block head %}
    <script src="{% static 'js/studies-list.js' %}" defer></script>
{% endblock head %}
{% block content %}
    <form action method="post">
        {% csrf_token %}
        {{ form.study_list_tabs }}
        <div class="d-flex align-content-center justify-content-evenly">
            <div class="pe-2">{% bootstrap_field form.child show_label=False %}</div>
            <div>{% bootstrap_field form.study_location show_label=False %}</div>
            <div class="p-2 flex-grow-1">{% bootstrap_field form.hide_studies_we_have_done %}</div>
            {% if user.is_anonymous %}
                <div class="p-2 flex-grow-1">Log in to find studies just right for your child!</div>
            {% endif %}
            <div class="pe-2">{% bootstrap_field form.search show_label=False %}</div>
            <div>
                {% trans "Clear" as clear_button_text %}
                {% bootstrap_button clear_button_text button_class="btn btn-light link-secondary border-secondary" button_type="reset" %}
            </div>
        </div>
    </form>
    <ul class="nav nav-tabs">
        {% for tab in form.study_list_tabs %}
            <li role="study_list_tabs"
                data-value="{{ tab.data.value }}"
                class="nav-item">
                <a class="nav-link" href="#">{{ tab.data.label }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="row active-tab-text">
        <p>
            {% studies_tab_text form.study_list_tabs as tab_text %}
            {{ tab_text|linebreaks }}
        </p>
    </div>
    <div class="row align-content-start">
        {% for study in object_list %}
            <div class="col-12 px-5 col-lg-3 px-lg-2">
                <a class="text-decoration-none link-dark p-3"
                   href="{% url 'web:study-detail' uuid=study.uuid %}">
                    <img src="{{ study.image.url }}"
                         class="img-fluid mx-auto d-block"
                         alt="{{ study.name }}"/>
                    <p>{{ study.name }}</p>
                    <p>{{ study.preview_summary }}</p>
                    <p>Learn More →</p>
                </a>
            </div>
        {% empty %}
            <div class="empty-text">{% trans "No studies found." %}</div>
        {% endfor %}
    </div>
    <div class="row px-2">
        <p>
            {% trans "Want to learn more about research with babies & children? Check out the " %}
            <a href="https://lookit.mit.edu/resources"
               target="_blank"
               rel="noreferrer noopener">{% trans "Resources" %}</a>
            {% trans "page for activities to try at home and developmental labs near you!" %}
        </p>
    </div>
{% endblock content %}
