{% extends 'web/base.html' %}
{% load bootstrap3 %}
{% block title %}Past Studies{% endblock %}

{% block flash %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <p>Your login credentials didn't work. Please try again.</p>
        </div>
    {% endif %}

    {% if next %}
        <div class="alert alert-danger" role="alert">
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    <div>
        <div class="lookit-row lookit-page-title">
            <div class="container">
                <h2>Past Studies</h2>
            </div>
        </div>
        {% bootstrap_messages %}
        <div class="container">
            <ul class="pt-sm nav nav-tabs">
                <li>
                    <a href="{% url 'web:studies-list' %}">Current studies</a>
                </li>
                <li class="active">
                    <a href="{% url 'web:studies-history' %}">Your past studies</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="tab-content">
            <div class="tab-pane active" role="tabpanel">
                <div class="lookit-row studies-row">
                    <div class="container">
                        <div id="past-studies">
                            {% if object_list %}
                                <div class="row study-detail-caption mb-lg">
                                    Here you can view your studies and see comments left by researchers:
                                </div>
                            {% endif %}
                            <div class="row">
                                <div>
                                    {% for study in object_list %}
                                        <div class="col-md-12">
                                            <div class="thumbnail">
                                                <div class="caption">
                                                    <!-- Title -->
                                                    <h3>{{ study.name }}</h3><!-- Study Info -->
                                                    <div class="study-feedback-experiment-info">
                                                        <div class="study-feedback-thumbnail-wrapper">
                                                            {% if study.image %}
                                                                <p class="image-block">
                                                                    <img class="study-list-thumbnail"
                                                                         height="150" width="auto"
                                                                         alt="Study Thumbnail"
                                                                         src="{{ study.image.url }}">
                                                                </p>
                                                            {% else %}
                                                                <div class="study-list-placeholder">
                                                                    <i aria-hidden="true" class="fas fa-flask"></i>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="study-feedback-description-wrapper">
                                                            {{ study.short_description }}
                                                            <div class="pt-sm">
                                                                <strong>Eligibility:</strong> {{ study.criteria }}<br>
                                                                <strong>Contact:</strong> {{study.contact_info}} <br>
                                                                <strong>Still collecting data?</strong> {% if study.state == 'active' %} Yes {% else %} No {% endif %} <br>
                                                                {% if study.compensation_description %} <strong>Compensation: </strong>{{study.compensation_description}}  {% endif %}
                                                                
                                                            </div>
                                                        </div>
                                                    </div><!-- Responses -->
                                                    <h4 class="study-feedback-label">Study Responses</h4>
                                                    <section class="session-media-boxes">
                                                        {% for response in study.responses.all %}
                                                            {% with videos=response.videos.all %}
                                                                <div class="media">
                                                                    <div class="media-left media-top">
                                                                        {% if videos.0.download_url %}
                                                                            <video controls
                                                                                   class="media-object"
                                                                                   width="200">
                                                                                {% for video in videos %}
                                                                                    <source src="{{ video.download_url }}"
                                                                                            type="video/mp4"
                                                                                            data-index="{{ forloop.counter }}">
                                                                                {% endfor %}
                                                                            </video>
                                                                            <button class="btn btn-primary btn-xs btn-block"
                                                                                    type="button">
                                                                                <span class="glyphicon glyphicon-arrow-right"
                                                                                      aria-hidden="true"></span> Next
                                                                                Video (<span class="video-number">1</span>/{{ videos | length }})
                                                                            </button>
                                                                        {% else %}
                                                                            <i aria-hidden="true"
                                                                               class="fas fa-question-circle fa-5x"></i>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <dl class="dl-horizontal">
                                                                            <dt>Child</dt>
                                                                            <dd>{{ response.child.given_name }}</dd>
                                                                            <dt>Date</dt>
                                                                            <dd>{{ response.date_created }}</dd>
                                                                            <dt>Consent status</dt>
                                                                            <dd>
                                                                                {% if response.most_recent_ruling == 'accepted' %}
                                                                                    Approved <br> Your consent video was reviewed by a researcher and is valid.
                                                                                {% elif response.most_recent_ruling == 'pending' %}
                                                                                    Pending <br> Your consent video has not yet been reviewed by a researcher.
                                                                                {% elif response.most_recent_ruling == 'rejected' %}
                                                                                    Invalid <br> There was a technical problem with your consent video, or it did not show you reading the consent statement out loud. Your other data from this session will not be viewed or used by the study researchers.
                                                                                {% else %}
                                                                                    No information about consent video review status.
                                                                                {% endif %}
                                                                            </dd>
                                                                            {% if response.feedback.all %}
                                                                                <dt>Feedback</dt>
                                                                                <dd>
                                                                                    <ul>	                                                                     
                                                                                        {% for feedback in response.feedback.all %}	                                                                          
                                                                                            <li class="response-feedback"> {{ feedback.comment }} </li>
                                                                                        {% empty %}	                                                     
                                                                                            <span class="response-feedback-none"><em>None</em></span>
                                                                                        {% endfor %}	                                                                    
                                                                                    </ul>
                                                                                </dd>
                                                                            {% endif %}
                                                                        </dl>
                                                                    </div>
                                                                </div>
                                                            {% endwith %}
                                                        {% endfor %}
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    {% empty %}
                                        <p><em> You have not yet participated in any studies. </em></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function handleVideoRotation(event) {
            if (event.target.tagName === 'BUTTON') {
                let button = event.target,
                    video  = button.parentElement.children[0];

                // This actually works.
                // See: https://stackoverflow.com/questions/7742305/changing-the-order-of-elements
                video.appendChild(video.firstElementChild);
                button.querySelector('span.video-number').innerHTML = video.firstElementChild.dataset['index'];

                video.load();
            }
        }

        document.getElementById('past-studies').addEventListener('click', handleVideoRotation);
    </script>
{% endblock %}
