{% extends "web/base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load i18n %}
{% load static %}
{% load web_extras %}
{% block title %}
    {% trans "Past Studies" %}
{% endblock title %}
{% block head %}
    <script src="{% static 'js/studies-history.js' %}" defer></script>
{% endblock head %}
{% block content %}
    {% bs_icon "arrow-right" as bs_icon_arrow_right %}
    {% trans "Next Video" as trans_next_video %}
    <form action method="post" class="d-none">
        {% csrf_token %}
        {{ form }}
    </form>
    <ul class="nav nav-tabs">
        {% for tab in form.past_studies_tabs %}
            <li class="nav-item"
                role="past_studies_tabs"
                data-value="{{ tab.data.value }}">
                <a class="nav-link" href="">{{ tab.data.label }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="m-3">
        {% if form.past_studies_tabs|studies_tab_selected == "0" %}
            {% trans "Lookit studies run here on our platform, and usually include a video of your session! " %}
            {% if object_list %}
                {% trans "You can find information about your previous study sessions, watch these videos, and see comments left by researchers below." %}
            {% endif %}
        {% elif form.past_studies_tabs|studies_tab_selected == "1" %}
            {% trans "External studies happen at other websites, and are listed below after you click the &quot;Participate Now&quot; button to follow a link. " %}
            {% if object_list %}
                {% trans "You can find information on the studies you have accessed and contact information for the researchers on a specific study below." %}
            {% endif %}
        {% endif %}
    </div>
    {% for study in object_list %}
        <div class="card mb-5">
            <div class="card-body">
                <h3 class="card-title">{{ study.name }}</h3>
                <div class="row">
                    <div class="col-3">
                        <img class="img-fluid"
                             alt="{% trans "Study Thumbnail" %}"
                             src="{{ study.image.url }}" />
                    </div>
                    <div class="col-9">
                        {{ study.short_description|linebreaks }}
                        <div>
                            <strong>{% trans "Eligibility" %}:</strong>
                            {{ study.criteria }}
                        </div>
                        <div>
                            <strong>{% trans "Contact" %}:</strong>
                            {{ study.contact_info }}
                        </div>
                        <div>
                            <strong>{% trans "Still collecting data?" %}</strong>
                            {% if study.state == 'active' %}
                                {% trans "Yes" %}
                            {% else %}
                                {% trans "No" %}
                            {% endif %}
                        </div>
                        {% if study.compensation_description %}
                            <div>
                                <strong>{% trans "Compensation" %}:</strong>
                                {{ study.compensation_description }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <h4 class="card-title">{% trans "Study Responses" %}</h4>
                {% for response in study.responses.all %}
                    <div class="row mb-3">
                        <div class="col-3 d-flex flex-column">
                            {% if response.videos.all %}
                                <video controls width="100%" height="auto">
                                    {% for video in response.videos.all %}
                                        <source src="{{ video.view_url }}"
                                                type="video/mp4"
                                                data-index="{{ forloop.counter }}" />
                                    {% endfor %}
                                </video>
                                <button class="{% button_primary_classes %} btn-sm next-video d-flex justify-content-center align-items-center"
                                        type="button">
                                    {{ bs_icon_arrow_right }}
                                    &nbsp;
                                    {{ trans_next_video }}
                                    (<span class="video-number">1</span>/{{ response.videos.all | length }})
                                </button>
                            {% else %}
                                <div class="border border-3 border-primary p-2">
                                    {% trans "No video recordings found." %}
                                    <p class="fst-italic text-muted">{% trans "Please allow 1-2 days after your session ends for videos to appear." %}</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col">
                            <div>
                                <strong>{% trans "Child" %}:</strong>
                                {{ response.child.given_name }}
                            </div>
                            <div>
                                <strong>{% trans "Date" %}:</strong>
                                {{ response.date_created }}
                            </div>
                            {% if study.show_consent %}
                                <div>
                                    <strong>{% trans "Consent status" %}:</strong>
                                    {% if response.most_recent_ruling == 'accepted' %}
                                        {% trans "Approved" %}.
                                        {% trans "Your consent video was reviewed by a researcher and is valid." %}
                                    {% elif response.most_recent_ruling == 'pending' %}
                                        {% trans "Pending" %}.
                                        {% trans "Your consent video has not yet been reviewed by a researcher." %}
                                    {% elif response.most_recent_ruling == 'rejected' %}
                                        {% trans "Invalid" %}.
                                        {% trans "There was a technical problem with your consent video, it did not show you reading the consent statement out loud, or the researcher determined that you did not meet the eligibility criteria. Your other data from this session will not be viewed or used by the study researchers." %}
                                    {% else %}
                                        {% trans "No information about consent video review status." %}
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if response.feedback.all %}
                                <div>
                                    <strong>{% trans "Feedback" %}:</strong>
                                    <ul>
                                        {% for feedback in response.feedback.all %}<li>{{ feedback.comment }}</li>{% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% empty %}
        <div class="empty-text">
            {% if form.past_studies_tabs|studies_tab_selected == "0" %}
                {% trans "You have not yet participated in any Lookit studies." %}
            {% elif form.past_studies_tabs|studies_tab_selected == "1" %}
                {% trans "You have not yet participated in any external studies." %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}
