{% extends 'web/base.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% load web_extras %}
{% block title %}{% trans "Studies" %}{% endblock %}

{% block flash %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
    <p>{% trans "Your login credentials didn't work. Please try again." %}</p>
</div>
{% endif %}

{% if next %}
<div class="alert alert-danger" role="alert">
    {% if user.is_authenticated %}
    <p>
        {% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}
    </p>
    {% else %}
    <p>{% trans "Please login to see this page." %}</p>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block content %}
{% bootstrap_messages %}
<div class="panel-default">
    <div class="panel-body">
        <form action method="post" class="study-list">
            {% csrf_token %}
            <div class="form-inline">
                {% bootstrap_field form.child show_label=False %}
                {% filter_chip form.hide_studies_we_have_done %}
                {% if user.is_anonymous %}
                <div class="form-group login-message">Log in to find studies just right for your child!</div>
                {% endif %}
                <div class="pull-right">
                    {% trans "Clear" as clear_button_text %}
                    {% bootstrap_field form.search show_label=False %}
                    {% bootstrap_button clear_button_text "reset" button_class="btn btn-default" %}
                </div>
            </div>
            <div class="filter-chip-container text-center">
                {% filter_chip form.lookit_studies %}
                {% filter_chip form.studies_outside_of_lookit %}
                {% filter_chip form.synchronous_studies %}
                {% filter_chip form.asynchronous_studies %}
            </div>
    </div>
    </form>
</div>
</div>

<div class="panel-default">
    <div class="panel-body">
        {% trans "Please note you'll need a laptop or desktop computer (not a mobile device) running Chrome or Firefox to participate." %}
    </div>
</div>

{% for study in object_list %}
<div class="panel panel-default study-list">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-10 col-xs-12">
                <h1>{{study.name}}</h1>
                <p><em>{{study.lab.name}} ({{study.lab.institution}})</em></p>
            </div>
            <div class="col-xs-2">
                <a class="btn {% if study.eligible_children %}btn-success{% endif %} btn-default text-center details-button" href="{% url 'web:study-detail' uuid=study.uuid %}" role="button">
                    {% trans "See details" %}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 left">
                <img src="{{study.image.url}}" class="img-responsive img-rounded" alt="Responsive image">
                <div class="study-criteria">
                    <small>
                        <p>{{study.criteria}}</p>
                        {% if study.eligible_children %}
                        <p><strong>{{ study.eligible_children }} {% trans 'may be eligible.' %}</strong></p>
                        {% endif %}
                        {% if study.study_type.is_external %}
                        <em>External study</em>
                        {% endif %}
                        <p></p>
                    </small>
                </div>
            </div>
            <div class="col-md-9 right">
                <div class="description">
                    <h3>{% trans 'What happens' %}</h3>
                    {{study.short_description|linebreaks}}
                    <h3>{% trans 'Purpose' %}</h3>
                    {{study.purpose|linebreaks}}
                </div>
            </div>
        </div>
    </div>
</div>
{% empty %}
<div class="col-xs-12">
    <p><em> {% trans "No studies found." %} </em></p>
</div>
{% endfor %}

{% if object_list %}
{% bootstrap_pagination object_list %}
{% endif %}

<div class="panel-default">
    <div class="panel-body">
        {% trans 'Looking for more ways to contribute to research from home? Check out <a href="https://childrenhelpingscience.com/" target="_blank" rel="noreferrer noopener">Children Helping Science</a> for even more studies!' %}
    </div>
</div>

<script>
    $(function () {
        const $form = $('form');
        const $hideStudiesCheckbox = $form.find('input:checkbox[name=hide_studies_we_have_done]')
        const $checkboxes = $form.find('input:checkbox')
        const $dropdownSelected = $form.find('select option:selected')

        if ($dropdownSelected.val() === '') {
            $hideStudiesCheckbox.attr('disabled', true);
        }

        $form.on('reset', function (event) {
            resetForm(submitForm);
        })

        function resetForm(callbackFn) {
            $form.find('input:text').attr('value', '')
            $checkboxes.attr('checked', true);
            $hideStudiesCheckbox.attr('checked', false)
            $dropdownSelected.removeAttr('selected');
            callbackFn()
        }

        function submitForm() {
            $checkboxes.attr('disabled', false);
            $form.submit()
        }

        $('select, input:checkbox').on('change', submitForm)

        document.querySelectorAll(".filter-chip").forEach(function (filterChip) {
            const checkbox = document.querySelector(`[name=${filterChip.dataset.name}]`);

            if (checkbox.hasAttribute('disabled')) {
                filterChip.setAttribute('disabled', '')
            }

            if (checkbox.checked) {
                filterChip.classList.add('btn-primary')
            }

            filterChip.addEventListener('click', function (event) {
                event.preventDefault()

                if (!filterChip.hasAttribute('disabled')) {
                    filterChip.classList.toggle('btn-primary');
                    checkbox.checked = !checkbox.checked;
                    submitForm()
                }
            })
        })
    });
</script>

{% endblock %}