{% load i18n %}
<p>
    {% trans "As of May 2026, there are over 3,000 researchers in our community, and around 200 universities affiliated with Lookit/Children Helping Science, including:" %}
</p>
{% for section, institutions in institution_sections %}
    <p>{{ section.name }}:</p>
    <ul style="columns:3">
        {% for institution in institutions|dictsort:"name" %}<li>{{ institution.name }}</li>{% endfor %}
    </ul>
{% endfor %}
<p>
    To learn about joining us, visit the
    <a href="https://lookit.readthedocs.io/en/develop/researchers-start-here.html"
       target="_blank"
       rel="noopener">guide to getting started!</a>
</p>
