{% load i18n %}
<p>
    {% trans "As of March 2023, there are over 950 researchers in our community, and over 90 universities affiliated with Lookit/Children Helping Science, including:" %}
</p>
{% for section, institutions in institution_sections %}
    <p>{{ section.name }}:</p>
    <ul style="columns:3">
        {% for institution in institutions %}<li>{{ institution.name }}</li>{% endfor %}
    </ul>
{% endfor %}
<p>
    To learn about joining us, visit the
    <a href="https://lookit.readthedocs.io/en/develop/researchers-start-here.html"
       target="_blank"
       rel="noopener">guide to getting started!</a>
</p>
