{% load static %}
<div class="row">
    <div class="col-3">
        <img class="img-fluid mx-auto d-block rounded-circle shadow mb-3"
             alt="CJ Green"
             src="{% static "images/cj-green.jpeg" %}"/>
        <h3 class="text-center">CJ Green</h3>
        <p>
            CJ is Lookit's lead software infrastructure engineer, working on planning and adding features for both participants and researchers.
        </p>
    </div>
    <div class="col-3">
        <img class="img-fluid mx-auto d-block rounded-circle shadow mb-3"
             alt="Laura Schulz"
             src="https://lookitcontents.s3.amazonaws.com/website/laura.jpg"/>
        <h3 class="text-center">Laura Schulz</h3>
        <p>
            Laura is the PI of the Early Childhood Cognition Lab. She conducts research about how children arrive at a common-sense understanding of the physical and social world through exploration and instruction.
        </p>
    </div>
    <div class="col-3">
        <img class="img-fluid mx-auto d-block rounded-circle shadow mb-3"
             alt="Melissa Kline Struhl"
             src="{% static "images/melissa-kline-struhl.png" %}"/>
        <h3 class="text-center">Melissa Kline Struhl</h3>
        <p>
            Melissa is the director of Lookit and a research scientist in the MIT Early Childhood Cognition Lab. She loves it when the data surprises her, and loves talking to researchers and families about how to make Lookit better.
        </p>
    </div>
    <div class="col-3">
        <img class="img-fluid mx-auto d-block rounded-circle shadow mb-3"
             alt="Mark Sheskin"
             src="https://lookitcontents.s3.amazonaws.com/website/mark.jpg"/>
        <h3 class="text-center">Mark Sheskin</h3>
        <p>
            Mark organizes the Lookit Working Groups, which are groups of researchers working to improve Lookit in a variety of ways.
        </p>
    </div>
</div>
