{% load static %}
{% load web_extras %}
{% static 'images/becky.jpg' as becky_img %}
{% static 'images/cj-green.jpeg' as cj_img %}
{% static 'images/melissa-kline-struhl.png' as melissa_img %}
{% static 'images/laura-schulz.jpeg' as laura_img %}
{% static 'images/mark-sheskin.jpg' as mark_img %}
<div class="row">
    {% staff_profile "Becky Gilbert" becky_img "Becky is a software engineer for Lookit. She loves helping researchers build experiments, and working on state-of-the-art methods for online data collection." %}
    {% staff_profile "CJ Green" cj_img "CJ is Lookit's lead software infrastructure engineer, working on planning and adding features for both participants and researchers." %}
    {% staff_profile "Melissa Kline Struhl" melissa_img "Melissa is the director of Lookit and a research scientist in the MIT Early Childhood Cognition Lab. She loves it when the data surprises her, and loves talking to researchers and families about how to make Lookit better." %}
    {% staff_profile "Laura Schulz" laura_img "Laura is the PI of the Early Childhood Cognition Lab. She conducts research about how children arrive at a common-sense understanding of the physical and social world through exploration and instruction." %}
    {% staff_profile "Mark Sheskin" mark_img "Mark organizes the Lookit Working Groups, which are groups of researchers working to improve Lookit in a variety of ways." %}
</div>
