<div class="row">
    <div class="col-2 text-center">
        <img class="img-fluid mx-auto d-block rounded-circle shadow mb-3"
             alt="Kim Scott"
             src="https://storage.googleapis.com/lookit-staging/static/images/kimandremy.png"/>
        <h3>
            Kim
            <br />
            Scott
        </h3>
        <p>Founder and Director</p>
    </div>
    <div class="col-2 text-center">
        <img class="img-fluid mx-auto d-block rounded-circle shadow mb-3"
             alt="Rico Rodriquez"
             src="https://s3.amazonaws.com/lookitcontents/website/Rico.jpg"/>
        <h3>
            Rico
            <br />
            Rodriguez
        </h3>
        <p>Software Engineer</p>
    </div>
</div>
