{% load static %}
{% load web_extras %}
{% static 'images/joseph-alvarez.jpg' as joseph_img %}
{% static 'images/daniela-carrasco.jpg' as daniela_img %}
{% static 'images/jean-chow.jpg' as jean_chow_img %}
{% static 'images/junyi-chu.jpg' as junyi_img %}
{% static 'images/annie-dai.jpg' as annie_img %}
{% static 'images/hope-fuller-becker.jpg' as hope_img %}
{% static 'images/audrey-ricks.jpg' as audrey_img %}
{% static 'images/rianna-shah.jpg' as rianna_img %}
{% static 'images/jean-yu.jpg' as jean_yu_img %}
{% static 'images/jessica-zhu.jpg' as jessica_img %}
{% static 'images/kamaria.jpg' as kamaria_img %}
{% static 'images/alice.jpg' as alice_img %}
<div class="row">
    {% staff_profile "Joseph<br />Alvarez" joseph_img "Summer 2015<br />Skidmore College" type="small" %}
    {% staff_profile "Daniela<br />Carrasco" daniela_img "Spring 2015<br />MIT" type="small" %}
    {% staff_profile "Jean<br />Chow" jean_chow_img "Fall 2014<br />MIT" type="small" %}
    {% staff_profile "Junyi<br />Chu" junyi_img "Summer 2015<br />Vanderbilt" type="small" %}
    {% staff_profile "Annie<br />Dai" annie_img "IAP, Spring 2015<br />MIT" type="small" %}
    {% staff_profile "Hope<br />Fuller-Becker" hope_img "Spring 2015, 2016<br />Wellesley College" type="small" %}
    {% staff_profile "Kamaria<br />Kaalund" kamaria_img "Fall 2019<br />Wellesley College" type="small" %}
    {% staff_profile "Audrey<br />Ricks" audrey_img "Summer 2016<br />MIT" type="small" %}
    {% staff_profile "Rianna<br />Shah" rianna_img "IAP, Sp, Fall 2015; IAP, Sp 2016; Sp 2018<br />MIT" type="small" %}
    {% staff_profile "Alice<br />Wang" alice_img "Summer 2017<br />Wellesley" type="small" %}
    {% staff_profile "Jean<br />Yu" jean_yu_img "IAP, Spring 2015<br />Wellesley Colleger" type="small" %}
    {% staff_profile "Jessica<br />Zhu" jessica_img "Fall 2016<br />MIT" type="small" %}
</div>
