<div class="row">
    <div class="col-2 text-center">
        <img class="img-fluid mx-auto d-block rounded-circle shadow mb-3"
             alt="Joseph Alvarez"
             src="https://storage.googleapis.com/lookit-staging/static/images/joseph.jpg"/>
        <h3 >
            Joseph
            <br />
            Alvarez
        </h3>
        <p >Summer 2015</p>
        <p >Skidmore College</p>
    </div>
    <div class="col-2 text-center">
        <img class="img-fluid mx-auto d-block rounded-circle shadow mb-3"
             alt="Daniela Carrasco"
             src="https://storage.googleapis.com/lookit-staging/static/images/daniela.jpg"/>
        <h3 >
            Daniela
            <br />
            Carrasco
        </h3>
        <p >Spring 2015</p>
        <p >MIT</p>
    </div>
    <div class="col-2 text-center">
        <img class="img-fluid mx-auto d-block rounded-circle shadow mb-3"
             alt="Jean Chow"
             src="https://storage.googleapis.com/lookit-staging/static/images/jean.jpg"/>
        <h3 >
            Jean
            <br />
            Chow
        </h3>
        <p >Fall 2014</p>
        <p >MIT</p>
    </div>
    <div class="col-2 text-center">
        <img class="img-fluid mx-auto d-block rounded-circle shadow mb-3"
             alt="Junyi Chu"
             src="https://storage.googleapis.com/lookit-staging/static/images/junyi.jpg"/>
        <h3 >
            Junyi
            <br />
            Chu
        </h3>
        <p >Summer 2015</p>
        <p >Vanderbilt</p>
    </div>
    <div class="col-2 text-center">
        <img class="img-fluid mx-auto d-block rounded-circle shadow mb-3"
             alt="Annie Dai"
             src="https://storage.googleapis.com/lookit-staging/static/images/annie.jpg"/>
        <h3 >
            Annie
            <br />
            Dai
        </h3>
        <p >IAP, Spring 2015</p>
        <p >MIT</p>
    </div>
    <div class="col-2 text-center">
        <img class="img-fluid mx-auto d-block rounded-circle shadow mb-3"
             alt="Hope Fuller-Becker"
             src="https://storage.googleapis.com/lookit-staging/static/images/hope.jpg"/>
        <h3 >
            Hope
            <br />
            Fuller-Becker
        </h3>
        <p >Spring 2015, 2016</p>
        <p >Wellesley College</p>
    </div>
    <div class="col-2 text-center">
        <img class="img-fluid mx-auto d-block rounded-circle shadow mb-3"
             alt="Kamaria Kaalund"
             src="https://s3.amazonaws.com/lookitcontents/website/kamaria.jpg"/>
        <h3 >
            Kamaria
            <br />
            Kaalund
        </h3>
        <p >Fall 2019</p>
        <p >Wellesley College</p>
    </div>
    <div class="col-2 text-center">
        <img class="img-fluid mx-auto d-block rounded-circle shadow mb-3"
             alt="Audrey Ricks"
             src="https://storage.googleapis.com/lookit-staging/static/images/audrey.jpg"/>
        <h3 >
            Audrey
            <br />
            Ricks
        </h3>
        <p >Summer 2016</p>
        <p >MIT</p>
    </div>
    <div class="col-2 text-center">
        <img class="img-fluid mx-auto d-block rounded-circle shadow mb-3"
             alt="Rianna Shah"
             src="https://storage.googleapis.com/lookit-staging/static/images/rianna.jpg"/>
        <h3 >
            Rianna
            <br />
            Shah
        </h3>
        <p >IAP, Sp, Fall 2015; IAP, Sp 2016; Sp 2018</p>
        <p >MIT</p>
    </div>
    <div class="col-2 text-center">
        <img class="img-fluid mx-auto d-block rounded-circle shadow mb-3"
             alt="Alice Wang"
             src="https://s3.amazonaws.com/lookitcontents/website/alice.jpg"/>
        <h3 >
            Alice
            <br />
            Wang
        </h3>
        <p >Summer 2017</p>
        <p >Wellesley</p>
    </div>
    <div class="col-2 text-center">
        <img class="img-fluid mx-auto d-block rounded-circle shadow mb-3"
             alt="Jean Yu"
             src="https://storage.googleapis.com/lookit-staging/static/images/jeanyu.jpg"/>
        <h3 >
            Jean
            <br />
            Yu
        </h3>
        <p >IAP, Spring 2015</p>
        <p >Wellesley College</p>
    </div>
    <div class="col-2 text-center">
        <img class="img-fluid mx-auto d-block rounded-circle shadow mb-3"
             alt="Jessica Zhu"
             src="https://storage.googleapis.com/lookit-staging/static/images/jessica.jpg"/>
        <h3 >
            Jessica
            <br />
            Zhu
        </h3>
        <p >Fall 2016</p>
        <p >MIT</p>
    </div>
</div>
